.analytics{min-height: calc(100vh - 100px);
	/*common*/
	.angucomplete-dropdown{padding: 0;margin-top: 1px;width: 99.8%;border: 1px solid #ccc;border-top: 0;
		.angucomplete-row{color: #343535;padding: 7px 16px;margin: 0;transition: padding .4s;}
		.angucomplete-selected-row{background-color: #f0f5f8;padding-left: 26px;}
		.angucomplete-searching{padding: 8px;}
		.highlight{color: #939393 !important}
	}
	/*end common*/
	&.bg-analytics{
		background: url(../images/analytics_bg.jpg) no-repeat;
    	background-size: cover;
    	background-position: 50% 10%;
	}
	.box{width: 100%;padding-bottom: 110px;
		.info{font-size: 48px;color: #fff;margin: 110px 0 62px;line-height: 64px;}
		.search{
			*{border-radius: 0}
			input{height: 64px;
				&:focus{border-color: #ddd;box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)}
			}
			.md-button{margin: 0;background: #02b892;color: #fff;font-size: 18px;width: 180px;
				&.has-min-val{font-size: 20px;box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)}
			}
		}
		.recent{padding: 0 48px;}
		.data{width: 86%;margin: 0 auto;
			.result{width: 48%;float: left;padding: 15px 0;border-bottom: 1px solid #ddd;
				&.head{font-weight: 600;color: #fff;font-size: 16px; padding-bottom: 3px;}
				&.empty{padding: 20px 0;}
				&:nth-child(odd){margin-right: 4%;}
				a{margin:0;color: #02b892;font-size: 16px;display: block;text-decoration: none;}
				span{color: #fff;display: inline-block;}		
			}
		}
	}
	.search-box{padding: 34px 0;overflow: hidden;
		.left{padding-right: 22px;width: 65%;
			.search{position: relative;
				input{border-radius: 0;height: 60px;border-color: #e4e5e6;padding-right: 55px;
					&:focus{border-color: #ddd;box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)}
				}
				i{position: absolute;right: 10px;top: 14px;font-size: 38px;color: #d3d7d6}
			}
			.result-count{padding: 10px 0 20px;color: #4596d9}
			.angucomplete-dropdown{width: 100%;}
			.result{border: 1px solid #e4e5e6;position: relative;
				.list{display:block;text-decoration:none;padding: 18px;border-bottom: 1px solid #e4e5e6;transition: all .5s;cursor: pointer;width: 100%;
					&:hover:not(.load){box-shadow: 0 8px 8px rgba(0,33,52,0.1), 0 0 8px rgba(0,33,52,0.1), 0 6px 18px rgba(0,33,52,0.1);}
					&:last-child{border: 0;}
					p{margin: 0 0 4px;color: #2e7eb1;font-weight: 600;font-size: 16px;}
					span{color: #808185;}
				}		
			}
		}
		.right{border: 1px solid #e4e5e6;width: 34%;
			.title{padding: 16px;font-size: 20px;color: #777777;font-weight: 600;border-bottom: 1px solid #e4e5e6;}
			.sec{padding: 16px;
				a{padding-bottom: 12px;cursor: pointer;transition: padding .4s;display: block;text-decoration: none;color: #448cb8;
					&:hover{padding-left: 8px;};
				}
			}
			.foot{background: #f2f6f9;color: #aeb9c0;padding: 16px;border-top: 1px solid #e4e5e6;

			}
		}
	}
}