$background : #eeeff1;

@mixin viewHeight($width){
    min-height: calc(100vh - #{$width});
    font-size: 16px;
}

@mixin box($color: #cdcdcd, $shadow: 1px){
    border: 1px solid $color;
    box-shadow: 1px $shadow 10px $color;
    -webkit-box-shadow: 1px $shadow 10px $color;
}

@mixin btnStyle($width, $height, $font: 18px, $color: #1c8f6e, $borderColor: #1c8368){
    width: $width;
    height: $height;
    font-size: $font;
    font-weight: 600;
    line-height: $height;
    background: $color;
    border: 1px solid $borderColor;
    color: #fff;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

@mixin transform($translate, $scale:.85){
    -webkit-transform: translate3d(0,$translate,0) scale($scale);
    transform: translate3d(0,$translate,0) scale($scale);
    color: #767877;
}

/* mdpicker */
md-dialog{
    md-dialog-content{
        div[layout='column']{
            md-toolbar{
                .mdp-datepicker-year{font-size: 18px;}
                .mdp-datepicker-date{font-size: 25px;}
            }
        }
        .mdp-calendar{
            .mdp-calendar-monthyear{font-size: 12px;}
            .mdp-calendar-week-days{font-size: 13px;}
        }
    }
    md-dialog-actions button.md-primary{color: #fff !important}
}


.campaigns{font-size: 14px;background:$background;

           /* sub header */
           .sub-header{background: #0e2d3f;height: 60px;
                       ul{list-style: none;margin: 0;padding: 0;clear: both;
                          li{display: inline-block;position: relative;padding: 27px 0px 6px 0px;margin: 0 15px;
                             &:first-child{margin-left: 0;};
                             a{color: #6b8b9a;outline: none;text-decoration: none;display: inline-block;letter-spacing: 0.5px;
                               &:hover, &.active{color: #fff;
                                                 .background.one{background-position: 0 130px;}
                                                 .background.two{background-position: 0 -79px;}
                                                 .background.three{background-position: 0 132px;}
                                                 &:before{position: absolute;color: #fff;content: '';top: 0px;bottom: 0;left: 0px;
                                                          right: 0px;border-bottom: 3px solid #14acff;};
                               };
                               &:focus{color: #fff;};
                               span.background{background: url("../images/settings.png");width: 20px;height: 20px;
                                               display: inline-block;margin-right: 5px;}
                               .background.one{}
                               .background.two{background-position: 0 -53px;}
                               .background.three{background-position: 0 155px;width:25px;}
                               span.text{vertical-align: text-bottom;}
                             }
                             &:last-child{float: right;padding: 0;margin: 0;padding-top: 5px;
                                a{margin: 0;padding: 12px 10px;line-height: normal;
                                    &:hover:before{border:0;};
                                }
                             };
                          }
                       }
           }

           /* md-input-container */
           md-input-container{
               .md-placeholder, label:not(.md-no-float):not(.md-container-ignore){@include transform(35px, 1)}
               &.md-input-has-value{
                   .md-select-value .md-select-icon:after{content: url("../images/arrow-dropdown-active.svg") !important;
                                                          display: inline !important;}
                   label:not(.md-no-float){@include transform(5px, 0.87)}
               }
               &:not(.md-input-invalid).md-input-focused{
                   label{@include transform(5px, 0.87)};
                   .md-input{border-width: 0 0 1px;}
               }
               .md-input{padding: 2px 2px 8px !important;height: 35px;}
               md-select{
                   &:not([disabled]):focus{
                       .md-select-value{border-bottom-width: 1px;}
                   };
                   .md-select-value{padding-bottom: 6px !important}
               }
           }

           /* mdPicker Styles */
           mdp-date-picker{
               .layout-align-start-start{width: 50%;float: left;position: relative;margin-right: 38px;
                                         .md-icon-button{position: absolute;width: auto;z-index: 1 !important;left: -8px;
                                                         md-icon{width: 20px;height: 20px;color: #757575}
                                         }
                                         md-input-container{width: 100% !important;
                                                            .md-input{padding: 0 0 0 25px !important}
                                         }
               }
           }
           mdp-time-picker{
               .md-errors-spacer{float: none;}
               .layout-align-start-start{width: 40%;float: left;position: relative;
                                         .md-icon-button{position: absolute;width: auto;z-index: 1 !important;left: -8px;
                                                         md-icon{width: 20px;height: 20px;color: #757575}
                                         }
                                         md-input-container{width: 100% !important;
                                                            .md-input{padding: 0 0 0 25px !important}
                                         }
               }
           }


           .all-campaigns{@include viewHeight(160px);
                          md-input-container.search{margin: 0}
                          .box{@include box(#cdcdcd, 4px);background: #fff;
                               .box-header{padding: 7px 15px;
                                           .col-sm-4{padding: 0;line-height: 48px;}
                                           .col-sm-3{padding: 0;margin-top: 8px;}
                                           md-input-container{margin: 0;width: 300px;
                                                              md-select{width: 60%;margin:0 auto;font-size: 16px;margin-top: 5px;}
                                                              .md-select-value{padding-bottom: 5px;color: #a9a9a9;
                                                                               &>span:not(.md-select-icon){max-width: 100%;-webkit-box-flex: 1;-webkit-flex: 1 1 auto;flex: 1 1 auto;
                                                                                                           text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
                                                              }
                                           }
                                           md-input-container.md-input-has-value{
                                               md-select{
                                                   md-select-value{
                                                       span:not(.md-select-icon){
                                                           color:initial;
                                                       }
                                                   }
                                               }
                                           }
                               }
                               .box-content{
                                   .grid{border: 0 !important;height: calc(100vh - 352px) !important;
                                         .ui-grid-header{height: 45px;line-height: 33px;border-top: 1px solid #c8d1d0;border-bottom: 1px solid #c8d1d0;}
                                         .ui-grid-viewport{
                                             .ui-grid-row{line-height: 60px;
                                                          .ui-grid-cell{
                                                              &.first-col{font-weight: bold}
                                                          }
                                             }
                                         }
                                         .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {background-color: #f8fcff  !important;cursor: pointer;}
                                   }
                               }
                               .box-footer{background: $background;padding: 16px;min-height: 68px;
                                           .paging{display: inline-block;
                                                   .pagination{margin: 0;margin-top: 3px;}
                                           }
                               }
                          }
                          /*.modal#no_edit{
                                  .modal-header{text-align: center;}
                                  .modal-body{height: 100px;}
                                  .modal-footer{padding: 10px 15px;
                                          .btn{width: 80px;height: 40px;background: #1c8f6e;border-color: #1c8f6e;outline: none;color: #fff;}
                                  }
                          }*/
           }

           .my-campaigns{@include viewHeight(160px)

           }

           .edit-campaigns{@include viewHeight(160px);
               .head{margin: 32px 0;
                    a{font-size: 16px;font-weight: bold;color: #555;
                       img{width: 20px;height: 20px;}
                       span{vertical-align: middle;margin-left: 15px}
                    }
                    .pull-right{outline: none;
                        img{width: 25px;height: 25px;}
                    }
               }
               .box{@include box();background: #fff;padding: 40px;
                    .content{color: #767877;
                        md-input-container input, md-input-container textarea, md-input-container .md-select-value .md-text{font-size: 17px}
                        .head-title{font-weight: 600;font-size: 17px;color: #545454;border-bottom: 1px solid #d8d8d8;padding-bottom: 10px;margin-bottom: 44px;}
                        .clearfix{
                            md-input-container{width: 32%;float: left;
                                &:first-child{margin-right: 68px;};
                                md-select{
                                    md-select-value{
                                        .md-text{color: #000;font-weight: bold;}
                                    }
                                }
                            }
                            md-radio-group{font-size: 18px;
                                md-radio-button{float: left;margin: 0;color: #767877;
                                    &.md-checked{color: #000}
                                    .md-label{margin-left: 27px;}
                                    &:not(:first-child){margin-left: 63px}
                                }
                            }
                        }
                        .location{
                            md-input-container{margin: 10px 0}
                        }

                        .btn-action{color: #3d80b8;font-weight: 600;font-size: 14px;}
                        .schedule{color: #333;
                            md-input-container{width: 79%;
                                input[aria-disabled="true"]{background: transparent;cursor: not-allowed !important;}
                            }
                            span.status{position: absolute;top: 28%;right: 18%;color: #d85c5e;}
                            .timesheet{position: relative;
                                .closed{position: absolute;right: 19.8%;top: 28px;width: 20px;z-index: 1}
                                .sib{position: relative;
                                    .date-time{
                                        input{border-radius: 0;box-shadow: none;cursor: pointer;}
                                        .input-group-addon{position: absolute;right: 16px;top: 10px;padding: 0;pointer-events: none;border:0;
                                            .glyphicon{font-size: 16px;}
                                        }
                                    }
                                    .has-error-msg.msg{position: absolute;bottom: 20px;left: 4px;}
                                }
                            }
                        }
                        .create-job{position: relative;width: 70%;
                            .btn-schedule{position: absolute;bottom: 7px;right: 0;z-index: 9}
                            .modern-select{
                                label{position: absolute;padding-left: 3px;-webkit-transform: translate3d(0, 8px, 0) scale(1);transform: translate3d(0, 8px, 0) scale(1);font-size: 16px;color: #767877;display: block !important;font-weight: normal;transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .25s;transition: transform cubic-bezier(.25,.8,.25,1) .25s;-webkit-transform-origin: left top;transform-origin: left top;}
                                .chosen-container{width: 100% !important;min-height: 34px;
                                    .chosen-choices{border: 0;box-shadow: none;background: none;border-bottom: 1px solid #d8d8d8;}
                                    .search-choice{margin: 4px 0 4px 5px;padding: 8px 20px 8px 5px;
                                        .search-choice-close{top: 8px;}
                                    }
                                    .search-field input{height: 34px;}
                                    .chosen-drop{border-top: 1px solid #aaa;top: 110%;}
                                }
                                .has-error-border{
                                   + .chosen-container{border-bottom: 1px solid red}
                                }
                                .chosen-container-active, .chosen-container-has-value{border-bottom: 1px solid #208d6e;
                                   label{-webkit-transform: translate3d(0, -21px, 0) scale(0.85);transform: translate3d(0, -21px, 0) scale(0.85);}
                                   .chosen-choices{border: 0; width: 75%;}
                                }
                           }
                        }
                        .careers{
                            h5.sub-head{font-weight: 600;}
                            .left{padding-right: 20px;
                                .uploads{height: 70px;background: #f9f9f9;border: 1px solid #dcdcdc;
                                    &.video{
                                        .qq-uploader{background: url("../images/add_video.png") no-repeat 12px 12px}
                                    }
                                    .qq-uploader{padding: 0;background: url("../images/add_photo.png") no-repeat 18px 18px;height: 68px;
                                        .qq-upload-button{background: transparent;text-align: left;
                                            input{width: 100%;}
                                            span{padding: 2px 0 0 30px;display: inline-block;color: gray;text-transform: none;font-size: 14px;
                                                &.head{padding-top: 5px;color: #56aadf;margin: initial;}
                                                &.desc{display: block;color: #bcbfc5}
                                            }
                                        }
                                        .qq-upload-drop-area{
                                            .drag_img{background: #f9f9f9;
                                                .img-thumbnail{width: 20%;float: left;padding: 6px;border: 0;background: transparent;margin-right: 14px;}
                                                p{color: #56b8ee;text-align: left;padding-top: 25px;font-weight: 600;max-width: 230px;}
                                            } 
                                        }
                                    }
                                }
                                .link{margin-top: 28px}
                                .link-box{position: relative;
                                    .close{position: absolute;right: 0;background: #eb6f6b;border-radius: 50%;width: 16px;height: 16px;opacity: 1;text-align: center;font-size: 16px; color: #fff;
                                        i{font-size: 12px;margin: 1px 2px;}
                                    }
                                }
                                .closed{position: absolute;right: 0;top: -24px;width: 20px}
                            }
                            md-input-container{width: 100%;margin-top: 0;
                                .description{min-height: 430px;max-height: 430px; overflow: auto;border: 1px solid #d8d8d8;height: 450px;padding: 10px 16px !important;font-size: 16px;}
                            }
                        }

                        /* .date{
                             p{margin: 0;}
                             md-input-container{
                                 label{left: 25px;}
                                 &.md-input-focused, &.md-input-has-value{
                                    label:not(.md-no-float){
                                         -webkit-transform: translate3d(0, 10px, 0) scale(0.87);
                                         transform: translate3d(0, 10px, 0) scale(0.87);
                                         color: #767877;
                                         margin-left: -25px;
                                         font-size: 18px;
                                    }
                                    //label{display: none !important;}
                                }
                            }
                            div.clearfix{position: relative;}
                            div.start{width: 45%;float: left;margin-right: 68px;}
                            div.ends{@extend div.start; margin: 0}
                            mdp-date-picker,mdp-time-picker{
                                &.has-error-border{
                                    .md-input{border-color: red;}
                                }
                            }
                            span.status{position: absolute;top: 36%;left: 101%;color: #d85c5e;}
                        } */
                         .add-schedule{font-size: 18px;font-weight: bold;margin-bottom: 30px;
                           a{font-weight: bold;font-size: 13px;margin-left: 5px;letter-spacing: 0.6px;
                             &:hover, &:focus, &:active{color: #38a48a;text-decoration: none;};
                           }
                           md-checkbox.md-checked .md-icon:after{left: 6.67px;top: 2.22px;}
                        } 
                        .tag-jobs{margin: 30px 0;font-size: 14px;font-weight: bold;
                           .drop{width: 45%;float: left;margin-right: 68px;
                                 p{
                                     span.pull-right{cursor: pointer;outline: none;color: #3d80b8;text-decoration: underline;font-weight: 600}
                                 }
                                 .modern-select{
                                     .chosen-container{width: 100% !important;min-height: 34px;
                                       .search-choice{margin: 4px 0 4px 5px;padding: 8px 20px 8px 5px;
                                                      .search-choice-close{top: 8px;}
                                       }
                                       .search-field input{height: 34px;}
                                       .chosen-drop{border-top: 1px solid #aaa;top: 110%;}
                                     }
                                     .has-error-border{
                                         + .chosen-container .chosen-choices{border-color: red}
                                     }
                                 }
                                 .has-error-msg{font-size: 16px;font-weight: normal;}
                           }
                        }
                         .upload-contacts{margin-bottom: 45px;}
                         .upload-files{@extend .add-schedule;
                            /* qq-uploader */
                            .qq-uploader{margin: 0;padding: 0;height: 100%;
                                         .qq-upload-button{background: transparent;height: 100%;width: 100%;text-shadow: none;font-weight: normal;text-transform: uppercase;
                                                           .align-title{position: absolute;top: 35%;width: 100%;left: 0;font-size: 18px;text-transform: capitalize;
                                                                        p{width: 80%;margin: 10px auto 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                                                           }
                                         }
                                         .qq-upload-drop-area{
                                             .file-name{width: 100%;height: 100%;
                                                        .name{position: absolute;width: 90%;bottom: 17px;font-size: 15px;left: 6%;
                                                              text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #fff;}
                                                        .overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0;opacity: 0.1;}
                                                        i.fa{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;background: #fff;border-radius: 4px;
                                                             display: none;cursor: pointer;}
                                                        &:hover{
                                                            .overlay,i.fa{display: block;};
                                                        }
                                             }
                                         }
                                         .qq-upload-list{z-index: -1;top: 65%;
                                                         li{height: 15px;
                                                            span:not(.qq-progress-bar){visibility: hidden;}
                                                         }
                                         }
                            }
                            .qq-upload-fail{position: absolute;font-size: 13px;color: #983a3a;white-space: nowrap;bottom: -25px;}
                            
                           .upload-pitch{display: inline-block;vertical-align: middle;position: relative;width: 115px;
                             .qq-uploader{
                                 .qq-upload-button{padding: 0;font-weight: bold;font-size: 13px;
                                                   letter-spacing: 0.6px;color: #219070}
                             }
                             .qq-upload-fail{top: 0;left: 123%;}
                             + .upload-box{border: 1px solid #ccc;margin-bottom: 20px;min-height: 50px;
                               .file{position: relative;padding: 15px;
                                     .progress-bar{width: 300px;position: absolute;height: 25px;}
                                     .filename{
                                         div.logo{background: url('../images/Applied.svg')}
                                         .name{color: #000;width: 50%;display: inline-block;vertical-align: middle;margin: 0 12px;}
                                         img{width: 20px;height: 20px;}
                                     }
                               }
                             }
                           }
                         }
                    }
                    .box-footer{border-top: 1px solid #ccc;padding: 20px 0;
                        .pull-right{
                            .btn-update{@include btnStyle(215px, 60px)}
                        }
                    }
               }
                .bucket-container{
                     .bucket-each{width: 13.5%;}
                }
           }
}
