$background : #eeeff1;

@mixin viewHeight($width){
	min-height: calc(100vh - #{$width});
	font-size: 16px;
}

@mixin box($color: #cdcdcd, $shadow: 1px){
	border: 1px solid $color;
	box-shadow: 1px $shadow 10px $color;
	-webkit-box-shadow: 1px $shadow 10px $color;
}

@mixin btnStyle($width, $height, $font: 18px, $color: #1c8f6e, $borderColor: #1c8368){
	width: $width;
    height: $height;
    font-size: $font;
    font-weight: 600;
    line-height: $height;
    background: $color;
    border: 1px solid $borderColor;
    color: #fff;
    /*cursor: pointer;*/
    outline: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

@mixin cancelBtn($margin, $width: 100px, $height: 60px, $font: 15px, $color : #777){
	width: $width;
    height: $height;
    display: inline-block;
    line-height: $height;
	/*margin-right: $margin;*/
	text-align: center;
	font-size: $font;
	color: $color;
	cursor: pointer;
	outline: none;
}

@mixin transform($translate, $scale:.85){
	-webkit-transform: translate3d(0,$translate,0) scale($scale);
	transform: translate3d(0,$translate,0) scale($scale);
	color: #767877;
}

/* modal new campaigns*/
/* Buckets View */
.bucket-container{overflow: hidden;
	h5{color:#767676;margin-bottom: 22px;}
	.bucket-each{width: 16.5%;margin: 0 18px 18px 0;float: left;height: 145px;
		.bucket{color:#fff;text-align: center;border-radius: 4px;outline: none;cursor:pointer;
			img{width: 16px;float: right;margin: 10px 10px;}
			h4{padding-top: 54px;;margin: 0;text-transform: uppercase;width: 90%;
				p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin: 0 auto;}
			}
			span{display: inline-block;padding-bottom: 50px;width: 100%;}
			div.popover{color:#000;top: 137px;left: 91px;border-radius: 0;
				.popover-content{padding:2px 10px;}
			}
		}
	}
}

/* mdpicker */
md-dialog{
	md-dialog-content{
		div[layout='column']{
			md-toolbar{
				.mdp-datepicker-year{font-size: 18px;}
				.mdp-datepicker-date{font-size: 25px;}
			}
		}
		.mdp-calendar{
			.mdp-calendar-monthyear{font-size: 12px;}
			.mdp-calendar-week-days{font-size: 13px;}
		}
	}
	md-dialog-actions button.md-primary{color: #fff !important}
}


.campaigns{font-size: 14px;background:$background;

	/* sub header */
	.sub-header{background: #0e2d3f;height: 60px;
		ul{list-style: none;margin: 0;padding: 0;clear: both;
			li{display: inline-block;position: relative;padding: 27px 0px 6px 0px;margin: 0 15px;
				&:first-child{margin-left: 0;};
				a{color: #6b8b9a;outline: none;text-decoration: none;display: inline-block;letter-spacing: 0.5px;
					&:hover, &.active{color: #fff;
						.background.one{background-position: 0 130px;}
						.background.two{background-position: 0 79px;}
						.background.three{background-position: 0 30px;}
						&:before{position: absolute;color: #fff;content: '';top: 0px;bottom: 0;left: 0px;
						right: 0px;border-bottom: 3px solid #14acff;};
					};
					&:focus{color: #fff;};
					span.background{background: url("../images/settings.png");width: 20px;height: 20px;
						display: inline-block;margin-right: 5px;}
					.background.one{}
					.background.two{background-position: 0 105px;}
					.background.three{background-position: 0 211px;width:25px;}
					span.text{vertical-align: text-bottom;}
				}
				&:last-child{float: right;padding: 0;margin: 7px 0;outline: none;
					span{@include btnStyle(215px, 44px, 16px)}
				};
			}
		}
	}

	/* md-input-container */
	md-input-container{
		.md-placeholder, label:not(.md-no-float):not(.md-container-ignore){@include transform(35px, 1)}
		&.md-input-has-value{
			.md-select-value .md-select-icon:after{content: url("../images/arrow-dropdown-active.svg") !important;
				display: inline !important;}
			label:not(.md-no-float){@include transform(5px, 0.87)}
		}
		&:not(.md-input-invalid).md-input-focused{
			label{@include transform(5px, 0.87)};
			.md-input{border-width: 0 0 1px;}
		}
		.md-input{padding: 2px 2px 8px !important;height: 35px;}
		md-select{
			&:not([disabled]):focus{
				.md-select-value{border-bottom-width: 1px;}
			};
			.md-select-value{padding-bottom: 6px !important}
		}
	}

	/* mdPicker Styles */
	mdp-date-picker{
		.layout-align-start-start{width: 50%;float: left;position: relative;margin-right: 38px;
			.md-icon-button{position: absolute;width: auto;z-index: 1 !important;left: -8px;
				md-icon{width: 20px;height: 20px;color: #757575}
			}
			md-input-container{width: 100% !important;
				.md-input{padding: 0 0 0 25px !important}
			}
		}
	}
	mdp-time-picker{
		.layout-align-start-start{width: 40%;float: left;position: relative;
			.md-icon-button{position: absolute;width: auto;z-index: 1 !important;left: -8px;
				md-icon{width: 20px;height: 20px;color: #757575}
			}
			md-input-container{width: 100% !important;
				.md-input{padding: 0 0 0 25px !important}
			}
		}
	}

	/* qq-uploader */
	.qq-uploader{margin: 0;padding: 0;height: 100%;
		.qq-upload-button{background: transparent;height: 100%;width: 100%;text-shadow: none;font-weight: normal;text-transform: uppercase;
			.align-title{position: absolute;top: 35%;width: 100%;left: 0;font-size: 18px;text-transform: capitalize;
				p{width: 80%;margin: 10px auto 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
			}
		}
		.qq-upload-drop-area{
			.file-name{width: 100%;height: 100%;
				.name{position: absolute;width: 90%;bottom: 17px;font-size: 15px;left: 6%;
					text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #fff;}
				.overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0;opacity: 0.1;}
				i.fa{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;background: #fff;border-radius: 4px;
					display: none;cursor: pointer;}
				&:hover{
					.overlay,i.fa{display: block;};
				}
			}
		}
		.qq-upload-list{z-index: -1;top: 65%;
			li{height: 15px;
				span:not(.qq-progress-bar){visibility: hidden;}
			}
		}
	}
	.qq-upload-fail{position: absolute;font-size: 13px;color: #983a3a;white-space: nowrap;bottom: -25px;}


	.all-campaigns{@include viewHeight(160px);
		md-input-container.search{margin: 0}
		.filter{padding-top: 25px;border-bottom: 1px solid #cccdcf;
			p.title{color: #4e5f69;font-size: 16px;font-weight: bold;}
			ul{margin: 0;padding: 0;list-style: none;
				li{margin-bottom: 20px;
					ul{margin-left: 26px;
						li{font-size: 15px;margin: 12px 0;}
					}
				}
			}
			.checkbox{margin: 12px 0;
				/*input[type='checkbox']{opacity: 0;
					+label{position: relative;
						&:before{content: '';width: 20px;height: 20px;position: absolute;border: 1px solid #999;
							left: -8px;border-radius: 2px;}
					}
					&:checked{
						+label:before{background: #2393d3;border-color: #2393d3;}
						+label:after{content: '';width: 8px;height: 15px;position: absolute;border: 2px solid #fff;
						transform: rotate(45deg);border-top: 0;border-left: 0;left: -2px;}
					};
				}*/
				md-checkbox{margin-bottom: 2px;
					.md-label{margin-left: 26px;}
					&:not([disabled]).md-primary.md-checked{
						.md-icon{background-color: rgba(41, 146, 211, 1)}
						.md-ink-ripple{color: rgba(41, 146, 211, 0.54)}
					}
				}
				.modern-select{margin: 16px 0;
					.chosen-container{width: 100% !important;
						input{width: auto !important;}
						&.chosen-container-active{input{width: 80px !important;}}
						ul.chosen-choices{margin: 0;padding-left: 5px;
							li{height: 30px;line-height: 24px;margin: 6px 0;}
							li.search-choice{background: #f4f6f5;border-color: #e1e3e2;margin-right: 5px;
								&:hover{border-color: #46b8ff;};
								.search-choice-close{top: 9px;}
							}
							li.search-field input{height: 100%;}
						}
						.chosen-drop{
							ul{margin: 0;
								li{margin: 7px 0;}
							}
						}
					}	
				}
			}
		}
		.action{
			div{text-align: right;
				span{padding: 15px 10px;display: inline-block;font-size: 14px;outline: none;}
			}
		}
		.box{@include box(#cdcdcd, 4px);background: #fff;
			.box-header{padding: 7px 15px;line-height: 48px;
				.search{
					&.has-feedback{position: relative;
						.feedback{position: absolute;z-index: 2;display: block;width: 20px;height: 20px;
							line-height: 30px;text-align: center;
							&.right{top: 18px;right: 0;width: 17px;height: 17px;}
							&.left{top: 14px;left: 0;pointer-events: none;}
						}
					}
					input{border: 0;border-bottom: 1px solid #c8d1d0;border-radius: 0;box-shadow: none;height: 34px;padding: 5px 30px;outline: none;
						&:focus{border-color: #208d6e};
					}
				}
			}
			.box-content{
				.grid{height: calc(100vh - 275px) !important;overflow: hidden;min-height: 411px;
					.grid-msg-overlay{top: 45px;}
					.ui-grid-header{height: 45px;line-height: 33px;border-top: 1px solid #c8d1d0;border-bottom: 1px solid #c8d1d0;
						.ui-grid-top-panel{background: #f3f7f8;
							.ui-grid-header-cell-row{
								.ui-grid-header-cell{border-right: 0;padding-left: 15px;padding-right: 15px; 
									&:focus{outline: none};
									div[role='columnheader']{
										.ui-grid-cell-contents{color: #959698;font-size: 12px;
											&:focus{outline: none};
										}
										&:focus{outline: none};
									}
								}
							}
						}
					}
					.ui-grid-viewport{overflow-y: auto !important; 
						.ui-grid-row{line-height: 70px;border-bottom: 1px solid #ececec;
							.ui-grid-cell{font-weight: normal;text-transform: capitalize;
								&.first-col{font-weight: bold}
							}
							div[ui-grid-row='row']{height: 100%;}
							.ui-grid-cell{height: 100%;background: #fff;border-right: 0;padding-left: 15px;padding-right: 15px;color: #4a4848;
								&.open{color: #2db084}
								&.closed{color: #d85c5e}
							}
							&:nth-child(even){
								.ui-grid-cell{background: #fff};
							}
						}
					}
					.ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {background-color: #f8fcff  !important;cursor: pointer;}
				}
			}
		}
	}

	.my-campaigns{@include viewHeight(160px)

	}

	.edit-campaigns{@include viewHeight(160px);
		.head{margin: 32px 0;
			a{font-size: 16px;font-weight: bold;color: #555;
				img{width: 20px;height: 20px;}
				span{vertical-align: middle;margin-left: 15px}
			}
		}
		.box{@include box();background: #fff;padding: 40px;
			.content{color: #767877;
				.clearfix{
					md-input-container{width: 45%;float: left;
						&:first-child{margin-right: 68px;};
						md-select{
							md-select-value{
								.md-text{color: #000;font-weight: bold;}
							}
						}
					}
					md-radio-group{font-size: 18px;
						md-radio-button{float: left;margin: 0;color: #767877;
							&.md-checked{color: #000}
							.md-label{margin-left: 27px;}
							&:not(:first-child){margin-left: 63px}
						}
					}
				}
				.location{
					md-input-container{margin: 10px 0}
				}
				.date{
					p{margin: 0;}
					md-input-container{
						label{left: 25px;}
						&.md-input-focused, &.md-input-has-value{
							label{display: none !important;}
						}
					}
					div.start{width: 45%;float: left;margin-right: 68px;}
					div.ends{@extend div.start; margin: 0}
					mdp-date-picker,mdp-time-picker{
						&.has-error-border{
							.md-input{border-color: red;}
						}
					}
				}
				.add-schedule{font-size: 18px;font-weight: bold;margin-bottom: 30px;
					a{font-weight: bold;font-size: 13px;margin-left: 5px;letter-spacing: 0.6px;
						&:hover, &:focus, &:active{color: #38a48a;text-decoration: none;};
					}
					md-checkbox.md-checked .md-icon:after{left: 6.67px;top: 2.22px;}
				}
				.tag-jobs{margin-bottom: 30px;font-size: 14px;font-weight: bold;
					.drop{width: 45%;float: left;margin-right: 68px;
						p{margin-bottom: 20px;}
					 	.modern-select{
					 		.chosen-container{width: 100% !important;min-height: 34px;
						 		.search-choice{margin: 4px 0 4px 5px;padding: 8px 20px 8px 5px;
						 			.search-choice-close{top: 8px;}
						 		}
						 		.search-field input{height: 34px;}
						 		.chosen-drop{border-top: 1px solid #aaa;top: 110%;}
						 	}
						 	.has-error-border{
						 		+ .chosen-container .chosen-choices{border-color: red}
						 	}
					 	}
					 	.has-error-msg{font-size: 16px;font-weight: normal;}
					}
				}
				.upload-contacts{margin-bottom: 45px;
					/*p.title{font-size: 16px;margin: 0 0 16px;}
					.upload-bucket{width: 17%;border: 1px solid #ccc;height: 140px;position: relative;
						font-size: 18px;float: left;margin-right: 25px;border-radius: 5px;
						&.new-bucket{background: #f3f7fa;border-style: dashed;border-width: 2px;color: #777;font-weight: bold;
							p{position: absolute;top: 42%;width: 100%;left: 0;font-size: 18px;text-align: center;}
						}
					}*/
				}
				.social-media{margin-bottom: 60px;
					md-checkbox{font-size: 18px;font-weight: bold;margin-bottom: 30px;
						&.md-checked .md-icon:after{left: 7.67px;top: 3.22px;}
					}
					.nav{border-bottom: 2px solid #50abf2;
						li{width: 75px;height: 75px;background: transparent;border: 0;margin-right: 10px;margin-bottom: -2px;
							a{padding: 9px;border-width: 2px !important;
								i{font-size: 52px;color: #fff}
								span{display: block;
									&.twitter{height: 56px;width: 56px;background: #55acee}
									&.facebook{height: 56px;width: 56px;background: #3b5998}
									&.gmail{height: 56px;width: 56px;background: #dd4b39}
								}
								&:hover{border-color: transparent;};								
							}
							&.active{
								a{border-color: #50abf2;border-width: 2px;border-top: 2px solid #50abf2 !important;border-bottom: 0;
									&:hover{border-color: #50abf2;};
								}
								
							}
						}
					}
					.tab-content{border: 2px solid #50abf2;border-top: 0;padding: 15px;position: relative;
						textarea{border: 0;width: 100%;resize: none;
							&:focus{outline: none;};
						}
						.action{position: absolute;bottom: -52px;right: 0;/* padding: 10px; */height: 42px;text-align: center;
							line-height: 42px;border-radius: 5px;
							.action-btn{width: 126px;height: 100%;display: inline-block;border-radius: 5px;color: #fff;margin-left: 20px;}
						}
						.media{border: 1px solid #ccc;padding: 10px;
							div{float: left;}
							.company-name{width: 20%;font-size: 20px;text-transform: capitalize;line-height: 75px}
							.campaign-description{width: 60%;border-width: 0 1px 0 1px;border-style: solid;
								border-color: #ccc;text-transform: capitalize;padding: 0 20px;
								b{font-size: 20px;}
							}
							.location{width: 20%;text-align: center;padding: 10px 0;color: #2693d6;
								img{width: 35px;height: 35px;}
								p{margin: 0;}
							}
						}
					}
				}
				.upload-files{@extend .add-schedule;
					/*a.upload-file{display: inline-block;vertical-align: middle;
						.qq-uploader{
							.qq-upload-button{color: #219070;font-weight: bold;text-align: left;padding: 0}
						}
					}*/
					.upload-pitch{display: inline-block;vertical-align: middle;position: relative;
						.qq-uploader{
							.qq-upload-button{padding: 0;font-weight: bold;font-size: 13px;margin-left: 5px;
								letter-spacing: 0.6px;color: #219070}
						}
						.qq-upload-fail{top: 0;left: 123%;}
						+ .upload-box{border: 1px solid #ccc;margin-bottom: 20px;min-height: 50px;
							.file{position: relative;padding: 15px;
								.progress-bar{width: 300px;position: absolute;height: 25px;}
								.filename{
									div.logo{background: url('../images/Applied.svg')}
									.name{color: #000;width: 50%;display: inline-block;vertical-align: middle;margin: 0 12px;}
									img{width: 20px;height: 20px;}
								}
							}
						}
					}
				}
			}
			.box-footer{border-top: 1px solid #ccc;padding: 20px 0;
				.pull-right{
					.btn-cancel{@include cancelBtn(22px, 100px, 60px)}
					.btn-update{@include btnStyle(215px, 60px)}
				}
			}
		}
	}
}