.new-campaign{overflow: hidden;
    .pac-container { z-index: 1051 !important;}
    .modal{overflow-y: auto;
        .modal-dialog{width: 986px;position: relative;top: 90px;
            .modal-content{border-radius: 0;
                .modal-header{padding: 24px 20px;background: #eeeeee;
                    h3{display: inline-block;margin: 0;margin-left: 26px;color: #333333;}
                    img{width: 25px;height: 25px;outline: none;}
                    img.pull-left{width: 30px;height: 26px;}
                }
                .modal-body{padding:35px 92px 8px 92px;
                    .process-steps{width: 79%;margin: 16px 70px;height:66px;
                        .step-four{width:0 !important;}
                        .step{width: 48.5333%;border-top: 3px solid #dddddd;position: relative;float:left;
                            md-radio-group{pointer-events: none;background: #dddddd;position: absolute;top:-1px;
                                md-radio-button.md-checked{
                                    .md-on{background: #33a486;}
                                    .md-off{border-color:#33a486;}
                                    .md-label{color:#33a486;}
                                }
                                .md-container{background: #fff;width: 24px;height: 25px;}
                                .md-off,.md-on{width: 24px;height: 24px; border-color: #ddd;border-width: 3px;}
                                .md-on{background:#ddd;transform: scale(0.5);border-width: 1px;}
                                .md-label{display: block;width: 166px;text-align: center;position: absolute;top: 14px;left: -101px;color:#999999;}
                            }
                         }
                    }
                    .box-campaign{
                        div{
                            md-input-container{width: 45%;
                                &:first-child{float:left;}
                                &:last-child{float:right;}
                            }
                            md-radio-group{
                                md-radio-button{float:left;margin:6px 66px 0 3px;font-size: 18px;
                                    &.md-checked{
                                        .md-off{border-color:#2992d3;}
                                        .md-on{background:#2992d3; }	
                                    }
                                }
                                .md-ripple-container{display: none !important;}
                            }
                            mdp-date-picker,mdp-time-picker {
                                &.has-error-border{
                                    input{border-color:red;}
                                }
                                .layout-align-start-start{width: 30%;float: left;position: relative;margin-right: 8px;
                                    button{overflow: visible;padding: 18px 0 0 0;top: 0;z-index: 999999;left:-8px;
                                        md-icon{position: absolute;top:4px;left: 6px;}
                                    }
                                }
                                .md-input-focused,.md-input-has-value{
                                    label:not(.md-no-float){-webkit-transform: translate3d(0, 10px, 0) scale(0.87) !important;transform: translate3d(0, 10px, 0) scale(0.87) !important;color: #767877;font-size: 19px;margin-left: -36px;}
                                }
                                label{font-size: 16px;margin-left: -7px}
                                md-input-container{width: 100% !important;height: 40px;
                                    &:not(.md-input-focused), &:not(.md-input-has-value){
                                        label:not(.md-no-float):not(.md-container-ignore){-webkit-transform: translate3d(0,32px,0) scale(1);transform: translate3d(0,32px,0) scale(1);}
                                    }
                                    .md-errors-spacer + div{top: 38px;left: -34px;position: absolute;}
                                    input{position: absolute;left: -36px;padding-left: 30px !important;}
                                }
                            }
                        }
                        #frm3{
                            .has-error-msg{margin-top: -20px}
                        }
                        .add-schedule{
                            a{vertical-align: text-top;}
                        }
                        textarea{min-height:35px;font-size: 18px}
                        md-checkbox.md-checked{
                            .md-icon{background: #2393d3;}
                        }
                        .post{
                            li.facebook{
                                a{
                                    i{background: #4d71ab}
                                }
                            }
                            li.google{
                                a{
                                    i{background: #e04a39}
                                }
                            }
                            li{width: auto !important;height: auto!important;border: 0px;background: transparent;margin-bottom: -5px;
                                &.active{
                                    a{border:2px solid #52aaf1 !important;border-bottom: 0 !important;}
                                }
                                a{padding: 7px !important;padding-bottom: 11px !important;line-height: normal !important;border:2px solid transparent;border-top: 2px solid transparent !important;
                                   i{background: #52aaf1;color: #fff;width: 44px;height: 42px;font-size: 36px;padding-top: 4px;}
                                }
                            }
                            .tab-content{border:2px solid #4faaf0;margin-bottom: 54px;
                                .tab-pane{position: relative;
                                    .media{border: 1px solid #ccc;padding: 10px;margin: 8px;
                                        div{float: left;}
                                        .company-name{width: 20%;font-size: 20px;text-transform: capitalize;line-height: 75px}
                                        .campaign-description{width: 60%;border-width: 0 1px 0 1px;border-style: solid; border-color: #ccc;text-transform: capitalize;padding: 0 20px;
                                            b{font-size: 20px;}
                                        }
                                        .location{width: 20%;text-align: center;padding: 10px 0;color: #2693d6;
                                            img{width: 35px;height: 35px;}
                                            p{margin: 0;}
                                        }
                                    }  
                                    /*textarea{border: 0;width: 100%;font-size: 16px;resize:none;padding:12px;
                                             &:focus{outline:none;}
                                    }*/
                                    .tab-buttons{position: absolute;bottom: -66px;width: 100%;text-align: right;
                                        span{display: inline-block;padding: 8px 32px;background: #50abf1;margin-left: 10px;border-radius: 4px;outline: none;color:#fff;cursor:pointer;}
                                        span.share{background: #4d71ab;}
                                        span.post{background: #e04a39}
                                    }
                                }
                            }
                          } 
                        .modern-select{width: 50%;margin-top:10px;
                            select.has-error-border + div{
                                .chosen-choices{border:1px solid #ff0000;box-shadow: none;}
                            }
                            .chosen-container{width: 98% !important;
                                ul{
                                    .search-choice{margin: 5px 0 3px 5px;padding: 6px 20px 7px 5px;}
                                    li{
                                        a{top:7px;}
                                        input{height: 36px;width: 100px !important;}
                                    }
                                }
                            }
                            .job{
                                .pull-right{cursor: pointer;outline: none;color: #1d8e70;text-decoration: underline;margin-right: 10px;}
                            }
                        }
                        .alert{position: relative;padding:0;margin:0;margin-top:25px;background: transparent;
                            a.close{position: absolute;left: 54%;font-size: 25px;top: -34px;float: none;vertical-align: middle;}
                        }
                        .start,.ends{overflow: hidden;margin-bottom:20px;;
                                       p{margin:0;padding-bottom: 7px;}
                        }
                        .bucket-container{.bucket-each{width: 18% !important}}

                        .upload-pitch{display: inline-block;vertical-align: middle;position: relative;width: 115px;
                                        .qq-uploader{margin-bottom: 0;padding:0;
                                                     .qq-upload-button{padding: 0;font-weight: bold;font-size: 13px;background: transparent;
                                                                       letter-spacing: 0.6px;color: #219070;text-shadow: none;font-size: 14px;text-transform: uppercase;}
                                        }
                                        .qq-upload-fail{top: 0;left: 123%;position: absolute;white-space: nowrap;color: #ff0000;}
                                        + .upload-box{border: 1px solid #ccc;margin-bottom: 20px;min-height: 50px;
                                                      .file{position: relative;padding: 15px;
                                                            .progress-bar{width: 300px;position: absolute;height: 25px;}
                                                            .filename{
                                                                div.logo{background: url('../images/Applied.svg')}
                                                                .name{color: #000;width: 50%;display: inline-block;vertical-align: middle;margin: 0 12px;}
                                                                img{width: 20px;height: 20px;}
                                                            }
                                                      }
                                        }
                          }
                    }
                }
                .modal-footer{background: #eeeeee;padding: 14px;
                            .msgs{width: 50%;
                                  .message{color:#1c8f6e;}
                            }
                            .btns{width: 50%;font-size: 18px;
                                  .btn-reset{margin-right: 36px;color: #777777;cursor:pointer;outline:none;}
                                  .mm-btn{padding: 12px 24px;}
                            }
                }
            }
        }
    }
    .md-select-menu-container,.md-dialog-container{z-index: 1100}
    .md-ripple-container{display: none !important}
    md-select-menu{width : 400px;}
    .md-select-value{
        span:not(.md-select-icon){
            width:93%;
        }
    }
}
html.remove-scroll{overflow: hidden !important;}

.social-share{overflow: hidden;
              .modal{top: calc(50% - 169px);left: calc(50% - 318px);right:initial;
                     .modal-dialog{color: #919191;margin:0;
                                   .modal-content{padding: 18px 46px;border-radius: 0;
                                                  h2{color: #656565;font-size: 27.5px;margin: 24px 0 15px 0;}
                                                  .md-button{position: absolute;top: 10px;right: 10px;}
                                                  .box{border: 1px solid #ccc;padding: 10px 0;
                                                       .title{text-align: center;line-height: 88px;font-size: 26px;color: #3c6dc9;}
                                                       .content{border-width: 0 1px 0 1px;border-color: #ccc;border-style: solid;text-transform: capitalize;
                                                                big{font-weight: bold;font-size: 20px;color: initial;display: inline-block;}
                                                                p{font-size: 16.5px}
                                                                span{font-size: 16px;}
                                                       }
                                                       .location{text-align: center;color: #2592d5;margin-top: 8px;
                                                                 img{width: 50px;height: 50px;}
                                                       }
                                                  }
                                                  .social-share-icons{margin-top: 35px;
                                                                      social-sharing{
                                                                          .social-sharing{
                                                                              div{
                                                                                  span{width: 56px;height: 56px;margin-right: 14px;
                                                                                       i{font-size: 34px;line-height: 46px;}
                                                                                  }
                                                                              }
                                                                          }
                                                                      }
                                                  }
                                   }
                     }
              }
}

@media (min-width: 768px){
    .social-share{
        .modal-dialog{width: 636px;}
    }
}