$background : #eeeff1;

@mixin viewHeight($width){
    min-height: calc(100vh - #{$width});
    font-size: 16px;
}

@mixin box($color: #cdcdcd, $shadow: 1px){
    border: 1px solid $color;
    box-shadow: 1px $shadow 10px $color;
    -webkit-box-shadow: 1px $shadow 10px $color;
}

@mixin btnStyle($width, $height, $font: 18px, $color: #1c8f6e, $borderColor: #1c8368){
    width: $width;
    height: $height;
    font-size: $font;
    font-weight: 600;
    line-height: $height;
    background: $color;
    border: 1px solid $borderColor;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

@mixin transform($translate, $scale:.85){
    -webkit-transform: translate3d(0,$translate,0) scale($scale);
    transform: translate3d(0,$translate,0) scale($scale);
    color: #767877;
}


.candidates{
    font-size: 14px;
    background: #eeeff1;
    .sub-header{background: #0e2d3f;height: 60px;
        ul{list-style: none;margin: 0; padding: 0;
            li{display: inline-block;position: relative;padding: 30px 0px 12px 0px;margin: 0 15px;
                a{color: #6b8b9a;outline: none;text-decoration: none;display: inline-block;letter-spacing: 0.5px;
                    &:hover,&:focus,&.active{color: #fff;
                        &:before{position: absolute;color: #fff;content: '';top: 0px;bottom: 2px;left: 0px;
                        right: 0px;border-bottom: 3px solid #14acff;};
                    };
                }
            }
        }
    }

    .resume-room{min-height: calc(100vh - 160px);
        .filter{padding-top: 25px;border-bottom: 1px solid #cccdcf;
            p.title{color: #4e5f69;font-size: 16px;font-weight: bold;}
            ul{margin: 0;padding: 0 8px;list-style: none;
                li{margin-bottom: 20px;
                    ul{margin-left: 16px;
                        li{font-size: 15px;margin: 12px 0;}
                    }
                }
            }
            .checkbox{margin: 12px 0;
                md-checkbox{margin-bottom: 2px;
                    .md-label{margin-left: 26px;}
                    &:not([disabled]).md-primary.md-checked{
                        .md-icon{background-color: rgba(41, 146, 211, 1)}
                        .md-ink-ripple{color: rgba(41, 146, 211, 0.54)}
                    }
                }
            }
        }
        .action{
            div{text-align: right;
                span{padding: 15px 10px;display: inline-block;font-size: 14px;outline: none;}
            }
        }
        .box{@include box(#cdcdcd, 4px);background: #fff;
            .box-header{padding: 7px 15px;
                .col-sm-4{padding: 0;line-height: 48px;}
                .col-sm-3{padding: 0;margin-top: 8px;}
                md-input-container{margin: 0;width: 300px;
                    md-select{width: 60%;margin:0 auto;font-size: 16px;margin-top: 5px;}
                    .md-select-value{padding-bottom: 5px;
                        &>span:not(.md-select-icon){max-width: 100%;-webkit-box-flex: 1;-webkit-flex: 1 1 auto;flex: 1 1 auto;
                            text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
                    }
                }
            }
            .box-content{
                .grid{height: calc(100vh - 346px) !important;overflow: hidden;min-height: 450px;
                    .grid-msg-overlay{top: 45px;}
                    .ui-grid-pinned-container{
                        .ui-grid-header{
                            .ui-grid-selection-row-header-buttons{margin-top: 6px}
                            .ui-grid-all-selected:after{top:14px;}
                        }
                        .ui-grid-header-cell{padding: 0 !important;}
                        .ui-grid-selection-row-header-buttons{outline: none;opacity: 1;margin:19px 0 0 5px;pointer-events: all;
                            &:before{content: '';width: 20px;height: 20px;border:1px solid #ccc;position: absolute;border-radius: 2px;background: #fff;}
                        }
                        .ui-grid-all-selected,.ui-grid-row-selected{
                            &:before{background: #0b8fe2 ;border: 1px solid transparent;}
                            &:after{content: '';position: absolute;top: 26px;left: 19px;width: 6px;height: 13px;border: 2px solid #fff;
                                transform: rotate(45deg);border-top: 0;border-left: 0;pointer-events: none;
                            }
                        }
                        .ui-grid-viewport{overflow: hidden !important;
                            .ui-grid-row{border-bottom: 0;position: relative;
                                .ui-grid-cell{padding: 0;border-color: #ececec;}
                            }
                        }
                    }
                    .ui-grid-header{height: 45px;line-height: 33px;border-top: 1px solid #c8d1d0;border-bottom: 1px solid #c8d1d0;
                        .ui-grid-top-panel{background: #f3f7f8;
                            .ui-grid-header-cell-row{
                                .ui-grid-header-cell{border-right: 0;padding-left: 15px;padding-right: 15px; 
                                    &:focus{outline: none};
                                    div[role='columnheader']{
                                        .ui-grid-cell-contents{color: #959698;font-size: 12px;
                                            &:focus{outline: none};
                                        }
                                        &:focus{outline: none};
                                    }
                                }
                            }
                        }
                    }
                    .ui-grid-viewport{overflow-y: auto !important; 
                        .ui-grid-canvas{width: 100%}
                        .ui-grid-row{line-height: 60px;border-bottom: 1px solid #ececec;
                            .ui-grid-cell{font-weight: normal;text-transform: capitalize;
                                &.first-col{font-weight: bold}
                                .ui-grid-status{
                                    .pending{color: #50a28a;
                                        img{margin: 20px 0 0 0;width: 20px;height: 20px;outline: none;
                                            &.pull-left{margin-right: 7px;}
                                        }
                                    }
                                    .declined{color: #d54343;
                                        .decline-img{background: url('../images/referrals.png') no-repeat -4px -137px;
                                            height: 20px;width: 15px;display: inline-block;vertical-align: middle;}
                                    }
                                    .accepted{color: #2384c0;
                                        .accept-img{background: url('../images/referrals.png') no-repeat -4px -96px;
                                            height: 20px;width: 15px;display: inline-block;vertical-align: middle;}
                                    }
                                }
                                .ui-grid-download{
                                    a{color: inherit;text-decoration: none;height: 100%;
                                        .download{background: url('../images/referrals.png') no-repeat 0% 70.7%;background-size: 24px;
                                            padding-left: 27px;width: 20px;height: 20px;vertical-align: middle;outline: none;display: inline-block;
                                        }
                                    }
                                }
                            }
                            div[ui-grid-row='row']{height: 100%;}
                            .ui-grid-cell{height: 100%;background: #fff;border-right: 0;padding-left: 15px;padding-right: 15px;color: #4a4848;
                                &.open{color: #2db084}
                                &.closed{color: #d85c5e}
                            }
                            &:nth-child(even){
                                .ui-grid-cell{background: #fff};
                            }
                        }
                    }
                    .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
                    .ui-grid-row.ui-grid-row-selected .ui-grid-disable-selection div,
                    .ui-grid-row.ui-grid-row-selected{
                        background-color: #f8fcff  !important;
                    }
                    .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {cursor: pointer;}
                }
            }
            .box-footer{background: $background;padding: 11px;
                .status{font-size: 17px;color: #5b6161;line-height: 46px;
                    md-select{display: inline-block;margin: 0;vertical-align: bottom;}
                }
                .paging{display: inline-block;
                    .pagination{margin: 0;margin-top: 10px;}
                }
                .pull-right{
                    .ng-binding{position: absolute;left: 0;line-height: 50px;width: 170px;text-align: right;}
                    .download{@include btnStyle(180px, 50px, 14px);margin-left: 15px;}
                }
            }
        }
    }
}