$background : #eeeff1;

@mixin viewHeight($width){
    min-height: calc(100vh - #{$width});
    font-size: 16px;
}

@mixin box($color: #cdcdcd, $shadow: 1px){
    border: 1px solid $color;
    box-shadow: 1px $shadow 10px $color;
    -webkit-box-shadow: 1px $shadow 10px $color;
}

@mixin btnStyle($width, $height, $font: 18px, $color: #1c8f6e, $borderColor: #1c8368){
    width: $width;
    height: $height;
    font-size: $font;
    font-weight: 600;
    line-height: $height;
    background: $color;
    border: 1px solid $borderColor;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

@mixin transform($translate, $scale:.85){
    -webkit-transform: translate3d(0,$translate,0) scale($scale);
    transform: translate3d(0,$translate,0) scale($scale);
    color: #767877;
}


.candidates{font-size: 14px;background: #eeeff1;

    .sub-header{background: #0e2d3f;height: 60px;
        ul{list-style: none;margin: 0; padding: 0;
            li{display: inline-block;position: relative;padding: 30px 0px 12px 0px;margin: 0 15px;
                a{color: #6b8b9a;outline: none;text-decoration: none;display: inline-block;letter-spacing: 0.5px;
                    &:hover,&:focus,&.active{color: #fff;
                        &:before{position: absolute;color: #fff;content: '';top: 0px;bottom: 2px;left: 0px;
                        right: 0px;border-bottom: 3px solid #14acff;};
                    };
                }
                &:first-child{margin-left: 0};
            }
        }
    }

    .resume-room{min-height: calc(100vh - 160px);
        .filter{padding-top: 25px;border-bottom: 1px solid #cccdcf;
            p.title{color: #4e5f69;font-size: 16px;font-weight: bold;}
            ul{margin: 0;padding: 0 8px;list-style: none;
                li{margin-bottom: 20px;
                    ul{margin-left: 16px;
                        li{font-size: 15px;margin: 12px 0;}
                    }
                }
            }
            .checkbox{margin: 12px 0;
                md-checkbox{margin-bottom: 2px;
                    .md-label{margin-left: 26px;}
                    &:not([disabled]).md-primary.md-checked{
                        .md-icon{background-color: rgba(41, 146, 211, 1)}
                        .md-ink-ripple{color: rgba(41, 146, 211, 0.54)}
                    }
                }
            }
        }
        .action{
            div{text-align: right;
                span{padding: 15px 10px;display: inline-block;font-size: 14px;outline: none;}
            }
        }
        .box{@include box(#cdcdcd, 4px);background: #fff;
            .box-header{padding: 7px 15px;
                .col-sm-4{padding: 0;line-height: 48px;}
                .col-sm-3{padding: 0;margin-top: 8px;}
                md-input-container{margin: 0;width: 300px;
                    md-select{width: 60%;margin:0 auto;font-size: 16px;margin-top: 5px;}
                    .md-select-value{padding-bottom: 5px;color: #a9a9a9;
                        &>span:not(.md-select-icon){max-width: 100%;-webkit-box-flex: 1;-webkit-flex: 1 1 auto;flex: 1 1 auto;
                            text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
                    }
                }
                md-input-container.md-input-has-value{
                    md-select{
                        md-select-value{
                            span:not(.md-select-icon){
                                color:initial;
                            }
                        }
                    }
                }
            }
            .box-content{
                .grid{border: 0 !important;

                    .ui-grid-header{height: 45px;line-height: 33px;border-top: 1px solid #c8d1d0;border-bottom: 1px solid #c8d1d0;}

                    .ui-grid-viewport{
                        .ui-grid-row{line-height: 60px;}
                    }

                    .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {cursor: pointer;}
                }
            }
            .box-footer{background: $background;padding: 14px;min-height: 68px;
                .status{font-size: 17px;color: #5b6161;padding-left : 0;
                    md-select{height:32px;margin: 0;padding:0 !important;}
                }
                .paging{display: inline-block;
                    .pagination{margin: 0;margin-top: 3px;}
                }
                .pull-right{
                    .ng-binding{position: absolute;right: 0;line-height: 38px;width: 170px;text-align: right;}
                    .download{@include btnStyle(180px, 50px, 14px);margin-left: 15px;}
                }
            }
        }
    }

    .upload-resume{background: #fff;height: calc(100vh - 160px);min-height: 500px;padding: 30px 0;overflow: auto;
        #upload{animation: 1s ease-out 0s 1 slideInFromLeft;
            &.error-drop-area{
                .qq-upload-drop-area{border-color: #ff847b !important;background: rgba(255, 202, 202, 0.23) !important}
            }
            .qq-uploader{width: 95%;margin: 0 auto;height: 166px;
                .qq-upload-drop-area-active{border-color: #219070 !important;transform: scale(0.98);-webkit-transform: scale(0.98);background: #f2fff7 !important;
                    & + .qq-upload-button{transform: scale(0.98);-webkit-transform: scale(0.98)}
                }
                .qq-upload-drop-area{display: block !important;background: #f5f5f5;border: 2px dashed #a6b3bd;transition: all 0.2s linear;-webkit-transition: all 0.2s linear;
                    .drag_img{background: transparent;}
                    .drag_txt{color:#9ea9a9;position: absolute;top: 72px;text-align: right;width: 53%;font-size: 16px;font-weight: 700;}
                }
                .qq-upload-button{position: absolute;color:#0ba082;width: 98px;z-index: 9;height: 33px !important;top: 73px;left: 53%;text-align: left;text-indent: 4px;background: transparent;overflow: hidden;font-weight: 700;font-size: 17px;padding: 0;transition: all 0.2s linear;-webkit-transition: all 0.2s linear;
                    &:hover{transform: scale(0.92)};
                }
            } 
        }
        .instructions{
            ul{list-style: none;color: #a6b3bd; padding: 6px 30px;
                li.error-msg{color:#c2433d;}
            }
        }
        md-list.list{margin: 0 auto;
            md-list-item.header-action{margin-top:24px;padding: 0 16px;
                .md-list-item-text{
                    .title{color: #565656;font-weight: 900;font-size: 18px;word-spacing: 1.2px;margin-left: 4px;}
                }
                .action{color: #648699;font-size: 14px;font-weight: 800;margin-right: 0}
                .delete{color: #e05a5a;}
            }
            .file-container{margin: 0 auto; 
                md-list-item{min-height: 68px;border: 1px solid #e3e3e3;border-bottom:0;padding-left: 0;
                    .md-avatar{background: url(../images/uploading_files_icons.png);border-radius: 0;background-repeat: no-repeat;background-size: 67% 228%;
                        &.pdf{background-position: 13px -54px !important};
                    }
                    p{  
                        .file-name{color: #555555;font-weight: 600}
                        md-progress-linear{height: auto;padding: 1px 0 !important;
                            .md-bar1{background: #e3e3e3}
                            .md-bar2{background: #2b99ed}
                            &.discard{
                                .md-bar2, .md-container{background: #cc6464 !important;}
                            }
                        }
                        .file-size{color: #777777;font-size: 13px;font-style: italic;}
                        .error{color: #cc6464;font-size: 12px;}
                        .success{color: #0ba082;font-size: 12px;}
                    }
                    button{position: absolute;right:0;}
                    .loader{width: 30px;position: absolute;right: 28px;top: 18px;}
                    .close{opacity: 1;
                        i{color: #e84949;font-size: 22px;}
                    }
                    .delete{
                        i{color: #565656;}
                    }
                }
            }
        }
    }

    .find-resume{height: calc(100vh - 160px);overflow-y: auto;min-height: 300px;
        .container{
            div[layout="column"]{
                .search-resume{position:relative;background: #fff;margin: 30px 0 22px 0;box-shadow: 0px 0px 3px #767877;
                    .headline{font-size: 18px;font-weight: bold;color: #636363;
                        .name{padding:20px 16px;
                            &.first{padding-left:24px;}
                            &.animated{transition: linear 0.5s opacity;-webkit-transition: linear 0.5s opacity}
                        }
                    }
                    md-card{margin: 0;box-shadow: none;position: relative;
                        .loader{position: absolute;text-align: center;left: calc(50% - 34px);top: 143px;
                            img{width: 68px;margin: 0 auto;}
                        }
                        md-card-title{padding: 16px 24px 16px;
                            .md-headline{font-size: 18px;font-weight: bold;color: #636363;}
                        }
                        md-card-content{padding: 0 24px 24px;
                            textarea{min-height: 392px;resize: vertical; width: 100%;background: #fafafa;font-size: 14px;line-height: 24px;word-spacing: 2px;outline:none;border-radius: 4px;outline:none;border: 1px solid #ddd;}
                            .key{text-transform: capitalize;font-weight: 700;color:#565656;}
                        }
                    }
                    .criteria{
                        md-card-title{padding:16px 0 28px 20px}
                        md-card-content{padding-left: 18px;
                            .list{padding: 12px 0 14px;}
                            .slide{
                                div[layout="column"]{padding:2px 16px 16px;}
                                myslider{margin: 10px 0;width: 90%;
                                    .ui-widget.ui-widget-content{border: 0;background: #4a6a7d;height: 6px;cursor: pointer;
                                        .ui-slider-handle{width: 26px;height: 26px;font-size:14px;text-align: center;line-height: 24px;top: -9px;border-radius: 6px;background: rgb(74, 106, 125);color: rgb(255, 255, 255);border-color: rgb(255, 255, 255);cursor: pointer;transition: 0.5s all linear;-webkit-transition: 0.5s all linear;}
                                        .ui-widget-header{background: #eee;transition: 0.5s all linear;-webkit-transition: 0.5s all linear;}
                                    }
                                }
                            }
                        }
                    }
                    .action{margin: 0 auto 28px;text-transform: capitalize;width: 190px;display: block;height: 50px;line-height: 50px;font-weight: 700;}
                }
                .container-resume{background: #fff;position: relative;margin-bottom: 40px;box-shadow: 0px 0px 3px #767877;
                    .header{padding: 17px 24px 17px 24px;
                        .match{font-size: 18px;font-weight: 700;color: #636363;margin-top: 6px;
                            &.zip{padding-left: 14px;}
                            .box{transition: linear 0.5s opacity;-webkit-transition: linear 0.5s opacity; 
                                span{margin-right: 22px;}
                                a{color: #1d8e70;}
                            }
                        }
                        md-input-container{width: 52%;margin: 0;transition: linear 0.5s opacity;-webkit-transition: linear 0.5s opacity; 
                            md-select-value{color:#636363;font-size: 18px;font-weight: 700;
                                span{overflow: hidden;max-width: 86%;}
                            }
                        }
                    }
                    md-content{background: transparent; padding: 0 27px 16px;
                        .col-sm-4{padding:0;}
                        md-card{cursor:pointer;border: 1px solid #dcdcdc;box-shadow: none;margin:12px;overflow: hidden;position: relative;border-radius: 4px;
                            &:active{transform : scale(0.99);-webkit-transform : scale(0.99)};
                            &:hover{box-shadow: 0 0 18px #e8e9ea;transition: 0.8s all linear;-webkit-transition: 0.8s all linear};
                            i.select{position: absolute;z-index: -1;-webkit-transform: rotate(180deg);transform: rotate(180deg);font-size: 60px;left: -6px;top: -13px;color: #1d8e6f;transition: all 0.3s linear;opacity: 0;
                                &:before{box-sizing: border-box;-webkit-transform: rotate(45deg);transform: rotate(217deg);position: absolute;left: 34.66667px;top: 26.22222px;color: #fff;display: table;width: 10.66667px;height: 17.33333px;border-width: 3px;border-style: solid;border-top: 0;border-left: 0;content: "";};
                            }
                            .resume{padding: 20px;color: #212121;min-height: 198px;
                                .role,.skill{font-weight: 800;color: #8e8e8e;}
                                .name{margin: 0;}
                                .cir-progress{position: relative;
                                    .ai-score{position: absolute !important;top: 0;right: 0;}
                                    .score{position: absolute;width: 120%;text-align: center;top: 17px;font-size: 20px;}
                                }
                                .skill{padding: 12px 0 0;}
                                .dotdotdot{height: 60px;overflow: hidden;}
                            }
                            md-card-actions{background: #f9f9f9;margin: 0;padding: 8px 16px;border-top: 1px solid #dad5d5;color: #666666;
                                .ellipsis{
                                    span{vertical-align: middle}
                                }
                                i{vertical-align: middle;color:#8e8e8e;padding: 4px;
                                    &.down{background: #ebebeb;border-radius: 50%;font-size: 20px}
                                    &.loc{padding:0;font-size: 22px}
                                    &.rm-pointer{cursor: default;}
                                }
                                
                            }
                        }
                        .loading-text{color:#8e8e8e;font-weight:700;float: none;margin: 14px auto;text-align: center;border: 1px solid #e8e8e8;width: 45%;padding: 6px;border-radius: 2px;font-size: 18px}    
                    }
                    
                }
            }
            .arrow-toogle{position: absolute;right: 10px;font-size: 40px;top: 10px;color: #8e8e8e;cursor: pointer;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: -webkit-transform 0.3s ease-in-out;transition: -webkit-transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;}
            .arrow-spin{-webkit-transform: rotate(180deg) !important;transform: rotate(180deg) !important;}
        }
    }

    .candidate-details{min-height: calc(100vh - 160px);
        .head{margin: 28px 0 14px;
            a{color: #777;text-decoration: none;font-weight: 600}
            img{width: 20px;height: 20px;float: left;margin-right: 6px}
        }
        .section{padding-bottom: 80px;
            md-card{margin: 0 26px 0 0;
                .title{padding: 18px 10px 12px;border-bottom: 1px solid #edf1f4;color: #646e6e;font-weight: 600}
                .details{padding: 16px 20px 0;
                    .list{margin-bottom: 28px;
                        h5{margin: 0 0 6px;color: #818e95}
                        span{color: #333;
                            &.bold{font-weight: 600;font-size: 16px}
                            &.info{color: #999}
                        }  
                        social-sharing{
                            span{border-radius: 50%;width: 24px;height: 24px;
                                i{font-size: 13px;margin-top: 6px;color: #fff}
                            }
                        }  
                    }
                    .pic{width: 50px;height: 50px;border-radius: 50%}
                    .letter{width: 50px;height: 50px;border-radius: 50%;text-align: center;line-height: 50px; color: #fff;font-size: 20px;text-transform: capitalize; background: #ccc;margin: 0;}
                    ul{padding-left: 16px;
                        li{margin-bottom: 12px;}
                    }
                }
                &.right{margin: 0;
                    .nav-tabs{border-color: #e6e6e7;
                        & > li{width: 50px;height: initial;border: 1px solid #e6e6e7;border-left: 0;
                            &.active{border-bottom: 0;
                                a{
                                    border-bottom: 1px solid transparent !important;
                                }
                            }
                            a{border: 0 !important;padding: 10px 10px 6px;line-height: normal;}
                            .input-group-addon{width: initial;padding: 0;font-size: 20px;border: 0;background: transparent;
                                .glyphicon-calendar{margin-left: 3px;}
                            }
                        }
                    }
                    .tab-content{
                        h5{margin:0;padding: 14px 18px;color: #797979;font-weight: 700;border-bottom: 2px solid #e8e8e8}
                        .box{padding: 14px;
                            md-input-container{margin-bottom: 0;
                                &.time-zone{width: 100%}
                                &.md-input-has-value{
                                    .md-select-value{
                                        & :first-child{max-width: 94%;font-size: 16px;}
                                    }
                                    label{font-weight: 900;}
                                }
                                &.loc{margin-top: 40px;
                                    input{font-size: 16px;}
                                } 
                                &.md-input-focused{
                                    label{font-weight: 900 !important;}
                                }
                            }
                            
                            .date-time{
                                input{box-shadow: none !important;cursor: pointer;
                                    &:focus{border-color: #208d6e}
                                }
                                .input-group-addon{width: inherit;position: absolute;right: -8px;top: 3px;background: transparent;border: 0;pointer-events: none;
                                    .glyphicon{font-size: 18px;}
                                }
                            }    
                        }
                        
                    }
                }
            }
        }
    }

}

.timezone{ width : 365px;
    input{width: 100%;padding: 10px; border: 0;border-bottom:1px solid #ddd;font-size: 16px;
        &:focus{outline: none;};
    }
    md-content{
        overflow-x: hidden; 
    }
}

*[ng-click]{outline: none;}

/* tooltip in resume room */
.find-resume-name{background: rgba(0, 0, 0, 0.7); padding: 0 6px;}
.find-resume-name.md-show{transition: all 0.5s linear !important;} 
