$background : #eeeff1;

@mixin viewHeight($width){
    min-height: calc(100vh - #{$width});
    font-size: 16px;
}

@mixin box($color: #cdcdcd, $shadow: 1px){
    border: 1px solid $color;
    box-shadow: 1px $shadow 10px $color;
    -webkit-box-shadow: 1px $shadow 10px $color;
}

@mixin btnStyle($width, $height, $font: 18px, $color: #1c8f6e, $borderColor: #1c8368){
    width: $width;
    height: $height;
    font-size: $font;
    font-weight: 600;
    line-height: $height;
    background: $color;
    border: 1px solid $borderColor;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

@mixin transform($translate, $scale:.85){
    -webkit-transform: translate3d(0,$translate,0) scale($scale);
    transform: translate3d(0,$translate,0) scale($scale);
    color: #767877;
}


.candidates{font-size: 14px;background: #eeeff1;

    .sub-header{background: #0e2d3f;height: 60px;
        ul{list-style: none;margin: 0; padding: 0;
            li{display: inline-block;position: relative;padding: 30px 0px 12px 0px;margin: 0 15px;
                a{color: #6b8b9a;outline: none;text-decoration: none;display: inline-block;letter-spacing: 0.5px;
                    &:hover,&:focus,&.active{color: #fff;
                        &:before{position: absolute;color: #fff;content: '';top: 0px;bottom: 2px;left: 0px;
                        right: 0px;border-bottom: 3px solid #14acff;};
                    };
                }
            }
        }
    }

    .resume-room{min-height: calc(100vh - 160px);
        .filter{padding-top: 25px;border-bottom: 1px solid #cccdcf;
            p.title{color: #4e5f69;font-size: 16px;font-weight: bold;}
            ul{margin: 0;padding: 0 8px;list-style: none;
                li{margin-bottom: 20px;
                    ul{margin-left: 16px;
                        li{font-size: 15px;margin: 12px 0;}
                    }
                }
            }
            .checkbox{margin: 12px 0;
                md-checkbox{margin-bottom: 2px;
                    .md-label{margin-left: 26px;}
                    &:not([disabled]).md-primary.md-checked{
                        .md-icon{background-color: rgba(41, 146, 211, 1)}
                        .md-ink-ripple{color: rgba(41, 146, 211, 0.54)}
                    }
                }
            }
        }
        .action{
            div{text-align: right;
                span{padding: 15px 10px;display: inline-block;font-size: 14px;outline: none;}
            }
        }
        .box{@include box(#cdcdcd, 4px);background: #fff;
            .box-header{padding: 7px 15px;
                .col-sm-4{padding: 0;line-height: 48px;}
                .col-sm-3{padding: 0;margin-top: 8px;}
                md-input-container{margin: 0;width: 300px;
                    md-select{width: 60%;margin:0 auto;font-size: 16px;margin-top: 5px;}
                    .md-select-value{padding-bottom: 5px;color: #a9a9a9;
                        &>span:not(.md-select-icon){max-width: 100%;-webkit-box-flex: 1;-webkit-flex: 1 1 auto;flex: 1 1 auto;
                            text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
                    }
                }
                md-input-container.md-input-has-value{
                    md-select{
                        md-select-value{
                            span:not(.md-select-icon){
                                color:initial;
                            }
                        }
                    }
                }
            }
            .box-content{
                .grid{border: 0 !important;

                    .ui-grid-header{height: 45px;line-height: 33px;border-top: 1px solid #c8d1d0;border-bottom: 1px solid #c8d1d0;}

                    .ui-grid-viewport{
                        .ui-grid-row{line-height: 60px;}
                    }

                    .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {cursor: pointer;}
                }
            }
            .box-footer{background: $background;padding: 16px;
                .status{font-size: 17px;color: #5b6161;padding-left : 0;
                    md-select{height:32px;margin: 0;padding:0 !important;}
                }
                .paging{display: inline-block;
                    .pagination{margin: 0;margin-top: 13px;}
                }
                .pull-right{
                    .ng-binding{position: absolute;right: 0;line-height: 38px;width: 170px;text-align: right;}
                    .download{@include btnStyle(180px, 50px, 14px);margin-left: 15px;}
                }
            }
        }
    }
}