/* browser defaults */

html.md-default-theme, html, body.md-default-theme, body {
    background: transparent;
}
input::-ms-clear{display: none;}
select::-ms-expand{display: none;}
input::-ms-input-placeholder{color: #a9a9a9;}
input:-ms-input-placeholder{color: #a9a9a9;}
input::-webkit-input-placeholder{color: #a9a9a9;}
input::-moz-placeholder{color: gray;}


/* qq-uploader */
.qq-uploader{overflow: hidden;
	.qq-upload-drop-area{width: 100%;height: 100%;
		.drag_img{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);
			.img-thumbnail{width: 100%;height: 100%;border-radius: 0;}
			.img-circle{width: 100%;height: 100%;}
			.icon-trash{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;
				background: #fff;border-radius: 4px;display: none;cursor: pointer;color: #ff7777;}
            .icon-view{position: absolute;top: 5px;left: 10px;padding: 3px;border: 1px solid #ccc;
                background: #fff;border-radius: 4px;display: none;cursor: pointer;}
			.overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0; opacity: 0.1;}
			&:hover .overlay, &:hover .icon-trash, &:hover .icon-view{display: block};
			.spinner{margin-top: 40%;
				&.small{width: 25px;height: 25px;}
			}
		}
	}
	.qq-upload-button{box-shadow: none;width: 100%;height: 100%;text-shadow: none;font-weight: normal;
		input[type='file']{height: 100%}
	}
	.qq-upload-list{position: absolute;top: 0;right: 0;width: 100%;height: 100%;margin: 0;z-index: -1;
		li:not(.qq-upload-success){background: rgba(0, 0, 0, 0.5);height: 100%;
            .upload-fail{word-break: break-word;}
			.progress-text{text-align: center;margin-bottom: 5px;}
		}
		.icon-remove{padding-right: 2px;cursor: pointer;color: #ff7777;font-size: 18px;}
	}
}

/* mintmesh buttons */
.mm-btn{
    background: #229A77;color: #fff;outline: none;cursor: pointer;text-decoration: none;font-size: 18px;display: inline-block;border-radius: 3px;
    &.cancel{background: #fff;color: #7b6d6d;}
}
.mm-btn:hover,.mm-btn:active,.mm-btn:focus{@extend .mm-btn;}