/* browser defaults */

html.md-default-theme, html, body.md-default-theme, body {
    background: transparent;
}
input::-ms-clear{display: none;}
select::-ms-expand{display: none;}
input::-ms-input-placeholder{color: #a9a9a9;}
input:-ms-input-placeholder{color: #a9a9a9;}
input::-webkit-input-placeholder{color: #a9a9a9;}
input::-moz-placeholder{color: gray;}


/* qq-uploader */
.qq-uploader{overflow: hidden;
             .qq-upload-drop-area{width: 100%;height: 100%;
                                  .drag_img{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);
                                            .img-thumbnail{width: 100%;height: 100%;border-radius: 0;}
                                            .img-circle{width: 100%;height: 100%;}
                                            .icon-trash{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;
                                                        background: #fff;border-radius: 4px;display: none;cursor: pointer;color: #ff7777;}
                                            .icon-view{position: absolute;top: 5px;left: 10px;padding: 3px;border: 1px solid #ccc;
                                                       background: #fff;border-radius: 4px;display: none;cursor: pointer;}
                                            .overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0; opacity: 0.1;}
                                            &:hover .overlay, &:hover .icon-trash, &:hover .icon-view{display: block};
                                            .spinner{margin-top: 40%;
                                                     &.small{width: 25px;height: 25px;}
                                            }
                                  }
             }
             .qq-upload-button{box-shadow: none;width: 100%;height: 100%;text-shadow: none;font-weight: normal;
                               input[type='file']{height: 100%}
             }
             .qq-upload-list{position: absolute;top: 0;right: 0;width: 100%;height: 100%;margin: 0;z-index: -1;
                             li:not(.qq-upload-success){background: rgba(0, 0, 0, 0.5);height: 100%;
                                                        .upload-fail{word-break: break-word;}
                                                        .progress-text{text-align: center;margin-bottom: 5px;}
                             }
                             .icon-remove{padding-right: 2px;cursor: pointer;color: #ff7777;font-size: 18px;}
             }
}

/* mintmesh buttons */
.mm-btn{background: #1d8e70 !important;color: #fff;outline: none;cursor: pointer;text-decoration: none;font-size: 18px;
        display: inline-block;border-radius: 3px;border: 1px solid #1b8465;
        &.cancel{background: #fff!important;color: #7b6d6d;border: 0;}
}
.mm-btn:hover,.mm-btn:active,.mm-btn:focus{@extend .mm-btn;}

/* angular material mdDialog */
md-dialog.simple-dialog{
    md-toolbar{line-height: 64px;padding: 0 15px;background: #0e2e3f !important}
    .md-close{text-align: right;position: absolute;top: 0;right: 0;z-index: 1;}
    md-dialog-content{width: 100%;line-height: normal;padding: 30px;
                      h2.md-headline{color: #646c6b;margin-bottom: 20px;}
                      md-input-container{width: 100%;
                                         .has-error-msg{font-size: 14px;}
                      }
    }
    md-dialog-actions{border-top: 1px solid #e5e5e5;background: #eee;
                      .md-button{color: #fff;
                                 img[alt='load']{position: absolute;width: 30px;top: 8px;}
                      }
                      .md-yes, .md-yes:hover{background: #229a78 !important;}
                      .md-no, .md-no:hover{border: 1px solid #e66a6a;color: #e66a6a;background: transparent !important;}
    }
}