/* browser defaults */

html.md-default-theme, html, body.md-default-theme, body {
    background: transparent;
}
input::-ms-clear{display: none;}
select::-ms-expand{display: none;}
input::-ms-input-placeholder{color: #a9a9a9;}
input:-ms-input-placeholder{color: #a9a9a9;}
input::-webkit-input-placeholder{color: #a9a9a9;}
input::-moz-placeholder{color: gray;}


/* qq-uploader */
.qq-uploader{overflow: hidden;
             .qq-upload-drop-area{width: 100%;height: 100%;
                                  .drag_img{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);
                                            .img-thumbnail{width: 100%;height: 100%;border-radius: 0;}
                                            .img-circle{width: 100%;height: 100%;}
                                            .icon-trash{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;
                                                        background: #fff;border-radius: 4px;display: none;cursor: pointer;color: #ff7777;}
                                            .icon-view{position: absolute;top: 5px;left: 10px;padding: 3px;border: 1px solid #ccc;
                                                       background: #fff;border-radius: 4px;display: none;cursor: pointer;}
                                            .overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0; opacity: 0.1;}
                                            &:hover .overlay, &:hover .icon-trash, &:hover .icon-view{display: block};
                                            .spinner{margin-top: 40%;
                                                     &.small{width: 25px;height: 25px;}
                                            }
                                  }
             }
             .qq-upload-button{box-shadow: none;width: 100%;height: 100%;text-shadow: none;font-weight: normal;
                               input[type='file']{height: 100%}
             }
             .qq-upload-list{position: absolute;top: 0;right: 0;width: 100%;height: 100%;margin: 0;z-index: -1;
                             li:not(.qq-upload-success){background: rgba(0, 0, 0, 0.5);height: 100%;font-size: 13px;padding: 6px;
                                                        .upload-fail{word-break: break-word;}
                                                        .progress-text{text-align: center;margin-bottom: 5px;}
                             }
                             .icon-remove{padding-right: 2px;cursor: pointer;color: #ff7777;font-size: 18px;}
             }
}

/* mintmesh buttons */
.mm-btn{background: #1d8e70 !important;color: #fff !important;outline: none;cursor: pointer;text-decoration: none;font-size: 18px;
        display: inline-block;border-radius: 3px;border: 1px solid #1b8465;
        &.cancel{background: #fff !important;color: #7b6d6d !important;border: 0;}
}
.mm-btn:hover,.mm-btn:active,.mm-btn:focus{@extend .mm-btn;}

/* angular material mdDialog */
md-dialog.simple-dialog{
    md-toolbar{line-height: 64px;padding: 0 15px;background: #0e2e3f !important}
    .md-close{text-align: right;position: absolute;top: 0;right: 0;z-index: 1;}
    md-dialog-content{width: 100%;line-height: normal;padding: 30px;
                      h2.md-headline{color: #646c6b;margin-bottom: 20px;}
                      md-input-container{width: 100%;
                                         .has-error-msg{font-size: 14px;}
                      }
    }
    md-dialog-actions{border-top: 1px solid #e5e5e5;background: #eee;
                      .md-button{color: #fff;
                                 img[alt='load']{position: absolute;width: 30px;top: 8px;}
                      }
                      .md-yes, .md-yes:hover{background: #229a78 !important;}
                      .md-no, .md-no:hover{border: 1px solid #e66a6a;color: #e66a6a;background: transparent !important;}
    }
}


/* Model for network error */
#network-error{z-index: 999999;
    &.modal {text-align: center;padding: 0!important;}
    &.modal:before {content: ''; display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
    .modal-dialog {display: inline-block;text-align: left;vertical-align: middle;
        .modal-header{width: 500px;text-align:center;min-height: 370px;padding: 36px;background: #fff;margin: 0 auto;
            .header-pic{height: 80px;
                img{width: 80px}
            }
            h2{color: #5d5757}
            p{color: #b2b2b2}
            button{padding: 5px 20px;border-radius: 0;margin-top: 28px;cursor: pointer;}
        }
    }
}
   
/* text-editor for textarea */
.mm-text-editor{position: relative;overflow:hidden;border-bottom: 1px solid #ccc;
    &.focussed{
        .ta-toolbar{ bottom: 0};
    }
    .ta-toolbar{position: absolute; bottom:-56px;left: 0;z-index: 1;padding: 6px 6px 6px 0;-webkit-transition: 0.4s bottom linear;transition: 0.4s bottom linear;
        button, #toolbarCC{background: #f5f5f5; color: #6f6f6f;opacity: 1;
            &.active{color : #181818;box-shadow: none;}
        }
    }
    .btn{padding: 4px 10px}
    .ta-scroll-window{
        & > .ta-bind{outline: none;padding-left: 0;min-height: inherit;}
        &.form-control{border-color: transparent !important; box-shadow: none !important;min-height: 116px;max-height: 220px;margin-bottom: 40px;}
    }
}


.mm-spinner{text-align: center;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: #eeeff1;z-index: 99;
    div{left: calc(50% - 36px);top: calc(50% - 36px);position: absolute;
        img{width: 72px;height: 72px;}
    }
}


.mm-chip-list{position: relative;margin: 52px 0 45px;padding-right: 30px;
    .md-chips{padding: 0 0 4px 3px;
        &.md-focused{box-shadow: 0 1px #208d6e !important;
            &:before{-webkit-transform: translate3d(-3px, -20px, 0) scale(0.85);transform: translate3d(-3px, -20px, 0) scale(0.85);font-weight: 900}
        }
        &:before{content: 'ADD ASSESSMENT TO CAMPAIGN';position: absolute;padding-left: 3px;-webkit-transform: translate3d(-3px, 18px, 0) scale(1);transform: translate3d(-3px, 18px, 0) scale(1);font-size: 15px;color: #767877;display: block !important;font-weight: normal !important;transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .25s;transition: transform cubic-bezier(.25,.8,.25,1) .25s;-webkit-transform-origin: left top;transform-origin: left top;}
        .md-chip-input-container{width: 100%;
            input{height: 34px; font-size: 18px;width: 100%;}
        }
    }
    .select-one{
        .md-chips.md-focused{box-shadow: none !important}
        .md-chip-input-container{
            md-autocomplete{display: none}
        }
    }
    md-chips.active{
        .md-chips:before{-webkit-transform: translate3d(-3px, -20px, 0) scale(0.85);transform: translate3d(-3px, -20px, 0) scale(0.85);font-weight: 900}
    }
    md-progress-linear{display: none} 
    md-chip{background: rgba(204, 204, 204, 0.1);color: rgb(66,66,66);cursor: default;height: 32px;margin: 8px 8px 0 0;padding: 0 24px 0 12px;line-height: 30px;float: left;border: 1px solid #aaa;position: relative;border-radius:4px;
        .md-chip-content{
            strong{font-weight: normal;color: #797979; font-size: 14px}
        }
        .md-chip-remove-container{position: absolute;top: -1px;right: 0;
            button{border: 0;background: transparent;
                md-icon{color: #858585;width: 20px}
            }
        }
        
    }
    .loader{width: 20px;height: 20px;position: absolute;right: 30px;bottom: 10px;}
}
.add-test{
    .mm-chip-list{margin: 0 !important;
        .sp{
            .md-chips:before{content: '' !important}
            md-chips-wrap.md-chips{box-shadow: none;
                &.md-focused{box-shadow: none !important;
                    .md-chip-input-container{
                        box-shadow: 0 1px #208d6e;
                    }
                }
                .md-chip-input-container{width: 200px !important;box-shadow: 0 1px rgba(0,0,0,0.12);margin:0}
                md-chip{margin-top: 0;margin-bottom: 10px;}
            }
        }
        .disable-input{
            .md-chip-input-container{display: none;}
        }
    }
}


/* slide down in candidate details tabs */

.mm_down{
    animation-name: mm_down;
    -webkit-animation-name: mm_down;  

    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    visibility: visible !important;                     
}

@keyframes mm_down {
    0% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }       
}
@-webkit-keyframes mm_down {
    0% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }       
}


/* resume drop(upload resume) tab*/

.mm-slide-left{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}

.mm-slide-l-r{
  -webkit-animation: slideInLR .5s forwards;
  -moz-animation: slideInLR .5s forwards;
  animation: slideInLR .5s forwards;
}

@-webkit-keyframes slideInLR {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInLR {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLR {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

