@mixin transform($deg: 40deg){
	-webkit-transform: rotate($deg);
	transform: rotate($deg);
}


.qq-uploader{
	.qq-upload-drop-area{width: 100%;height: 100%;
		.drag_img{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);
			.img-thumbnail{width: 100%;height: 100%;}
			.img-circle{width: 100%;height: 100%;}
			.icon-trash{position: absolute;top: 5px;right: 10px;padding: 3px;border: 1px solid #ccc;
				background: #fff;border-radius: 4px;display: none;cursor: pointer;color: #ff7777;}
            .icon-view{position: absolute;top: 5px;left: 10px;padding: 3px;border: 1px solid #ccc;
                background: #fff;border-radius: 4px;display: none;cursor: pointer;}
			.overlay{display: none;background: #000000;position: absolute;left: 0;right: 0;top: 0;bottom: 0; opacity: 0.1;}
			&:hover .overlay, &:hover .icon-trash, &:hover .icon-view{display: block};
			.spinner{margin-top: 40%;
				&.small{width: 25px;height: 25px;}
			}
		}
	}
	.qq-upload-button{box-shadow: none;width: 100%;height: 100%;text-shadow: none;font-weight: normal;
		input[type='file']{width: 100%;height: 100%}
	}
	.qq-upload-list{position: absolute;top: 0;right: 0;width: 100%;height: 100%;margin: 0;z-index: -1;
		li:not(.qq-upload-success){background: rgba(0, 0, 0, 0.5);height: 100%;
			.progress-text{text-align: center;margin-bottom: 5px;}
		}
		.icon-remove{padding-right: 2px;cursor: pointer;color: #ff7777;font-size: 18px;}
	}
}
.pagination{
	li{
		&.active{
			a, a:hover, a:focus{border-color: #888;background: #888}
		}
		a{color: #888;
			&:hover{color: #888;};
		}
	}	
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* components templates */
.search-box-wrap{position: relative;
    &.inactive{
        .search-box{border-color: #cbd1d0}
    }
    .search-box{border: 0;background: transparent;border-bottom: 1px solid #c8d1d0;outline: none;padding: 5px 25px;width: 100%;
        border-color: #01b893;font-size: 16px;}
    .search-box-icon{position: absolute;top: 5px;opacity: 0.5;outline: none;
        &.icon-spin{right: 8px;top: 10px;}
        &.search-icon{}
        &.close-icon{right: 8px}
    }
}

/* angular material */
md-select[disabled]{
	.md-select-value{background-image: none !important;}
}
/* multiple select */
.multiple-select{
	md-select-menu[multiple]{
		md-content._md{max-height: 240px;}
		md-select-header{box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
			padding-left: 10.667px;height: 48px;cursor: pointer;position: relative;display: flex;align-items: center;width: auto;
			.demo-header-searchbox{border: none;outline: none;height: 100%;width: 100%;padding: 0;}
		}
	    md-option{padding-left: 48px;
	        &:before{transition: 240ms;position: absolute;top: 15px;left: 16px;width: 18px;height: 18px;border: 2px solid;
	        	border-radius: 2px;content: ' ';border-color: rgba(0, 0, 0, 0.54);z-index: 1;}
	        &[selected]{
	            &:before{background-color: rgba(30, 136, 229, 0.87);border-color: rgba(30, 136, 229, 0.87);}
	            &:after{@include transform(45deg);position: absolute;top: 17px;left: 22px;display: table;width: 6px;height: 12px;
	            	border: 2px solid;border-top: 0;border-left: 0;content: ' ';z-index: 2;border-color: rgb(255, 255, 255);}
	        }
	    }
	}
}

/* angular ui grid */
.engage-contact{
	.grid{height: calc(100vh - 346px) !important;overflow: hidden;min-height: 450px;border: 1px solid #c8d1d0 !important;background: #fff;
        .grid-msg-overlay{top: 45px;}
        .ui-grid-header{height: 50px;line-height: 39px;
            .ui-grid-top-panel{background: #f3f7f8;
                .ui-grid-header-cell-row{
                    .ui-grid-header-cell{border-right: 0;padding-left: 15px;padding-right: 15px; 
                        &:focus{outline: none};
                        div[role='columnheader']{
                            .ui-grid-cell-contents{color: #959698;font-size: 14px;
                                &:focus{outline: none};
                            }
                            &:focus{outline: none};
                        }
                    }
                }
            }
        }
        .ui-grid-viewport{overflow-y: auto !important; 
            .ui-grid-canvas{width: 100%}
            .ui-grid-row{line-height: 70px;border-bottom: 1px solid #ececec;font-size: 14px;
                .ui-grid-cell{font-weight: normal;text-transform: capitalize;
                    /*&.first-col{font-weight: bold}*/
                    .ui-grid-details{
                        .image{line-height: initial;display: inline-block;
                            span.letter{width: 40px;height: 40px;display: inline-block;border-radius: 50%;text-align: center;line-height: 40px;
                                color: #fff;font-size: 18px;text-transform: capitalize;position: relative;}
                        }
                        .content{display: inline-block;line-height: initial;vertical-align: middle;padding-left: 10px;}
                    }
                    .ui-grid-status{
                        .pending{color: #50a28a;
                            img{width: 20px;height: 20px;outline: none;margin-top: -1px;}
                        }
                        .declined{color: #d54343;
                            .decline-img{background: url('../images/referrals.png') no-repeat -1px -137px;
                                height: 20px;width: 20px;display: inline-block;vertical-align: middle;}
                        }
                        .accepted{color: #2384c0;
                            .accept-img{background: url('../images/referrals.png') no-repeat -1px -96px;
                                height: 20px;width: 20px;display: inline-block;vertical-align: middle;}
                        }
                    }
                    .ui-grid-download{
                        a{color: inherit;text-decoration: none;height: 100%;
                            .download{background: url('../images/referrals.png') no-repeat 0% 70.7%;background-size: 24px;
                                padding-left: 27px;width: 20px;height: 20px;vertical-align: middle;outline: none;display: inline-block;
                            }
                        }
                    }
                    .ui-grid-accept{position: relative;
                        .btn-group{
                            > .btn{padding: 8px 15px;}
                        }
                        .status{position: absolute;bottom: 3px;line-height: initial;font-size: 12px;width: 100%;}
                    }
                    .progress{margin: 29px 0 !important;}
                }
                div[ui-grid-row='row']{height: 100%;}
                .ui-grid-cell{height: 100%;background: #fff;border-right: 0;padding-left: 15px;padding-right: 15px;color: #4a4848;
                    &.open{color: #2db084}
                    &.closed{color: #d85c5e}
                }
                &:nth-child(even){
                    .ui-grid-cell{background: #fff};
                }
            }
        }
        .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
        .ui-grid-row.ui-grid-row-selected .ui-grid-disable-selection div,
        .ui-grid-row.ui-grid-row-selected{
            background-color: #f8fcff  !important;
        }
        .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {cursor: pointer;}
    }
}

.edit-company{
	.edit-box{
		.company-logo{
			.qq-uploader{width: 125px;height: 125px;margin: 0;padding: 0;
				.qq-upload-drop-area{background: transparent;}
				.qq-upload-button{background: url('../images/icon.png');
					input[type='file']{width: 100%;height: 100%}
				}
			}
		}
		.image-group{@extend .company-logo}
		.referral-bonus{
			.qq-uploader{width: 280px;height: 60px;padding: 0px;margin: 0;
				.qq-upload-drop-area{background: transparent;
					.drag_img{
						a{display: inline-block;
							&.view{line-height: 50px;color: #333;width: 78%;
								img{width: 25px;height: 25px;}
								p{padding: 0px 5px;display: inline-block;margin: 0;max-width: 87%;vertical-align: middle;font-size: 16px;
									text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
							}
							img{width: 30px;height: 30px;}
						}
						img{cursor: pointer;}
					}
				}
				.qq-upload-button{background: #e6e6e6;border: 1px solid #ccc;color: #000;line-height: 45px;font-size: 18px;
					input[type='file']{width: 100%;height: 100%}
				}
			}
		}
	}
}