@mixin gradient($dir, $firstColor, $last){
    background: -webkit-linear-gradient($dir, $firstColor, $last 20%);
    background: -o-linear-gradient($dir, $firstColor, $last 20%);
    background: -moz-linear-gradient($dir, $firstColor, $last 20%);
    background: linear-gradient(to $dir, $firstColor, $last 20%);
}

/* qq uploader */

/* IE Cross icon disable */
input::-ms-clear{
    display: none;
}
/* IE Placeholder Color */
input::-ms-input-placeholder{
    color: #a9a9a9 !important;
}
/* Safarai, Chrome */
input::-webkit-input-placeholder{
    color: #a9a9a9 !important;
}

/* material icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* components(search box) templates */
.search-box-wrap{position: relative;
    &.inactive{
        .search-box{border-color: #cbd1d0}
    }
    .search-box{border: 0;background: transparent;border-bottom: 1px solid #c8d1d0;outline: none;padding: 5px 25px;width: 100%;
        border-color: #01b893;font-size: 16px;}
    .search-box-icon{position: absolute;top: 5px;opacity: 0.5;outline: none;
        &.icon-spin{right: 8px;top: 10px;}
        &.search-icon{left: 0;}
        &.close-icon{right: 8px;cursor: pointer;}
    }
}

/* email jobs and campaigns list view*/
.list{color: #939393;min-height:400px;overflow-y:auto;height:calc(100vh - 545px);
    .row{border: 1px solid #ebebeb;margin: 0;padding: 10px;margin-bottom: 10px;position: relative;
        a.details, a.detail{color: inherit;
            &:focus, &:hover{color: inherit;};
        }
        span{font-size: 14.9px;}
        p{font-size: 20px;color: initial;}
        .fields{
            span{float: left;width: 50%;}
            .label{color: inherit;line-height: inherit;padding: 0;text-align: left;}
            .value{color: initial;}
        }
        .buttons{text-align: right;position: absolute;right: 0;bottom: 30px;
            a{font-size: 14px;border-radius: 3px;outline: none;cursor: pointer;text-decoration: none;padding: 6px 14px;
                display: inline-block;border: 1px solid;text-align: right;}
            .apply{background: #238260;color: #fff;border-color: #238260;}
            .refer{color: #238260;border-color: #238260;}
            .campaign{@extend .refer}
        }
    }
}


/* sharing directive */
social-sharing{display: block;overflow: hidden;
    .social-sharing{
        div{float: left;display: inline;
            span{width: 42px;height: 42px;text-align: center;cursor: pointer;display: inline-block;margin-right: 4px;
                i{font-size: 24px;margin-top: 10px;color: #fff}
                &.facebook{background: #3b5998}
                &.twitter{background: #1da1f2}
                &.googlePlus{background: #dc4e41}
                &.linkedin{background: #0077b5}
            }
        }
    }
}

/* copy url */
copy-url{
    .link{overflow: hidden;margin-top: 20px;
        .field{width: 75%;float:left;
            input{border-color:#e73a2d;box-shadow: none;border-radius: 2px;height: 36px;}
        }
        .btns{@include gradient(bottom, rgba(231, 58, 45, 1), rgba(185, 8, 25, 1));
            position:relative;width: 25%;float:left;text-align: center;color:#fff;padding: 8px;margin-left: -2px;
            cursor: pointer;outline: none;}
    }
    .copied::after {
        position: absolute;
        top: 16%;
        right: 110%;
        display: block;
        content: "copied";
        font-size: 0.75em;
        padding: 4px 5px;
        color: #fff;
        background-color: #22a;
        border-radius: 3px;
        opacity: 0;
        will-change: opacity, transform;
        animation: showcopied 1.5s ease;
    }
    @keyframes showcopied {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        70% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
        }
    }
}