.all-jobs{
    .container{width: 100%;
       header{padding:43px 0;text-align: center;border-bottom: 1px solid #dedede;
              #logo{
                  .spinner{
                      .small{width: 25px;height: 25px;}
                  }
                  img:not(.spinner){width: 160px;}
              }
              .company-name{font-size: 30px;color: #478e76;text-transform: uppercase;}
       }
       section.job{min-height: 300px;position: relative;
                   .header{padding: 15px 0;
                           .count{padding: 6px 0;font-size: 16px;}
                           .search{width: 30%}
                   }
                   .overlay{position: absolute;top: 35%;text-align: center;height: 100%;width: 100%;
                            &.text{background: transparent;font-size: 25px;}
                   }
       }
       /*min-height: 410px;*/
       section.job-details{position: relative;
           .loader{position: absolute;left: 50%;top: 50%;}
           .row{margin-right: 0px;padding: 6px 0;
                &:first-child{margin-top: 4px;}
                .header{padding-top: 8px;
                    .job-title{margin: 0;color: #323232;font-family: 'Lato', sans-serif;}
                    p{margin: 0;color: #3871cd;font-size: 16px;text-transform: capitalize;}
                    h4{color: #252525;margin-top: 5px;}
                }
                .rewards{text-align: center;
                     &:first-child{border-left:1px solid #dedede;border-right:1px solid #dedede;}
                     h4{margin: 0;color:#ed871a;}
                     p{color:#939393;}
                }
           }
           .job-params{padding-bottom: 30px;font-size: 16px;font-family: 'Lato', sans-serif;margin-top: 8px;
               .row{
                   .labels{color: #939393;padding-right: 0;font-size: 15px;}
                   .value{color: #252525;font-size: 16px;}
               }
           }
           .job-desc{font-size: 16px;
               pre{border: 0;background: transparent;font-size: 16px;padding: 0;margin: 0;
                   font-family: 'Lato', sans-serif;
                   white-space: pre-line;color: #252525;
               }
           }
           .action{
                .camp-btn{margin: 0 8px 0 0}
            }
       }
       footer{
           .social-media{padding: 25px 0;border-top: 1px solid #ebebeb;margin-top:0;font-size: 15px; color:#818785;border-right:0;border-left:0;background: #fff;font-family: 'Lato', sans-serif;}
           .drop-cv{text-align: center;padding: 26px;background: #fff;border-top: 1px solid #ebebeb;font-family: 'Lato', sans-serif;font-size: 16px;}
       }
    }
}

@mixin viewHeight($width){
    min-height: calc(100vh - #{$width});
}

@mixin gradient($dir, $firstColor, $last){
    background: -webkit-linear-gradient($dir, $firstColor, $last 20%);
    background: -o-linear-gradient($dir, $firstColor, $last 20%);
    background: -moz-linear-gradient($dir, $firstColor, $last 20%);
    background: linear-gradient(to $dir, $firstColor, $last 20%);
}


/* ALL CAMPAIGNS */
/*.tab {top: calc(50% - 10px);*/
.all-campaigns{color: #939393;
    md-divider {border-color: #EFEFEF;}
    header.logo{padding: 0;min-height: 82px;line-height: 82px;width:1041px; margin: 0 auto;
         #logo{
             .spinner{
                 .small{width: 25px;height: 25px;}
             }
             img:not(.spinner){height: 60px;}
         }
         .company-name{font-size: 30px;color: #478e76;text-transform: uppercase;}
         .menu{
            .tab{position: relative;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);padding: 16px 15px;margin-left: 20px;cursor: pointer;
                &:last-child{margin-left: 30px;border: 1px solid #24aa78;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;
                  a {
                    color:#24aa78;
                  }
                }
                a{color: #323232;text-decoration: none;text-transform: uppercase;font-family: 'Lato', sans-serif;
                  &:hover {color:#24aa78;}
                }
            }
         }
    }
    .filters{padding: 60px 0;min-height:366px;background-size: cover !important;background-position : 50% 50% !important;background-repeat: no-repeat !important;
        &.add-image{background-image : url('../images/email-parser/banner_img.jpg') !important}
        .des{text-align: center;color: #fff;font-family: 'Lato', sans-serif;
            img{width: 26px;}
            h3{font-weight: normal;margin: 0; font-size: 30px;}
            h4{margin: 0;
               &.date{margin: 22px 0 20px 0;
                 img {margin-right: 5px;}
               }
               i{vertical-align: middle;color: #00b98f}
            }
        }
        .user-inputs{padding-top:65px;font-family: 'Lato', sans-serif;
            .search-container{margin: 0 auto;width: 1041px;
                .search{width:38%;margin: 0;position: relative;
                    i{position: absolute;font-size: 36px;padding: 12px 10px;color: #b2b2b2;left: 0}
                    input{height: 60px;border-radius: 0;padding-left: 46px;font-size: 16px;border-right: 0;;font-family: 'Lato', sans-serif;
                        &:focus{box-shadow: none; border-color: #ccc}
                    }
                }
                .loc,.exp{width: 22%;position: relative;height:60px;
                    &.open{
                        i{display: none}
                    }
                    button,button:focus{width: 100%;text-align: left;height: 100%;border-radius: 0;background: #fff;border-color: #ccc;color: #999;box-shadow: none;font-size: 16px;border-left: 0;font-family: 'Lato', sans-serif;
                        i{position: absolute;right: 16px;font-size: 40px;font-weight: 100;top: 10px;}
                    }
                    .dropdown-menu{width: 100.5%;margin: -1px;border-radius: 0;padding: 0}
                    input{width: 100%;height: 100%;padding: 0 14px;outline: none;border: 1px solid #ccc;font-size: 16px;color: #555;font-family: 'Lato', sans-serif;}
                }
                .action{width: 18%;height:60px;
                    button{margin: 0;width: 100%;height: 100%;border-radius: 0;background: #02b892;color: #fff;box-shadow: none;font-weight: 700;font-size: 15px;}
                }
                .exp-active{background: #518b7f;color: #fff;}
            }
        }
    }
    /* .camp-list{height: 524px;overflow:auto;} */
    .drop-cv{text-align: center;padding: 26px;background: #fff;border-top: 1px solid #ebebeb;
        .md-button{vertical-align: middle;}
    }
    .loading-infinite{color: #8e8e8e;font-weight: 700;float: none;margin: 12px auto;text-align: center;border: 1px solid #e8e8e8;width: 45%;padding: 6px;border-radius: 2px;font-size: 20px;}
    /*@include gradient(bottom, rgba(242, 241, 239, 1), rgba(255, 255, 255, 1));*/
    .content{ @include viewHeight(150px);
        .campaign-details{padding: 16px 0;width:1041px;margin: 0 auto;
            .campaign-link{font-family: 'Lato', sans-serif;font-size: 15px;color: #818785;font-weight: normal;}
            .camp-btn{background: #00B995;color: #fff;border: 0;padding: 2px 30px;margin-right: 0;text-decoration: none;font-family: 'Lato', sans-serif;box-shadow: none;font-size: 15px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;}
            .left{padding-right: 35px;
                .drop-box{
                    .container{width: inherit;
                       .logo{display:none}
                    }
                }
                .job-count{color: #777;font-family: 'Lato', sans-serif;}
                .back{
                    img{width: 26px;height: 20px;margin: -5px 0 0 -6px}
                    h4{display: inline-block;font-family: 'Lato', sans-serif;color:#24aa78;font-size: 16px;font-weight: bold;margin-left: 3px;}
                }
                .list {
                    .row{border: 0;border-bottom: 1px solid #ddd;padding: 18px 0 26px 0;margin: 0;font-family: 'Lato', sans-serif;
                        .buttons{bottom: 34px;padding-right: 0}
                        a{
                            .col-sm-7{padding:0}
                        }
                    }
                }
            }
            .right{
                .about-comp{border: 1px solid #e0e0e0;font-family: 'Lato', sans-serif;background:#fff;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;
                    .box{padding: 0 0 40px 0;
                        .ngTruncateToggleText{color: #24be9a}
                        h4{font-weight: 600;color: #323232;margin: 0 0 15px 0;text-transform: uppercase;font-size: 16px;padding: 18px 15px;border-bottom: 1px solid #e0e0e0;}
                        span[ng-text-truncate]{word-wrap: break-word;color:#323232;padding: 0 15px;display: block;font-size: 15px;line-height: 24px;}
                        h5{color: #24be9a;}
                    }
                    .suscribe{background: #f7f9f8;color : #4b4d4c;padding:14px;
                        .action{padding:0;
                            button{padding: 8px;font-weight: 400;margin-top: 3px;font-size: 13px;}
                        }
                    }
                }
                .create-camp{position:relative;background: url("../images/email-parser/bg_img.png") no-repeat;background-size: cover;background-position: 50% 50%;height: 150px;margin-top: 30px;cursor: pointer;
                    .join-team{height: 48px;width: 100%;background: rgba(22, 131, 188, 0.92);position: absolute;bottom: 0;line-height: 48px;text-align: center;color: #fff;font-size: 16px;font-weight: bold;font-family: 'Lato', sans-serif;
                        img{margin-left: 10px;}
                    }
                }
                .social-share{padding: 30px 0;font-family: 'Lato', sans-serif;
                  b{font-family: 'Lato', sans-serif;font-size: 15px;color:#818785;font-weight: normal;}
                }
                .link{margin-top: 8px;
                    input{border-color: #e6e6e6;}
                    .btns{background: #198fcc;font-family: 'Lato', sans-serif;}
                }
            }
        }
    }
}


/* Form view */
.angular-survey-template{min-height: calc(100vh - 350px) !important;height: 500px;max-width: 100%;
    .container{width: 1027px;padding: 0;
        .container-header {padding: 18px 20px;background: #eeeeee;
          .questionnaire-name {text-align: left;margin: 0;font-size: 20px;color: #333;}
          .questionnaire-description {float: right;margin-right: 139px;clear: both;margin-top: 6px;font-size: 14px;color: #4a4a4a;
            .time-duration {margin-left: 30px;}
          }
          .fullscreen-icon {position: absolute;top: 18px;right: 90px;font-size: 30px;width: 28px;height: 28px;}
        }
        .container-header.mmq-start {padding: 15px 15px;
          .close{top: 15px;width: 25px;height: 25px;}
          .questionnaire-name {font-size: 17px;}
          .questionnaire-description {font-size: 13px;margin-top: 4px;}
          .fullscreen-icon {top: 15px;width: 25px;height: 25px;}
        }
        .close{ position: absolute;right: 20px;padding: 0;top: 18px;opacity: 1;width: 28px;height: 28px;}
        .head,.checkbox, hr{display:none}
        .mw-form-viewer{margin: 0;padding: 0;
            form{overflow: hidden;
                 .mw-title-page{text-align:center;margin: 38px 20px;
                    .mw-form-description{font-size: 14px;text-align: left;line-height: 22px;}
                    .questionnaire-footer {position: absolute;bottom: 0;left: 0;right: 0;width: 100%;height: 80px;line-height: 80px;background: #eeeeee;padding: 0 20px;
                      .copy-right{color: #777;font-size: 14px;}
                    }
                 }
                 .mw-confirmation-message {color: #1f8c6f;font-size: 25px;}
                  .mw-confirmation-message.vertical-center {position: absolute;top: 50%;transform: translateY(-50%);width: 100%;text-align: center;
                    i {font-size: 50px;margin-right: 10px;position: relative;top: 8px;}
                  }
                .begin-response-button,.begin-response-button:hover{
                    background: #31BE9E !important;
                    text-transform: uppercase;
                    width: auto;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -o-border-radius: 5px;
                    font-size: 17px;
                    font-weight: 700;
                    margin-top: 14px;
                    color: #fff;
                    padding: 4px 43px;
                    margin-right: 0;
                    border: 1px solid #3CAA92;
                    &:hover,&:active{background: #359383 !important;outline:none;box-shadow: none}
                }
                .password-detection {position: absolute;top: 50%;transform: translate(-50%,-50%);width: 300px;margin: 0 auto;left: 50%;}
                .mw-form-question{color :#4C4C4C;padding-top: 24px;
                    .mw-question-text{font-weight:normal;font-size:13px;margin-bottom: 24px;
                      .required-question {color: red;}
                    }
                    .mw-question-answers{font-size: 13px;
                      md-radio-group md-radio-button:not([disabled]) .md-on {
                        background: #0fb89b;
                        top: -1px;
                        left: -1px;
                      }
                      md-radio-group md-radio-button.md-checked .md-off {
                        border-color: #0fb89b;
                        width: 18px;
                        height: 18px;
                      }
                      md-radio-group md-radio-button .md-off {
                        border-color: #cacaca;
                      }
                      md-radio-group md-radio-button .md-ink-ripple {
                        color: rgba(15, 184, 155, 0.28);
                      }
                      md-radio-group.md-default-theme.md-focused:not(:empty) {
                        .md-checked {
                          .md-container:before {
                            background-color: rgba(15, 184, 155, 0.40);
                          }
                        }
                      }
                      md-radio-group.md-focused:not(:empty) {
                        .md-checked {
                          .md-container:before {
                            background-color: rgba(15, 184, 155, 0.40);
                          }
                        }
                      }
                    }
                }
                .mw-form-action-list{position: fixed;bottom: 0;right: 0;width: 100%;background: #eee;height: 66px;
                    .btn{padding: 2px 48px;font-size: 14px;margin: 13px 20px;font-weight: 600;}
                    .prev-page-button{float: left;color: #fff;background: #31BE9E;padding: 1px 25px;border: 1px solid #3CAA92;
                        &:hover,&:active{background: transparent;outline:none;box-shadow: none}
                        i{/*display:none*/font-size: 11px;}
                        &:disabled{
                          opacity: 0.5;
                        }
                    }
                    .prev-page-button:hover{
                        background:#359383 !important;
                    }
                    .next-page-button{float: right;background: #31BE9E;opacity: 1;color: #fff;border: 1px solid #3CAA92;
                      &:disabled{
                        opacity: 0.5;
                      }
                        i{/*display:none*/font-size: 11px;}
                    }
                    .prev-page-button:hover, .next-page-button:hover{
                        background:#359383 !important;
                    }
                }

            }
            .mw-form-page {margin: 0;padding: 18px 20px 20px;font-size: 13px;
                .question-number {font-weight: 600;color: #555;text-transform: uppercase;}
                .time-left {font-size: 13px;
                  span {color: #a63936;}
                }


            }

        }
        .mw-pending-message.mw-timeup-message {color: red; position: absolute;left: 50%;transform: translateX(-50%);white-space: nowrap;}
        .mw-pending-message{color: #9E9E9E;display: block;text-align: center;font-size: 24px;line-height: 200px;}
        .mw-pending-message.mw-timeup-message .begin-response-button {position: absolute;left: 50%;transform: translateX(-50%);white-space: nowrap;}
    }
}
/*dialog styles for create campaign*/
*[ng-click]{outline: none;cursor:pointer}
.md-select-menu-container,.md-dialog-container{z-index: 1200 !important}
.pac-container { z-index: 1051 !important;font-family: 'Lato', sans-serif;}
html.remove-scroll{overflow: hidden !important;}


.has-error-msg{z-index: 1}
.external-bucket{
    .modal{overflow-y: auto;}
    .modal-dialog{width: 850px;top: 60px;
        .create-campaign{max-width: 880px;max-height: 100%;border-radius:0;
            .main{padding:38px 58px;
                header{text-align: center;color: #353535;
                    img{position: absolute;right: 0;top: 0;padding: 24px;}
                    h3{margin:0}
                    p.desc{padding: 10px 0 4px 0;margin: 0;}
                    p{color : #a1a1a1;}
                }
                section{
                    form{position: relative;padding-top:48px;
                        md-select-value{
                            span:not(.md-select-icon){max-width: 95%;}
                        }
                        .community{
                            p{padding: 16px 0 20px;margin: 0;color: #676767}
                            span{padding: 12px 24px;border:1px solid;margin:0 8px 8px 0;color : #fff;position:relative;float:left;border-radius: 4px;
                                img{position: absolute;left: 5px; width: 16px;top: 14px;transition: all linear 0.1s;transform: scale(0);
                                    &.active{transform: scale(1)}
                                }
                            }
                        }
                        .has-error-msg{left: 0;bottom: 0;top: auto;}
                    }
                }
            }

            footer{background: #eee;padding: 8px;overflow: hidden;
                .loading{margin-top: 8px;}
                .msg{margin: 22px 8px;color: #1d8e70;text-transform: capitalize;
                 &.err{color: red}
            }
                *{float: right;font-weight: 600;}
                .md-button{font-size: 16px;border-radius: 5px;padding: 8px 48px;
                    &.submit{background-color: #1d8e70;color :#fff;}
                }
                .cancel{line-height: 64px;font-size: 18px;color: #9b9b9b;margin-right: 22px;}
            }
        }
    }
}






/* angular material */
@mixin md-transform($translate, $scale:.85){
    -webkit-transform: translate3d(0,$translate,0) scale($scale);
    transform: translate3d(0,$translate,0) scale($scale);
    color: #767877;
    display: block !important;
}


md-input-container{
    input, textarea, .md-select-value .md-text{font-size: 18px;}
    &.select-box{
        label{overflow: hidden;}
    }
    &:not(.md-input-invalid){
        &.md-input-focused{
            .md-input{border-color: #208d6e;border-width: 0 0 1px;}
        }
    }
    &.read-only{
        &:not(.md-input-invalid){
            &.md-input-focused{
                .md-input{border-color: #d8d8d8;border-width: 0 0 1px;}
            }
        }
    }
    &.md-input-has-value{
        .md-select-value{
            .md-select-icon:after{content: url('../images/arrow-dropdown-active.svg') !important;display: inline !important;}
        }
    }
    &.block{}
    .md-placeholder{@include md-transform(35px, 1)}
    label{font-weight: normal;
          &:not(.md-no-float){
              &:not(.md-container-ignore){@extend .md-placeholder}
          }
    }
    &.md-input-has-placeholder{
        label:not(.md-no-float){@include md-transform(6px, .85)}
    }
    &.md-input-has-value{
        label{
            &:not(.md-no-float){@include md-transform(6px, .85)}
        }
    }
    &:not(.md-input-invalid).md-input-focused{
        label{@include md-transform(6px, .85)}
    }

    .md-input{border-color: #d8d8d8;padding: 2px 2px 6px !important;height: 36px;
              &[disabled]{background-image: none;border-color: #d8d8d8;}
              &.has-error-border{
                  border-color: red !important;
                  border-bottom: 1px solid red !important;
              }
    }
    md-select{
        .md-select-placeholder span{color: #767877;}
        &.has-error-border{
            .md-select-value{
                border-bottom-color: red !important;
            }
        }
        &.ng-invalid.ng-touched:not(.has-error-border) .md-select-value{color: #666 !important; border-bottom-color: rgba(0,0,0,0.12) !important}
        &[disabled]{
            .md-select-value{background-image: none !important;border-color: #d8d8d8}
        }
        &:not([disabled]):focus{
            .md-select-value{border-bottom-color: rgba(0,0,0,0.12);border-color: #208d6e;border-bottom-width: 1px;}
        }
        &:not([disabled]).ng-invalid.ng-dirty{
            .md-select-value{border-bottom-color: rgba(0,0,0,0.12);border-color: #208d6e;border-bottom-width: 1px;}
        }
        .md-select-value{padding: 2px 2px 6px !important;
                         .md-select-icon:after{content: url('../images/arrow-dropdown.svg') !important;display: inline !important;}
        }
    }
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}
