.all-jobs{
	.container{width: 800px;
		header{padding:43px 0;text-align: center;border-bottom: 1px solid #dedede;margin-bottom: 28px;
			img{width:160px;}
		}
		section{    
			.row{margin: 0;border: 1px solid #ebebeb;padding: 12px 4px;background: #fefefe;color:#939393;margin-bottom: 13px;
				.job-title{font-weight: 900;color:initial;}
				.fields{
					.labels{width:20%;float: left;}
					.value{width:80%;float:left;color:#252525;}
				}
				.btn-apply{background: #227f60;color: #fff;font-size: 14px;border-radius: 3px;float: right;margin-top: 36px;
					a{color: inherit;text-decoration: none;display: inline-block;padding: 8px 20px;cursor: pointer;outline:none;}
				}
			}
		}
		footer{
			.social-media{padding: 25px 0;border: 1px solid #ebebeb;margin-top: 32px;border-right:0;border-left:0;
				.icon{padding-top: 6px;color:939393;
					.fa{color: #fff;width: 36px;height: 36px;text-align: center;line-height: 37px;font-size: 22px;margin-right: 6px;border-radius: 2px;cursor: pointer;outline: none}
					.fa-facebook{background: #5272b3;}
					.fa-linkedin{background: #0282bf;}
					.fa-twitter{background: #21aaf5}
					.fa-google-plus{background: #e25d4e}
					.fa-whatsapp{background: #08c84c}
				}
				.link{overflow: hidden;margin-top: 20px;
					.field{width: 80%;float:left;
						input{border-color:#e73a2d;box-shadow: none;border-radius: 2px;height: 36px;}
					}
					.btns{position:relative;width: 20%;float:left;text-align: center;color:#fff;padding: 8px;margin-left: -2px;cursor: pointer;outline: none;background: #e73a2d;background: -webkit-linear-gradient(#e73a2d, #b90819);background: -o-linear-gradient(#e73a2d, #b90819);background: -moz-linear-gradient(#e73a2d, #b90819);background: linear-gradient(#e73a2d, #b90819);}
				}
			}
			.drop-cv{text-align: center;padding: 26px;
				span{font-size: 14px;color: #252525;
					a{border-radius: 2px;color: inherit;text-decoration: none;padding: 2px 10px;outline:none;display: inline-block;cursor:pointer;border:1px solid #252525;}
				}
			}
		}
	}
}
.copied::after {
  position: absolute;
  top: 16%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 4px 5px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}