$MMColor:#208d6e;

body.email-parser{
	.modal{
		.modal-header{text-align: center;
			.modal-title{color: #fc1600}
		}
		.modal-body{font-size: 16px;color: #5b5b5b;
			p{margin: 0 0 20px;}
		}
	}
}

.drop-box{
	.container{
		section{width: 620px;min-height: 470px;margin:0 auto;overflow: hidden;padding-bottom: 120px;
			.logo{text-align: center;margin: 0 auto;padding: 34px 0;
				img{width: 160px}
				.company-name{font-size: 30px;color: #478e76;text-transform: uppercase;}	
			}
			.title-underline{border-bottom: 1px solid #e8e8e8;width:304px;margin: 0 auto;}
			.row{border-bottom: 1px solid #e8e8e8;padding-bottom: 15px;
				.title{padding:24px 14px;clear: both;margin:0;}
				.title.candidate{border-top: 1px solid #e8e8e8;clear:both;}
				.form-style{
					.form-group, .file{margin-bottom: 35px;
						label{color:#5b5b5b;font-weight: initial;margin-bottom: 7px;
							sup{top: 1px;font-size: 18px;left: 3px;}
						}
						input,select{border-radius: 0;-webkit-appearance: none;-moz-appearance: none;font-size: 16px;border-color:#b9b9b9;}
						select::-ms-expand {display: none; }
						select{-webkit-appearance: none;appearance: none;line-height: 26px}
						i{position: absolute;right: 16px;font-size: 40px;padding: 3px 12px;display: block;pointer-events: none;}
						.intl-tel-input{width:100%;
							.selected-flag{outline: none;border-right: 1px solid #b9b9b9;background: #f3f3f3;
								.iti-arrow{right: 3px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #888888;}
							}
							.country-list{overflow-x: hidden; max-width: 295px;max-height: 195px;}
						}
					}
					.form-group.gap{margin-bottom: 35px;}
					.file{position: relative;
						label+span{position: absolute;top: 40px;left: 18px;max-width: 140px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;}
						#upload-resume{height: 50px;
							.qq-uploader{margin: 0;padding: 0;height: 100%;
								.qq-upload-button{border-right:1px solid #b9b9b9;position: absolute;right: 0;top: 2px;width: 46%;height: 43px;padding: 0;line-height: 43px;cursor: pointer;color:#248261;box-shadow:none;border-left:1px solid #b9b9b9;border-radius: 0;text-shadow: none;background-color: #F9F9F9; 
									background-image: -webkit-linear-gradient(#F9F9F9, #cfcfcf);background-image: -o-linear-gradient(#F9F9F9, #cfcfcf);background-image: linear-gradient(#F9F9F9, #cfcfcf);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F9F9F9, endColorstr=#cfcfcf);
									input{height: 100%;}
								}
								.qq-upload-list{position: absolute;top: 0px;margin: 0px; width: 100%;height: 100%;z-index: -1;
									.qq-upload-fail{position: absolute;top: 47px;background: transparent !important;color: red;
										i{display: none;}
									}
									li:not(.qq-upload-success){background: rgba(0, 0, 0, 0.5);height: 100%;
										.progress-text{text-align: center;margin-bottom: 5px;}
									}
									.qq-upload-progress{background: gray !important;}
									li.qq-upload-success{
										.upload-success{background: none !important}
									}
								}
								.qq-upload-drop-area{
									.drag_img{width: 100%;height: 100%;background: #f3f3f3 !important;
										a.view{line-height: 50px;color: #333;width: 78%;
											img{width: 25px;height: 25px;}
											p{padding: 0px 5px;display: inline-block;margin: 0;max-width: 75%;vertical-align: middle;font-size: 16px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
										}
										img{cursor: pointer;}
									}
								} 
							}
							.qq-upload-fail{
								i{display: none}
								span{color: red;}
							}
						}
						label{position: relative;
							&:after{content: '';position: absolute;border:1px solid #b9b9b9;height:45px;width:295px;left:1px;top:28px;}
						}
						.file-name{position: absolute;top: 40px;left:18px;max-width: 140px;}
					}
				}
			}
			.footer{padding-top:22px;font-size: 18px;
				.pull-left{
					.message{color: #e84949;font-size: 15px;
						&.success{color: $MMColor}
					}
				}
				.pull-right{
					.cancel{color:#878787;line-height: 50px;text-transform: uppercase;
						a{text-decoration: none;color: inherit;}
					}
					.submit{color:#fff;background: #248261;float: right;padding: 12px 32px;color: #fff;margin-left: 20px;}
				}
			}
		}
	}
	*[ng-click]{
		cursor: pointer;
		outline: none;
	}
}
.error-spacer{
    float: right;
    min-height: 24px;
    min-width: 1px;
}
.has-error-msg{
	color: red;
    float: left;
    min-height: 24px;
    min-width: 1px;
    white-space: nowrap;
    position: absolute;
    top: 74px;
    left: 16px;
    background: #fff;
    z-index: -1;
}