.analytics {
  min-height: calc(100vh - 100px);
  /*common*/
  /*end common*/ }
  .analytics .angucomplete-dropdown {
    padding: 0;
    margin-top: 1px;
    width: 99.8%;
    border: 1px solid #ccc;
    border-top: 0; }
    .analytics .angucomplete-dropdown .angucomplete-row {
      color: #343535;
      padding: 7px 16px;
      margin: 0;
      transition: padding .4s; }
    .analytics .angucomplete-dropdown .angucomplete-selected-row {
      background-color: #f0f5f8;
      padding-left: 26px; }
    .analytics .angucomplete-dropdown .angucomplete-searching {
      padding: 8px; }
    .analytics .angucomplete-dropdown .highlight {
      color: #939393 !important; }
  .analytics.bg-analytics {
    background: url(../images/analytics_bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 10%; }
  .analytics .box {
    width: 100%;
    padding-bottom: 110px; }
    .analytics .box .info {
      font-size: 48px;
      color: #fff;
      margin: 110px 0 62px;
      line-height: 64px; }
    .analytics .box .search * {
      border-radius: 0; }
    .analytics .box .search input {
      height: 64px; }
      .analytics .box .search input:focus {
        border-color: #ddd;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .analytics .box .search .md-button {
      margin: 0;
      background: #02b892;
      color: #fff;
      font-size: 18px;
      width: 180px; }
      .analytics .box .search .md-button.has-min-val {
        font-size: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .analytics .box .recent {
      padding: 0 48px; }
    .analytics .box .data {
      width: 86%;
      margin: 0 auto; }
      .analytics .box .data .result {
        width: 48%;
        float: left;
        padding: 15px 0;
        border-bottom: 1px solid #ddd; }
        .analytics .box .data .result.head {
          font-weight: 600;
          color: #fff;
          font-size: 16px;
          padding-bottom: 3px; }
        .analytics .box .data .result.empty {
          padding: 20px 0; }
        .analytics .box .data .result:nth-child(odd) {
          margin-right: 4%; }
        .analytics .box .data .result a {
          margin: 0;
          color: #02b892;
          font-size: 16px;
          display: block;
          text-decoration: none; }
        .analytics .box .data .result span {
          color: #fff;
          display: inline-block; }
  .analytics .search-box {
    padding: 34px 0;
    overflow: hidden; }
    .analytics .search-box .left {
      padding-right: 22px;
      width: 65%; }
      .analytics .search-box .left .search {
        position: relative; }
        .analytics .search-box .left .search input {
          border-radius: 0;
          height: 60px;
          border-color: #e4e5e6;
          padding-right: 55px; }
          .analytics .search-box .left .search input:focus {
            border-color: #ddd;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
        .analytics .search-box .left .search i {
          position: absolute;
          right: 10px;
          top: 14px;
          font-size: 38px;
          color: #d3d7d6; }
      .analytics .search-box .left .result-count {
        padding: 10px 0 20px;
        color: #4596d9; }
      .analytics .search-box .left .angucomplete-dropdown {
        width: 100%; }
      .analytics .search-box .left .result {
        border: 1px solid #e4e5e6;
        position: relative; }
        .analytics .search-box .left .result .list {
          display: block;
          text-decoration: none;
          padding: 18px;
          border-bottom: 1px solid #e4e5e6;
          transition: all .5s;
          cursor: pointer;
          width: 100%; }
          .analytics .search-box .left .result .list:hover:not(.load) {
            box-shadow: 0 8px 8px rgba(0, 33, 52, 0.1), 0 0 8px rgba(0, 33, 52, 0.1), 0 6px 18px rgba(0, 33, 52, 0.1); }
          .analytics .search-box .left .result .list:last-child {
            border: 0; }
          .analytics .search-box .left .result .list p {
            margin: 0 0 4px;
            color: #2e7eb1;
            font-weight: 600;
            font-size: 16px; }
          .analytics .search-box .left .result .list span {
            color: #808185; }
    .analytics .search-box .right {
      border: 1px solid #e4e5e6;
      width: 34%; }
      .analytics .search-box .right .title {
        padding: 16px;
        font-size: 20px;
        color: #777777;
        font-weight: 600;
        border-bottom: 1px solid #e4e5e6; }
      .analytics .search-box .right .sec {
        padding: 16px; }
        .analytics .search-box .right .sec a {
          padding-bottom: 12px;
          cursor: pointer;
          transition: padding .4s;
          display: block;
          text-decoration: none;
          color: #448cb8; }
          .analytics .search-box .right .sec a:hover {
            padding-left: 8px; }
      .analytics .search-box .right .foot {
        background: #f2f6f9;
        color: #aeb9c0;
        padding: 16px;
        border-top: 1px solid #e4e5e6; }

/*# sourceMappingURL=analytics.css.map */
