.assessment {
  position: relative; }
  .assessment.vh {
    min-height: calc(100vh - 160px);
    position: relative;
    background: #fff; }
  .assessment img.info {
    margin-top: -4px;
    width: 15px;
    height: 15px; }
  .assessment img.loader-dot {
    position: absolute;
    background: rgba(14, 45, 63, 0.51);
    width: 186px;
    height: 44px;
    z-index: 9;
    top: 0;
    left: 0; }
  .assessment .header {
    height: 60px;
    color: #4a4a4a;
    background: #f8fafb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .assessment .header .back {
      padding: 20px 15px 20px 0px; }
    .assessment .header .title {
      margin: 0;
      line-height: 60px;
      color: rgba(0, 0, 0, 0.87); }
    .assessment .header .container {
      height: inherit; }
      .assessment .header .container div[layout="row"] {
        height: inherit; }
  .assessment .action {
    background: #0fb89b !important;
    color: #fff;
    transition: all .5s ease; }
    .assessment .action:hover {
      background: #359383 !important; }
  .assessment md-input-container:not(.filter) md-select-value {
    height: 42px;
    padding: 0 10px !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #555; }
  .assessment md-input-container:not(.filter) .md-select-value :first-child {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: medium; }
  .assessment md-input-container:not(.filter) .md-input {
    color: #555;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    height: 42px;
    padding: 6px 10px !important;
    font-size: medium; }
  .assessment md-input-container:not(.filter).md-input-focused input, .assessment md-input-container:not(.filter).md-input-focused md-select-value, .assessment md-input-container:not(.filter).md-input-focused textarea {
    height: 42px;
    outline: 0;
    transition: 0.2s all linear;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6); }
  .assessment md-input-container:not(.filter).full-box:not(.md-input-focused):not(.md-input-has-value) label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(10px, 42px, 0) scale(0.9);
    transform: translate3d(10px, 42px, 0) scale(0.9); }
  .assessment md-input-container:not(.filter) .mm-placehoder {
    color: #767877;
    transform: translate3d(10px, 55px, 0) scale(1.2) !important; }
  .assessment md-input-container:not(.filter).md-input-has-value .mm-placehoder, .assessment md-input-container:not(.filter).md-input-focused .mm-placehoder {
    display: none !important; }
  .assessment .hide-label label {
    display: none !important; }
  .assessment .hide-label.md-input-focused label, .assessment .hide-label.md-input-has-value label {
    display: none !important; }
  .assessment .qst-label {
    color: #878787; }
  .assessment .tests-list .grid .test-name {
    line-height: 26px; }
    .assessment .tests-list .grid .test-name:hover a {
      color: #0fb89b !important; }
    .assessment .tests-list .grid .test-name .ui-grid-cell-contents {
      padding: 12px 5px; }
      .assessment .tests-list .grid .test-name .ui-grid-cell-contents span, .assessment .tests-list .grid .test-name .ui-grid-cell-contents a {
        display: block;
        color: #677083;
        transition: color .2s ease; }
        .assessment .tests-list .grid .test-name .ui-grid-cell-contents span.name, .assessment .tests-list .grid .test-name .ui-grid-cell-contents a.name {
          color: #39424e; }
  .assessment .tests-list .grid .duration {
    line-height: 40px;
    color: #677083; }
    .assessment .tests-list .grid .duration img.qst {
      float: left;
      margin-top: 13px; }
    .assessment .tests-list .grid .duration span.qst {
      margin-left: 7px; }
      .assessment .tests-list .grid .duration span.qst .dot {
        display: inline-block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 1px 5px;
        background: #83be3f; }
      .assessment .tests-list .grid .duration span.qst .Inactive {
        background: #c3c3c3; }
  .assessment .create-test .header {
    height: 95px;
    background: transparent;
    padding: 16px 0; }
    .assessment .create-test .header h2 {
      text-align: center;
      width: 100%; }
  .assessment .create-test .section {
    padding-top: 85px; }
    .assessment .create-test .section .test-pic {
      text-align: center;
      margin: 50px 0; }
    .assessment .create-test .section .footer {
      margin: 36px; }
      .assessment .create-test .section .footer .action {
        width: 186px;
        height: 44px;
        line-height: 44px; }
      .assessment .create-test .section .footer .cancel {
        color: #767877;
        line-height: 44px; }
  .assessment .edit-test .header {
    border-bottom: 0; }
    .assessment .edit-test .header h4, .assessment .edit-test .header .link {
      line-height: 42px;
      padding-right: 10px; }
    .assessment .edit-test .header .action {
      width: 106px;
      height: 40px;
      margin: 2px 0 9px 10px;
      line-height: 40px; }
  .assessment .edit-test .meta-data {
    padding: 12px 22px;
    background: #eeeff1; }
    .assessment .edit-test .meta-data .ellipsis {
      margin-right: 15px; }
    .assessment .edit-test .meta-data .title {
      color: #748187;
      display: block;
      font-size: 13px; }
    .assessment .edit-test .meta-data .duration {
      padding-left: 27px; }
  .assessment .edit-test .grid .ui-grid-row:hover > [ui-grid-row] > div[ng-repeat].ui-grid-cell.ng-scope {
    background: none !important;
    cursor: text; }
  .assessment .edit-test .grid .action-view a {
    margin-right: 15px; }
  .assessment .edit-test .footer .success-msg {
    color: #4f616e;
    margin: 0 0 10px 0; }
    .assessment .edit-test .footer .success-msg .icon {
      border: 2px solid #0fb89b;
      border-radius: 50%;
      line-height: 18px;
      padding: 0px;
      display: inline-block;
      margin-right: 6px; }
      .assessment .edit-test .footer .success-msg .icon i {
        color: #0fb89b;
        vertical-align: middle;
        font-size: 18px;
        padding: 1px; }
  .assessment .edit-test .footer .action {
    padding: 4px 20px; }
    .assessment .edit-test .footer .action.create-new {
      background: #7791a5 !important; }
      .assessment .edit-test .footer .action.create-new:hover {
        background: #4b6477 !important; }
  .assessment .edit-test .footer .or {
    line-height: 56px;
    color: #777; }
  .assessment .test-settings .header {
    height: 74px;
    background: #fff;
    padding-top: 8px; }
    .assessment .test-settings .header .action {
      width: 146px;
      height: 40px;
      margin: 8px 0 8px 10px;
      line-height: 40px; }
    .assessment .test-settings .header .cancel {
      height: 40px;
      margin: 9px 0 9px 10px;
      color: #99aeb8;
      line-height: 40px; }
    .assessment .test-settings .header img.loader-dot {
      width: 146px; }
    .assessment .test-settings .header md-input-container {
      margin: 4px;
      padding-left: 30px; }
      .assessment .test-settings .header md-input-container md-select md-select-value {
        background: #fff; }
        .assessment .test-settings .header md-input-container md-select md-select-value .md-text {
          color: #737b7f; }
      .assessment .test-settings .header md-input-container md-select .dot {
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: #c3c3c3; }
        .assessment .test-settings .header md-input-container md-select .dot.dot-active {
          background: #83be3f; }
  .assessment .test-settings .section {
    padding: 32px 0; }
    .assessment .test-settings .section .md-errors-spacer {
      min-height: 35px; }
    .assessment .test-settings .section .err-display {
      position: absolute;
      top: 68px;
      left: 3px; }
    .assessment .test-settings .section .title {
      padding: 8px 0 8px;
      color: #4a4a4a; }
      .assessment .test-settings .section .title img {
        margin-top: 0; }
    .assessment .test-settings .section .copy-url md-input-container {
      margin: 0; }
    .assessment .test-settings .section .copy-url .btns {
      background: #95b0bd;
      position: relative;
      cursor: pointer;
      outline: none;
      margin: 2px 24px -2px -4px;
      height: 44px;
      width: 120px;
      text-align: center;
      line-height: 44px;
      color: #fff;
      transition: all .5s ease; }
      .assessment .test-settings .section .copy-url .btns:hover {
        background: #7492a0; }
    .assessment .test-settings .section .copy-url .copied::after {
      position: absolute;
      width: 60px;
      line-height: 22px;
      top: 25%;
      height: 22px;
      right: 110%;
      display: block;
      content: "copied";
      font-size: 0.75em;
      color: #fff;
      background-color: #22a;
      border-radius: 3px;
      opacity: 0;
      will-change: opacity, transform;
      animation: showcopied 1.5s ease; }
    .assessment .test-settings .section .pwd-protection md-checkbox.md-checked .md-icon {
      background: #0fb89b; }
    .assessment .test-settings .section .pwd-protection md-checkbox.md-checked .md-ink-ripple {
      color: #0fb89b; }
    .assessment .test-settings .section .pwd-protection md-checkbox:not(.md-checked) .md-icon {
      border-color: #E0E0E0; }
    .assessment .test-settings .section .pwd-protection .md-label {
      color: #767877;
      margin-top: 3px; }
    .assessment .test-settings .section .pwd-action md-input-container {
      margin: 0; }
    .assessment .test-settings .section .pwd-action .action {
      height: 44px;
      margin-top: 2px;
      width: 110px; }
    .assessment .test-settings .section .time md-input-container {
      margin: 10px 4px 0 0;
      padding-right: 5px; }
    .assessment .test-settings .section .time .gap {
      margin: 10px; }
    .assessment .test-settings .section .cutoff md-input-container {
      margin: 10px 2px 0 0;
      padding-right: 6px; }
    .assessment .test-settings .section .cutoff-desc {
      color: #a0a0a0; }
    .assessment .test-settings .section md-divider {
      margin: 30px 0; }
    .assessment .test-settings .section .switch .text {
      color: #767877;
      margin: 10px 0 0;
      display: block; }
    .assessment .test-settings .section .switch .switch-box {
      border: 1px solid #e0e0e0;
      display: inline-block; }
      .assessment .test-settings .section .switch .switch-box .md-button {
        margin: 0;
        background: #eff3f6;
        color: #99a6b1;
        transition: background-color .2s ease;
        border-radius: 0;
        min-width: 65px;
        height: 40px; }
        .assessment .test-settings .section .switch .switch-box .md-button.active {
          background: #0fb89b;
          color: #fff; }
          .assessment .test-settings .section .switch .switch-box .md-button.active:hover {
            background: #359383; }
        .assessment .test-settings .section .switch .switch-box .md-button:hover {
          background: #dae3ea; }
    .assessment .test-settings .section .qualification .text {
      margin-top: 20px; }
    .assessment .test-settings .section .qualification md-input-container {
      margin: 38px 25px 0 0; }
      .assessment .test-settings .section .qualification md-input-container .md-errors-spacer {
        min-height: initial; }
    .assessment .test-settings .section .extra-opts .pwd-protection {
      margin-bottom: 10px; }
    .assessment .test-settings .section .disclaimer textarea {
      border: 1px solid #e0e0e0;
      outline: none;
      width: 36%;
      min-height: 160px;
      margin: -18px 0px 0 28px;
      padding: 8px;
      width: 100%;
      overflow: auto; }
    .assessment .test-settings .section .disclaimer .md-char-counter {
      margin-right: -24px; }
    .assessment .test-settings .section .footer {
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
      .assessment .test-settings .section .footer .header {
        background: transparent;
        border-bottom: 0; }

.test-settings-status .md-text {
  color: #737b7f; }
.test-settings-status .dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #c3c3c3; }
  .test-settings-status .dot.dot-active {
    background: #83be3f; }

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  70% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0; } }
.multiple-select-assessment md-select-menu label.md-container-ignore {
  padding-top: 8px; }

.mm-width {
  width: 500px; }

/*# sourceMappingURL=assessment.css.map */
