/* mdpicker */
md-dialog md-dialog-content div[layout='column'] md-toolbar .mdp-datepicker-year {
  font-size: 18px; }
md-dialog md-dialog-content div[layout='column'] md-toolbar .mdp-datepicker-date {
  font-size: 25px; }
md-dialog md-dialog-content .mdp-calendar .mdp-calendar-monthyear {
  font-size: 12px; }
md-dialog md-dialog-content .mdp-calendar .mdp-calendar-week-days {
  font-size: 13px; }
md-dialog md-dialog-actions button.md-primary {
  color: #fff !important; }

.campaigns {
  font-size: 14px;
  background: #eeeff1;
  /* sub header */
  /* md-input-container */
  /* mdPicker Styles */ }
  .campaigns .sub-header {
    background: #0e2d3f;
    height: 60px; }
    .campaigns .sub-header .highlight {
      color: #fff; }
    .campaigns .sub-header ul {
      list-style: none;
      margin: 0;
      padding: 0;
      clear: both; }
      .campaigns .sub-header ul li {
        display: inline-block;
        position: relative;
        padding: 27px 0px 6px 0px;
        margin: 0 15px; }
        .campaigns .sub-header ul li:first-child {
          margin-left: 0; }
        .campaigns .sub-header ul li a {
          color: #6b8b9a;
          outline: none;
          text-decoration: none;
          display: inline-block;
          letter-spacing: 0.5px; }
          .campaigns .sub-header ul li a:hover, .campaigns .sub-header ul li a.active {
            color: #fff; }
            .campaigns .sub-header ul li a:hover .background.one, .campaigns .sub-header ul li a.active .background.one {
              background-position: 0 130px; }
            .campaigns .sub-header ul li a:hover .background.two, .campaigns .sub-header ul li a.active .background.two {
              background-position: 0 -79px; }
            .campaigns .sub-header ul li a:hover .background.three, .campaigns .sub-header ul li a.active .background.three {
              background-position: 0 132px; }
            .campaigns .sub-header ul li a:hover:before, .campaigns .sub-header ul li a.active:before {
              position: absolute;
              color: #fff;
              content: '';
              top: 0px;
              bottom: 0;
              left: 0px;
              right: 0px;
              border-bottom: 3px solid #14acff; }
          .campaigns .sub-header ul li a:focus {
            color: #fff; }
          .campaigns .sub-header ul li a span.background {
            background: url("../images/settings.png");
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px; }
          .campaigns .sub-header ul li a .background.two {
            background-position: 0 -53px; }
          .campaigns .sub-header ul li a .background.three {
            background-position: 0 155px;
            width: 25px; }
          .campaigns .sub-header ul li a span.text {
            vertical-align: text-bottom; }
        .campaigns .sub-header ul li:last-child {
          float: right;
          padding: 0;
          margin: 0;
          padding-top: 5px; }
          .campaigns .sub-header ul li:last-child a {
            margin: 0;
            padding: 12px 10px;
            line-height: normal; }
            .campaigns .sub-header ul li:last-child a:hover:before {
              border: 0; }
  .campaigns .screen-cdt {
    height: 138px; }
    .campaigns .screen-cdt .mm-column {
      width: 100%; }
      .campaigns .screen-cdt .mm-column .view-name {
        color: #617d8b;
        margin: 29px 0 2px 40px; }
      .campaigns .screen-cdt .mm-column .link {
        margin-bottom: 10px; }
        .campaigns .screen-cdt .mm-column .link span {
          font-size: 18px;
          color: #fff;
          margin-left: 10px;
          vertical-align: middle; }
      .campaigns .screen-cdt .mm-column .share {
        line-height: 126px;
        margin-right: 19px;
        color: #8c9aa3; }
      .campaigns .screen-cdt .mm-column .count {
        width: 160px;
        padding: 10px 18px;
        text-align: center;
        color: #4b7f9c;
        margin: 0 0 12px 0;
        border-radius: 4px;
        background: #11415c;
        -ms-transform: scale(0.92);
        -webkit-transform: scale(0.92);
        transform: scale(0.92); }
        .campaigns .screen-cdt .mm-column .count h2 {
          margin-top: 36px; }
  .campaigns md-input-container .md-placeholder,
  .campaigns md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(0, 35px, 0) scale(1);
    transform: translate3d(0, 35px, 0) scale(1);
    color: #767877; }
  .campaigns md-input-container.md-input-has-value .md-select-value .md-select-icon:after {
    content: url("../images/arrow-dropdown-active.svg") !important;
    display: inline !important; }
  .campaigns md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 5px, 0) scale(0.87);
    transform: translate3d(0, 5px, 0) scale(0.87);
    color: #767877; }
  .campaigns md-input-container:not(.md-input-invalid).md-input-focused label {
    -webkit-transform: translate3d(0, 5px, 0) scale(0.87);
    transform: translate3d(0, 5px, 0) scale(0.87);
    color: #767877; }
  .campaigns md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-width: 0 0 1px; }
  .campaigns md-input-container .md-input {
    padding: 2px 2px 8px !important;
    height: 35px; }
  .campaigns md-input-container md-select:not([disabled]):focus .md-select-value {
    border-bottom-width: 1px; }
  .campaigns md-input-container md-select .md-select-value {
    padding-bottom: 6px !important; }
  .campaigns mdp-date-picker .layout-align-start-start {
    width: 50%;
    float: left;
    position: relative;
    margin-right: 38px; }
    .campaigns mdp-date-picker .layout-align-start-start .md-icon-button {
      position: absolute;
      width: auto;
      z-index: 1 !important;
      left: -8px; }
      .campaigns mdp-date-picker .layout-align-start-start .md-icon-button md-icon {
        width: 20px;
        height: 20px;
        color: #757575; }
    .campaigns mdp-date-picker .layout-align-start-start md-input-container {
      width: 100% !important; }
      .campaigns mdp-date-picker .layout-align-start-start md-input-container .md-input {
        padding: 0 0 0 25px !important; }
  .campaigns mdp-time-picker .md-errors-spacer {
    float: none; }
  .campaigns mdp-time-picker .layout-align-start-start {
    width: 40%;
    float: left;
    position: relative; }
    .campaigns mdp-time-picker .layout-align-start-start .md-icon-button {
      position: absolute;
      width: auto;
      z-index: 1 !important;
      left: -8px; }
      .campaigns mdp-time-picker .layout-align-start-start .md-icon-button md-icon {
        width: 20px;
        height: 20px;
        color: #757575; }
    .campaigns mdp-time-picker .layout-align-start-start md-input-container {
      width: 100% !important; }
      .campaigns mdp-time-picker .layout-align-start-start md-input-container .md-input {
        padding: 0 0 0 25px !important; }
  .campaigns .all-campaigns {
    min-height: calc(100vh - 160px);
    font-size: 16px;
    /*.modal#no_edit{
                              .modal-header{text-align: center;}
                              .modal-body{height: 100px;}
                              .modal-footer{padding: 10px 15px;
                                      .btn{width: 80px;height: 40px;background: #1c8f6e;border-color: #1c8f6e;outline: none;color: #fff;}
                              }
                      }*/ }
    .campaigns .all-campaigns md-input-container.search {
      margin: 0; }
    .campaigns .all-campaigns .box {
      border: 1px solid #cdcdcd;
      box-shadow: 1px 4px 10px #cdcdcd;
      -webkit-box-shadow: 1px 4px 10px #cdcdcd;
      background: #fff; }
      .campaigns .all-campaigns .box .box-header {
        padding: 7px 15px; }
        .campaigns .all-campaigns .box .box-header .col-sm-4 {
          padding: 0;
          line-height: 48px; }
        .campaigns .all-campaigns .box .box-header .col-sm-3 {
          padding: 0;
          margin-top: 8px; }
        .campaigns .all-campaigns .box .box-header md-input-container {
          margin: 0;
          width: 300px; }
          .campaigns .all-campaigns .box .box-header md-input-container md-select {
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 5px; }
          .campaigns .all-campaigns .box .box-header md-input-container .md-select-value {
            padding-bottom: 5px;
            color: #a9a9a9; }
            .campaigns .all-campaigns .box .box-header md-input-container .md-select-value > span:not(.md-select-icon) {
              max-width: 100%;
              -webkit-box-flex: 1;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
        .campaigns .all-campaigns .box .box-header md-input-container.md-input-has-value md-select md-select-value span:not(.md-select-icon) {
          color: initial; }
      .campaigns .all-campaigns .box .box-content .grid {
        border: 0 !important;
        height: calc(100vh - 352px) !important; }
        .campaigns .all-campaigns .box .box-content .grid .ui-grid-header {
          height: 45px;
          line-height: 33px;
          border-top: 1px solid #c8d1d0;
          border-bottom: 1px solid #c8d1d0; }
        .campaigns .all-campaigns .box .box-content .grid .ui-grid-viewport .ui-grid-row {
          line-height: 60px; }
          .campaigns .all-campaigns .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell.first-col {
            font-weight: bold; }
        .campaigns .all-campaigns .box .box-content .grid .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {
          background-color: #f8fcff !important;
          cursor: pointer; }
      .campaigns .all-campaigns .box .box-footer {
        background: #eeeff1;
        padding: 16px;
        min-height: 68px; }
        .campaigns .all-campaigns .box .box-footer .paging {
          display: inline-block; }
          .campaigns .all-campaigns .box .box-footer .paging .pagination {
            margin: 0;
            margin-top: 3px; }
  .campaigns .my-campaigns {
    min-height: calc(100vh - 160px);
    font-size: 16px; }
  .campaigns .edit-campaigns {
    min-height: calc(100vh - 160px);
    font-size: 16px; }
    .campaigns .edit-campaigns .head {
      margin: 32px 0; }
      .campaigns .edit-campaigns .head a {
        font-size: 16px;
        font-weight: bold;
        color: #555; }
        .campaigns .edit-campaigns .head a img {
          width: 20px;
          height: 20px; }
        .campaigns .edit-campaigns .head a span {
          vertical-align: middle;
          margin-left: 15px; }
      .campaigns .edit-campaigns .head .pull-right {
        outline: none; }
        .campaigns .edit-campaigns .head .pull-right img {
          width: 25px;
          height: 25px; }
    .campaigns .edit-campaigns .box {
      border: 1px solid #cdcdcd;
      box-shadow: 1px 1px 10px #cdcdcd;
      -webkit-box-shadow: 1px 1px 10px #cdcdcd;
      background: #fff;
      padding: 40px; }
      .campaigns .edit-campaigns .box .content {
        color: #767877;
        /* .date{
                     p{margin: 0;}
                     md-input-container{
                         label{left: 25px;}
                         &.md-input-focused, &.md-input-has-value{
                            label:not(.md-no-float){
                                 -webkit-transform: translate3d(0, 10px, 0) scale(0.87);
                                 transform: translate3d(0, 10px, 0) scale(0.87);
                                 color: #767877;
                                 margin-left: -25px;
                                 font-size: 18px;
                            }
                            //label{display: none !important;}
                        }
                    }
                    div.clearfix{position: relative;}
                    div.start{width: 45%;float: left;margin-right: 68px;}
                    div.ends{@extend div.start; margin: 0}
                    mdp-date-picker,mdp-time-picker{
                        &.has-error-border{
                            .md-input{border-color: red;}
                        }
                    }
                    span.status{position: absolute;top: 36%;left: 101%;color: #d85c5e;}
                } */ }
        .campaigns .edit-campaigns .box .content md-input-container input,
        .campaigns .edit-campaigns .box .content md-input-container textarea,
        .campaigns .edit-campaigns .box .content md-input-container .md-select-value .md-text {
          font-size: 17px; }
        .campaigns .edit-campaigns .box .content .head-title {
          font-weight: 600;
          font-size: 17px;
          color: #545454;
          border-bottom: 1px solid #d8d8d8;
          padding-bottom: 10px;
          margin-bottom: 44px; }
        .campaigns .edit-campaigns .box .content .clearfix md-input-container {
          width: 32%;
          float: left; }
          .campaigns .edit-campaigns .box .content .clearfix md-input-container:first-child {
            margin-right: 68px; }
          .campaigns .edit-campaigns .box .content .clearfix md-input-container md-select md-select-value .md-text {
            color: #000;
            font-weight: bold; }
        .campaigns .edit-campaigns .box .content .clearfix md-radio-group {
          font-size: 18px; }
          .campaigns .edit-campaigns .box .content .clearfix md-radio-group md-radio-button {
            float: left;
            margin: 0;
            color: #767877; }
            .campaigns .edit-campaigns .box .content .clearfix md-radio-group md-radio-button.md-checked {
              color: #000; }
            .campaigns .edit-campaigns .box .content .clearfix md-radio-group md-radio-button .md-label {
              margin-left: 27px; }
            .campaigns .edit-campaigns .box .content .clearfix md-radio-group md-radio-button:not(:first-child) {
              margin-left: 63px; }
        .campaigns .edit-campaigns .box .content .location md-input-container {
          margin: 10px 0; }
        .campaigns .edit-campaigns .box .content .btn-action {
          color: #3d80b8;
          font-weight: 600;
          font-size: 14px; }
        .campaigns .edit-campaigns .box .content .schedule {
          color: #333; }
          .campaigns .edit-campaigns .box .content .schedule md-input-container {
            width: 79%; }
            .campaigns .edit-campaigns .box .content .schedule md-input-container input[aria-disabled="true"] {
              background: transparent;
              cursor: not-allowed !important; }
          .campaigns .edit-campaigns .box .content .schedule span.status {
            position: absolute;
            top: 28%;
            right: 18%;
            color: #d85c5e; }
          .campaigns .edit-campaigns .box .content .schedule .timesheet {
            position: relative; }
            .campaigns .edit-campaigns .box .content .schedule .timesheet .closed {
              position: absolute;
              right: 19.8%;
              top: 28px;
              width: 20px;
              z-index: 1; }
            .campaigns .edit-campaigns .box .content .schedule .timesheet .sib {
              position: relative; }
              .campaigns .edit-campaigns .box .content .schedule .timesheet .sib .date-time input {
                border-radius: 0;
                box-shadow: none;
                cursor: pointer; }
              .campaigns .edit-campaigns .box .content .schedule .timesheet .sib .date-time .input-group-addon {
                position: absolute;
                right: 16px;
                top: 10px;
                padding: 0;
                pointer-events: none;
                border: 0; }
                .campaigns .edit-campaigns .box .content .schedule .timesheet .sib .date-time .input-group-addon .glyphicon {
                  font-size: 16px; }
              .campaigns .edit-campaigns .box .content .schedule .timesheet .sib .has-error-msg.msg {
                position: absolute;
                bottom: 20px;
                left: 4px; }
        .campaigns .edit-campaigns .box .content .create-job {
          position: relative;
          width: 70%; }
          .campaigns .edit-campaigns .box .content .create-job .btn-schedule {
            position: absolute;
            bottom: 7px;
            right: 0;
            z-index: 9; }
          .campaigns .edit-campaigns .box .content .create-job .modern-select label {
            position: absolute;
            padding-left: 3px;
            -webkit-transform: translate3d(0, 8px, 0) scale(1);
            transform: translate3d(0, 8px, 0) scale(1);
            font-size: 16px;
            color: #767877;
            display: block !important;
            font-weight: normal;
            transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
            transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
            -webkit-transform-origin: left top;
            transform-origin: left top; }
          .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container {
            width: 100% !important;
            min-height: 34px; }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container .chosen-choices {
              border: 0;
              box-shadow: none;
              background: none;
              border-bottom: 1px solid #d8d8d8; }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container .search-choice {
              margin: 4px 0 4px 5px;
              padding: 8px 20px 8px 5px; }
              .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container .search-choice .search-choice-close {
                top: 8px; }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container .search-field input {
              height: 34px; }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container .chosen-drop {
              border-top: 1px solid #aaa;
              top: 110%; }
          .campaigns .edit-campaigns .box .content .create-job .modern-select .has-error-border + .chosen-container {
            border-bottom: 1px solid red; }
          .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-active,
          .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-has-value {
            border-bottom: 1px solid #208d6e; }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-active label,
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-has-value label {
              -webkit-transform: translate3d(0, -21px, 0) scale(0.85);
              transform: translate3d(0, -21px, 0) scale(0.85); }
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-active .chosen-choices,
            .campaigns .edit-campaigns .box .content .create-job .modern-select .chosen-container-has-value .chosen-choices {
              border: 0;
              width: 75%; }
        .campaigns .edit-campaigns .box .content .careers h5.sub-head {
          font-weight: 600; }
        .campaigns .edit-campaigns .box .content .careers .left {
          padding-right: 20px; }
          .campaigns .edit-campaigns .box .content .careers .left .uploads {
            height: 70px;
            background: #f9f9f9;
            border: 1px solid #dcdcdc; }
            .campaigns .edit-campaigns .box .content .careers .left .uploads.video .qq-uploader {
              background: url("../images/add_video.png") no-repeat 12px 12px; }
            .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader {
              padding: 0;
              background: url("../images/add_photo.png") no-repeat 18px 18px;
              height: 68px; }
              .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-button {
                background: transparent;
                text-align: left; }
                .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-button input {
                  width: 100%; }
                .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-button span {
                  padding: 2px 0 0 30px;
                  display: inline-block;
                  color: gray;
                  text-transform: none;
                  font-size: 14px; }
                  .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-button span.head {
                    padding-top: 5px;
                    color: #56aadf;
                    margin: initial; }
                  .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-button span.desc {
                    display: block;
                    color: #bcbfc5; }
              .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-drop-area .drag_img {
                background: #f9f9f9; }
                .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-drop-area .drag_img .img-thumbnail {
                  width: 20%;
                  float: left;
                  padding: 6px;
                  border: 0;
                  background: transparent;
                  margin-right: 14px; }
                .campaigns .edit-campaigns .box .content .careers .left .uploads .qq-uploader .qq-upload-drop-area .drag_img p {
                  color: #56b8ee;
                  text-align: left;
                  padding-top: 25px;
                  font-weight: 600;
                  max-width: 230px;
                  width: auto; }
          .campaigns .edit-campaigns .box .content .careers .left .link {
            margin-top: 28px; }
          .campaigns .edit-campaigns .box .content .careers .left .link-box {
            position: relative; }
            .campaigns .edit-campaigns .box .content .careers .left .link-box .close {
              position: absolute;
              right: 0;
              background: #eb6f6b;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              opacity: 1;
              text-align: center;
              font-size: 16px;
              color: #fff; }
              .campaigns .edit-campaigns .box .content .careers .left .link-box .close i {
                font-size: 12px;
                margin: 1px 2px; }
          .campaigns .edit-campaigns .box .content .careers .left .closed {
            position: absolute;
            right: 0;
            top: -24px;
            width: 20px; }
        .campaigns .edit-campaigns .box .content .careers md-input-container {
          width: 100%;
          margin-top: 0; }
          .campaigns .edit-campaigns .box .content .careers md-input-container .description {
            min-height: 430px;
            max-height: 430px;
            overflow: auto;
            border: 1px solid #d8d8d8;
            height: 450px;
            padding: 10px 16px !important;
            font-size: 16px; }
        .campaigns .edit-campaigns .box .content .add-schedule, .campaigns .edit-campaigns .box .content .upload-files {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 30px; }
          .campaigns .edit-campaigns .box .content .add-schedule a, .campaigns .edit-campaigns .box .content .upload-files a {
            font-weight: bold;
            font-size: 13px;
            margin-left: 5px;
            letter-spacing: 0.6px; }
            .campaigns .edit-campaigns .box .content .add-schedule a:hover, .campaigns .edit-campaigns .box .content .upload-files a:hover, .campaigns .edit-campaigns .box .content .add-schedule a:focus, .campaigns .edit-campaigns .box .content .upload-files a:focus, .campaigns .edit-campaigns .box .content .add-schedule a:active, .campaigns .edit-campaigns .box .content .upload-files a:active {
              color: #38a48a;
              text-decoration: none; }
          .campaigns .edit-campaigns .box .content .add-schedule md-checkbox.md-checked .md-icon:after, .campaigns .edit-campaigns .box .content .upload-files md-checkbox.md-checked .md-icon:after {
            left: 6.67px;
            top: 2.22px; }
        .campaigns .edit-campaigns .box .content .tag-jobs {
          margin: 30px 0;
          font-size: 14px;
          font-weight: bold; }
          .campaigns .edit-campaigns .box .content .tag-jobs .drop {
            width: 45%;
            float: left;
            margin-right: 68px; }
            .campaigns .edit-campaigns .box .content .tag-jobs .drop p span.pull-right {
              cursor: pointer;
              outline: none;
              color: #3d80b8;
              text-decoration: underline;
              font-weight: 600; }
            .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .chosen-container {
              width: 100% !important;
              min-height: 34px; }
              .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .chosen-container .search-choice {
                margin: 4px 0 4px 5px;
                padding: 8px 20px 8px 5px; }
                .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .chosen-container .search-choice .search-choice-close {
                  top: 8px; }
              .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .chosen-container .search-field input {
                height: 34px; }
              .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .chosen-container .chosen-drop {
                border-top: 1px solid #aaa;
                top: 110%; }
            .campaigns .edit-campaigns .box .content .tag-jobs .drop .modern-select .has-error-border + .chosen-container .chosen-choices {
              border-color: red; }
            .campaigns .edit-campaigns .box .content .tag-jobs .drop .has-error-msg {
              font-size: 16px;
              font-weight: normal; }
        .campaigns .edit-campaigns .box .content .upload-contacts {
          margin-bottom: 45px; }
        .campaigns .edit-campaigns .box .content .upload-files {
          /* qq-uploader */ }
          .campaigns .edit-campaigns .box .content .upload-files .qq-uploader {
            margin: 0;
            padding: 0;
            height: 100%; }
            .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-button {
              background: transparent;
              height: 100%;
              width: 100%;
              text-shadow: none;
              font-weight: normal;
              text-transform: uppercase; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-button .align-title {
                position: absolute;
                top: 35%;
                width: 100%;
                left: 0;
                font-size: 18px;
                text-transform: capitalize; }
                .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-button .align-title p {
                  width: 80%;
                  margin: 10px auto 0;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden; }
            .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name {
              width: 100%;
              height: 100%; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name .name {
                position: absolute;
                width: 90%;
                bottom: 17px;
                font-size: 15px;
                left: 6%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: #fff; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name .overlay {
                display: none;
                background: #000000;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0.1; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name i.fa {
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 3px;
                border: 1px solid #ccc;
                background: #fff;
                border-radius: 4px;
                display: none;
                cursor: pointer; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name:hover .overlay,
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-drop-area .file-name:hover i.fa {
                display: block; }
            .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-list {
              z-index: -1;
              top: 65%; }
              .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-list li {
                height: 15px; }
                .campaigns .edit-campaigns .box .content .upload-files .qq-uploader .qq-upload-list li span:not(.qq-progress-bar) {
                  visibility: hidden; }
          .campaigns .edit-campaigns .box .content .upload-files .qq-upload-fail {
            position: absolute;
            font-size: 13px;
            color: #983a3a;
            white-space: nowrap;
            bottom: -25px; }
          .campaigns .edit-campaigns .box .content .upload-files .upload-pitch {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 115px; }
            .campaigns .edit-campaigns .box .content .upload-files .upload-pitch .qq-uploader .qq-upload-button {
              padding: 0;
              font-weight: bold;
              font-size: 13px;
              letter-spacing: 0.6px;
              color: #219070; }
            .campaigns .edit-campaigns .box .content .upload-files .upload-pitch .qq-upload-fail {
              top: 0;
              left: 123%; }
            .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box {
              border: 1px solid #ccc;
              margin-bottom: 20px;
              min-height: 50px; }
              .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box .file {
                position: relative;
                padding: 15px; }
                .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box .file .progress-bar {
                  width: 300px;
                  position: absolute;
                  height: 25px; }
                .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box .file .filename div.logo {
                  background: url("../images/Applied.svg"); }
                .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box .file .filename .name {
                  color: #000;
                  width: 50%;
                  display: inline-block;
                  vertical-align: middle;
                  margin: 0 12px; }
                .campaigns .edit-campaigns .box .content .upload-files .upload-pitch + .upload-box .file .filename img {
                  width: 20px;
                  height: 20px; }
      .campaigns .edit-campaigns .box .box-footer {
        border-top: 1px solid #ccc;
        padding: 20px 0; }
        .campaigns .edit-campaigns .box .box-footer .pull-right .btn-update {
          width: 215px;
          height: 60px;
          font-size: 18px;
          font-weight: 600;
          line-height: 60px;
          background: #1c8f6e;
          border: 1px solid #1c8368;
          color: #fff;
          outline: none;
          border-radius: 5px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase; }
    .campaigns .edit-campaigns .bucket-container .bucket-each {
      width: 13.5%; }
  .campaigns .all-candidates {
    min-height: calc(100vh - 238px);
    font-size: 16px; }
    .campaigns .all-candidates .flex-full {
      width: 100%; }
    .campaigns .all-candidates .box {
      box-shadow: 0px 0px 5px #b7b7b7; }
      .campaigns .all-candidates .box .header {
        height: 70px;
        line-height: 70px;
        background: #fff;
        padding: 0 22px; }
        .campaigns .all-candidates .box .header md-input-container {
          margin: 0;
          width: 300px;
          line-height: initial;
          margin-top: 10px; }
          .campaigns .all-candidates .box .header md-input-container md-select {
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 5px; }
          .campaigns .all-candidates .box .header md-input-container .md-select-value {
            padding-bottom: 5px;
            color: #a9a9a9; }
            .campaigns .all-candidates .box .header md-input-container .md-select-value > span:not(.md-select-icon) {
              max-width: 100%;
              -webkit-box-flex: 1;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
        .campaigns .all-candidates .box .header md-input-container.md-input-has-value md-select md-select-value span:not(.md-select-icon) {
          color: initial; }
        .campaigns .all-candidates .box .header div[data-epi-search] {
          line-height: initial;
          margin-top: 20px; }
          .campaigns .all-candidates .box .header div[data-epi-search] input {
            padding-left: 0; }
            .campaigns .all-candidates .box .header div[data-epi-search] input.ng-not-empty + .search-icon {
              display: none; }
          .campaigns .all-candidates .box .header div[data-epi-search] .search-icon {
            right: 0;
            left: initial; }
        .campaigns .all-candidates .box .header .count-cdt {
          color: #80848c; }
      .campaigns .all-candidates .box .grid {
        border-right: 0 !important;
        border-left: 0 !important; }

/*# sourceMappingURL=campaigns.css.map */
