.candidates {
  font-size: 14px;
  background: #eeeff1; }
  .candidates .sub-header {
    background: #0e2d3f;
    height: 60px; }
    .candidates .sub-header ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .candidates .sub-header ul li {
        display: inline-block;
        position: relative;
        padding: 30px 0px 12px 0px;
        margin: 0 15px; }
        .candidates .sub-header ul li a {
          color: #6b8b9a;
          outline: none;
          text-decoration: none;
          display: inline-block;
          letter-spacing: 0.5px; }
          .candidates .sub-header ul li a:hover, .candidates .sub-header ul li a:focus, .candidates .sub-header ul li a.active {
            color: #fff; }
            .candidates .sub-header ul li a:hover:before, .candidates .sub-header ul li a:focus:before, .candidates .sub-header ul li a.active:before {
              position: absolute;
              color: #fff;
              content: '';
              top: 0px;
              bottom: 2px;
              left: 0px;
              right: 0px;
              border-bottom: 3px solid #14acff; }
  .candidates .resume-room {
    min-height: calc(100vh - 160px); }
    .candidates .resume-room .filter {
      padding-top: 25px;
      border-bottom: 1px solid #cccdcf; }
      .candidates .resume-room .filter p.title {
        color: #4e5f69;
        font-size: 16px;
        font-weight: bold; }
      .candidates .resume-room .filter ul {
        margin: 0;
        padding: 0 8px;
        list-style: none; }
        .candidates .resume-room .filter ul li {
          margin-bottom: 20px; }
          .candidates .resume-room .filter ul li ul {
            margin-left: 16px; }
            .candidates .resume-room .filter ul li ul li {
              font-size: 15px;
              margin: 12px 0; }
      .candidates .resume-room .filter .checkbox {
        margin: 12px 0; }
        .candidates .resume-room .filter .checkbox md-checkbox {
          margin-bottom: 2px; }
          .candidates .resume-room .filter .checkbox md-checkbox .md-label {
            margin-left: 26px; }
          .candidates .resume-room .filter .checkbox md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
            background-color: #2992d3; }
          .candidates .resume-room .filter .checkbox md-checkbox:not([disabled]).md-primary.md-checked .md-ink-ripple {
            color: rgba(41, 146, 211, 0.54); }
    .candidates .resume-room .action div {
      text-align: right; }
      .candidates .resume-room .action div span {
        padding: 15px 10px;
        display: inline-block;
        font-size: 14px;
        outline: none; }
    .candidates .resume-room .box {
      border: 1px solid #cdcdcd;
      box-shadow: 1px 4px 10px #cdcdcd;
      -webkit-box-shadow: 1px 4px 10px #cdcdcd;
      background: #fff; }
      .candidates .resume-room .box .box-header {
        padding: 7px 15px; }
        .candidates .resume-room .box .box-header .col-sm-4 {
          padding: 0;
          line-height: 48px; }
        .candidates .resume-room .box .box-header .col-sm-3 {
          padding: 0;
          margin-top: 8px; }
        .candidates .resume-room .box .box-header md-input-container {
          margin: 0;
          width: 300px; }
          .candidates .resume-room .box .box-header md-input-container md-select {
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 5px; }
          .candidates .resume-room .box .box-header md-input-container .md-select-value {
            padding-bottom: 5px; }
            .candidates .resume-room .box .box-header md-input-container .md-select-value > span:not(.md-select-icon) {
              max-width: 100%;
              -webkit-box-flex: 1;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
      .candidates .resume-room .box .box-content .grid {
        height: calc(100vh - 346px) !important;
        overflow: hidden;
        min-height: 450px; }
        .candidates .resume-room .box .box-content .grid .grid-msg-overlay {
          top: 45px; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-header .ui-grid-selection-row-header-buttons {
          margin-top: 6px; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-header .ui-grid-all-selected:after {
          top: 14px; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-header-cell {
          padding: 0 !important; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-selection-row-header-buttons {
          outline: none;
          opacity: 1;
          margin: 19px 0 0 5px;
          pointer-events: all; }
          .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-selection-row-header-buttons:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid #ccc;
            position: absolute;
            border-radius: 2px;
            background: #fff; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-all-selected:before, .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-row-selected:before {
          background: #0b8fe2;
          border: 1px solid transparent; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-all-selected:after, .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-row-selected:after {
          content: '';
          position: absolute;
          top: 26px;
          left: 19px;
          width: 6px;
          height: 13px;
          border: 2px solid #fff;
          transform: rotate(45deg);
          border-top: 0;
          border-left: 0;
          pointer-events: none; }
        .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-viewport {
          overflow: hidden !important; }
          .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-viewport .ui-grid-row {
            border-bottom: 0;
            position: relative; }
            .candidates .resume-room .box .box-content .grid .ui-grid-pinned-container .ui-grid-viewport .ui-grid-row .ui-grid-cell {
              padding: 0;
              border-color: #ececec; }
        .candidates .resume-room .box .box-content .grid .ui-grid-header {
          height: 45px;
          line-height: 33px;
          border-top: 1px solid #c8d1d0;
          border-bottom: 1px solid #c8d1d0; }
          .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel {
            background: #f3f7f8; }
            .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell {
              border-right: 0;
              padding-left: 15px;
              padding-right: 15px; }
              .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell:focus {
                outline: none; }
              .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] .ui-grid-cell-contents {
                color: #959698;
                font-size: 12px; }
                .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader'] .ui-grid-cell-contents:focus {
                  outline: none; }
              .candidates .resume-room .box .box-content .grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell div[role='columnheader']:focus {
                outline: none; }
        .candidates .resume-room .box .box-content .grid .ui-grid-viewport {
          overflow-y: auto !important; }
          .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-canvas {
            width: 100%; }
          .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row {
            line-height: 60px;
            border-bottom: 1px solid #ececec; }
            .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell {
              font-weight: normal;
              text-transform: capitalize; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell.first-col {
                font-weight: bold; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .pending {
                color: #50a28a; }
                .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .pending img {
                  margin: 20px 0 0 0;
                  width: 20px;
                  height: 20px;
                  outline: none; }
                  .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .pending img.pull-left {
                    margin-right: 7px; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .declined {
                color: #d54343; }
                .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .declined .decline-img {
                  background: url("../images/referrals.png") no-repeat -4px -137px;
                  height: 20px;
                  width: 15px;
                  display: inline-block;
                  vertical-align: middle; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .accepted {
                color: #2384c0; }
                .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-status .accepted .accept-img {
                  background: url("../images/referrals.png") no-repeat -4px -96px;
                  height: 20px;
                  width: 15px;
                  display: inline-block;
                  vertical-align: middle; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-download a {
                color: inherit;
                text-decoration: none;
                height: 100%; }
                .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell .ui-grid-download a .download {
                  background: url("../images/referrals.png") no-repeat 0% 70.7%;
                  background-size: 24px;
                  padding-left: 27px;
                  width: 20px;
                  height: 20px;
                  vertical-align: middle;
                  outline: none;
                  display: inline-block; }
            .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row div[ui-grid-row='row'] {
              height: 100%; }
            .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell {
              height: 100%;
              background: #fff;
              border-right: 0;
              padding-left: 15px;
              padding-right: 15px;
              color: #4a4848; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell.open {
                color: #2db084; }
              .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row .ui-grid-cell.closed {
                color: #d85c5e; }
            .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row:nth-child(even) .ui-grid-cell {
              background: #fff; }
        .candidates .resume-room .box .box-content .grid .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
        .candidates .resume-room .box .box-content .grid .ui-grid-row.ui-grid-row-selected .ui-grid-disable-selection div,
        .candidates .resume-room .box .box-content .grid .ui-grid-row.ui-grid-row-selected {
          background-color: #f8fcff  !important; }
        .candidates .resume-room .box .box-content .grid .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {
          cursor: pointer; }
      .candidates .resume-room .box .box-footer {
        background: #eeeff1;
        padding: 11px; }
        .candidates .resume-room .box .box-footer .status {
          font-size: 17px;
          color: #5b6161;
          line-height: 46px; }
          .candidates .resume-room .box .box-footer .status md-select {
            display: inline-block;
            margin: 0;
            vertical-align: bottom; }
        .candidates .resume-room .box .box-footer .paging {
          display: inline-block; }
          .candidates .resume-room .box .box-footer .paging .pagination {
            margin: 0;
            margin-top: 10px; }
        .candidates .resume-room .box .box-footer .pull-right .ng-binding {
          position: absolute;
          left: 0;
          line-height: 50px;
          width: 170px;
          text-align: right; }
        .candidates .resume-room .box .box-footer .pull-right .download {
          width: 180px;
          height: 50px;
          font-size: 14px;
          font-weight: 600;
          line-height: 50px;
          background: #1c8f6e;
          border: 1px solid #1c8368;
          color: #fff;
          cursor: pointer;
          outline: none;
          border-radius: 5px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          margin-left: 15px; }

/*# sourceMappingURL=candidates.css.map */
