.candidates {
  font-size: 14px;
  background: #eeeff1; }
  .candidates .sub-header {
    background: #0e2d3f;
    height: 60px; }
    .candidates .sub-header ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .candidates .sub-header ul li {
        display: inline-block;
        position: relative;
        padding: 30px 0px 12px 0px;
        margin: 0 15px; }
        .candidates .sub-header ul li a {
          color: #6b8b9a;
          outline: none;
          text-decoration: none;
          display: inline-block;
          letter-spacing: 0.5px; }
          .candidates .sub-header ul li a:hover, .candidates .sub-header ul li a:focus, .candidates .sub-header ul li a.active {
            color: #fff; }
            .candidates .sub-header ul li a:hover:before, .candidates .sub-header ul li a:focus:before, .candidates .sub-header ul li a.active:before {
              position: absolute;
              color: #fff;
              content: '';
              top: 0px;
              bottom: 2px;
              left: 0px;
              right: 0px;
              border-bottom: 3px solid #14acff; }
  .candidates .resume-room {
    min-height: calc(100vh - 160px); }
    .candidates .resume-room .filter {
      padding-top: 25px;
      border-bottom: 1px solid #cccdcf; }
      .candidates .resume-room .filter p.title {
        color: #4e5f69;
        font-size: 16px;
        font-weight: bold; }
      .candidates .resume-room .filter ul {
        margin: 0;
        padding: 0 8px;
        list-style: none; }
        .candidates .resume-room .filter ul li {
          margin-bottom: 20px; }
          .candidates .resume-room .filter ul li ul {
            margin-left: 16px; }
            .candidates .resume-room .filter ul li ul li {
              font-size: 15px;
              margin: 12px 0; }
      .candidates .resume-room .filter .checkbox {
        margin: 12px 0; }
        .candidates .resume-room .filter .checkbox md-checkbox {
          margin-bottom: 2px; }
          .candidates .resume-room .filter .checkbox md-checkbox .md-label {
            margin-left: 26px; }
          .candidates .resume-room .filter .checkbox md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
            background-color: #2992d3; }
          .candidates .resume-room .filter .checkbox md-checkbox:not([disabled]).md-primary.md-checked .md-ink-ripple {
            color: rgba(41, 146, 211, 0.54); }
    .candidates .resume-room .action div {
      text-align: right; }
      .candidates .resume-room .action div span {
        padding: 15px 10px;
        display: inline-block;
        font-size: 14px;
        outline: none; }
    .candidates .resume-room .box {
      border: 1px solid #cdcdcd;
      box-shadow: 1px 4px 10px #cdcdcd;
      -webkit-box-shadow: 1px 4px 10px #cdcdcd;
      background: #fff; }
      .candidates .resume-room .box .box-header {
        padding: 7px 15px; }
        .candidates .resume-room .box .box-header .col-sm-4 {
          padding: 0;
          line-height: 48px; }
        .candidates .resume-room .box .box-header .col-sm-3 {
          padding: 0;
          margin-top: 8px; }
        .candidates .resume-room .box .box-header md-input-container {
          margin: 0;
          width: 300px; }
          .candidates .resume-room .box .box-header md-input-container md-select {
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 5px; }
          .candidates .resume-room .box .box-header md-input-container .md-select-value {
            padding-bottom: 5px;
            color: #a9a9a9; }
            .candidates .resume-room .box .box-header md-input-container .md-select-value > span:not(.md-select-icon) {
              max-width: 100%;
              -webkit-box-flex: 1;
              -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
        .candidates .resume-room .box .box-header md-input-container.md-input-has-value md-select md-select-value span:not(.md-select-icon) {
          color: initial; }
      .candidates .resume-room .box .box-content .grid {
        border: 0 !important; }
        .candidates .resume-room .box .box-content .grid .ui-grid-header {
          height: 45px;
          line-height: 33px;
          border-top: 1px solid #c8d1d0;
          border-bottom: 1px solid #c8d1d0; }
        .candidates .resume-room .box .box-content .grid .ui-grid-viewport .ui-grid-row {
          line-height: 60px; }
        .candidates .resume-room .box .box-content .grid .ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell {
          cursor: pointer; }
      .candidates .resume-room .box .box-footer {
        background: #eeeff1;
        padding: 16px; }
        .candidates .resume-room .box .box-footer .status {
          font-size: 17px;
          color: #5b6161;
          padding-left: 0; }
          .candidates .resume-room .box .box-footer .status md-select {
            height: 32px;
            margin: 0;
            padding: 0 !important; }
        .candidates .resume-room .box .box-footer .paging {
          display: inline-block; }
          .candidates .resume-room .box .box-footer .paging .pagination {
            margin: 0;
            margin-top: 13px; }
        .candidates .resume-room .box .box-footer .pull-right .ng-binding {
          position: absolute;
          right: 0;
          line-height: 38px;
          width: 170px;
          text-align: right; }
        .candidates .resume-room .box .box-footer .pull-right .download {
          width: 180px;
          height: 50px;
          font-size: 14px;
          font-weight: 600;
          line-height: 50px;
          background: #1c8f6e;
          border: 1px solid #1c8368;
          color: #fff;
          cursor: pointer;
          outline: none;
          border-radius: 5px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          margin-left: 15px; }

/*# sourceMappingURL=candidates.css.map */
