/* contactsEdit in dashbaord */

.grid-contacts select.form-control option[value^="?"]{display: none}

.grid-contacts{
  	background: #eeeff1;
  	font-size: 16px;
}
.grid-contacts div:focus{
	outline: none !important;
}
.grid-contacts .container{
  	/*width: 1200px;
	padding: 0px;*/
	padding-bottom: 40px;
}
.grid-contacts .container .container-lt{
	width: 20%;
	padding: 10px 10px 0 0;
	float: left;
}
.grid-contacts .container .container-lt .dropdown{
	margin-bottom: 23px;
}
.grid-contacts .container .container-lt .dropdown .dropdown-menu{
    border:0;
}
.grid-contacts .container .container-lt .bkt-container{
	height: calc(100vh - 220px);
    overflow-y: auto;
    min-height: 458px;
}
.grid-contacts .container .container-lt .bkt-container > span,
.grid-contacts .container .container-lt .bkt-container > div div{
	display: block;
    padding: 14px 0 14px 16px;
    text-align: left;
    font-size: 14px;
    outline: 0;
    border-radius: 2px;
    color: #505455;
    margin-bottom: 4px;
}
.grid-contacts .container .container-lt .bkt-container  div span:first-child,.word-ellipsis{
	max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
/*.grid-contacts .container .container-lt span span{
	display: inline-block;
}*/
.grid-contacts .container .container-lt .dropdown button,
.grid-contacts .open > .dropdown-toggle.btn-primary:hover
.grid-contacts .open > .dropdown-toggle.btn-primary:focus,
.grid-contacts .open > .dropdown-toggle.btn-primary:active{
	padding: 10px 43px;
    background-color: #1d8e70;
    font-size: 16px;
    border-color: #1d8e70;
    box-shadow: none;
    outline:none;
}
.grid-contacts .container .container-lt .dropdown ul{
	width: 100%;
	margin: 0;
	padding: 0;
}
.grid-contacts .container .container-lt .dropdown ul li:not(:last-child){
	border-bottom: 1px solid #d4d4d4;
}
.grid-contacts .container .container-lt .dropdown ul a{
	padding: 20px;
}
/*.grid-contacts .container .container-lt .active-bucket{
	padding: 11px 42px;
    border-radius: 4px;
    margin-bottom: 23px;
    color: #fff;
    background-color: #1d8e70;
    font-size: 16px;
    cursor: pointer;
}
.grid-contacts .container .container-lt .active-bucket a, .grid-contacts .container .container-lt .active-bucket a:hover{
	color: #fff !important;
}*/
.grid-contacts .container .container-lt .activeBucketCls{
	background-color: #969c9c;
	color: #fff !important;
}
.grid-contacts .container .container-rt{
	width: 80%;
	float: right;
	border:1px solid #ccc;
	border-top: 0;
	background-color: #fff;
}
.grid-contacts .container .container-rt .search span{
	display: inline-block;
	max-width: 250px;
}
.grid-contacts .container .container-rt md-input-container{
	float: right;
	margin: -12px 0 0;
    display: inline-block;
}
.grid-contacts .container .container-rt md-input-container .md-errors-spacer{
	min-height: 0;
}
.grid-contacts .container .container-rt .search{
	position: relative;
    padding: 15px;
}
.grid-contacts .container .container-rt .search div{
	display: inline-block;
    text-align: center;
    position: absolute;
    left: 48%;
    top: 16px;
}
.grid-contacts .container .container-rt .search div img{
	width: 30px;
	height: 30px;
}
.grid-contacts .container .container-rt .search div span{
	display: none;
	color: #be7276;
	margin-left: -66px;
}
.grid-contacts .container .container-rt .search input{
	padding: 2px 30px 0 2px !important;
}
.grid-contacts .container .container-rt .search img[alt='buffer']{
	width: 20px;
    height: 20px;
    position: absolute;
    left: -28px;
    top: 12px;
}
.grid-contacts .container .container-rt .search img[alt='feedback_left']{
	position: absolute;
    top: 12px;
    right: 6px;
    width: 16px;
    height: 16px;
    outline: 0;
}
/* grid style */
.grid-contacts .grid-container{
	clear: both;
}
.grid-contacts .grid-container .inline-grid{
    font-size: 14px;
    border-left:0;
    border-right: 0;
    overflow: hidden;
    height: calc(100vh - 268px);
    min-height: 400px;
}
.grid-contacts .ui-grid-header-viewport{
  	height: 43px;
    line-height: 46px;
    color: #959698;
    background: #f3f7f8;
    text-transform: uppercase;
    font-size: 14px;
}
.grid-contacts .ui-grid-header-cell{
    border: 0;
}
.grid-contacts [ui-grid-row] {
    display: table-row;
}
.grid-contacts .inline-grid .ui-grid-contents-wrapper > .ui-grid-render-container .ui-grid-canvas .ui-grid-cell{
	line-height: 65px;
}
.grid-contacts .ui-grid-cell{
    float: none;
    display: table-cell;
    vertical-align: middle;
    border: none;
    line-height: 70px;
    background: #fff !important;
}
.grid-contacts input[type="checkbox"]{
    line-height: 0 !important;
}
.grid-contacts .ui-grid-cell-contents{
    padding: 0;
}
.grid-contacts .ui-grid-cell-contents-hidden + .ng-scope input{
    border-color: #0990e2 !important;
    /*height: 40px;
    width: 80%;
    line-height: 20px;*/
}
.grid-contacts .grid-other-id .ui-grid-cell-contents-hidden + .ng-scope input{
	text-transform: uppercase;
}
/*.grid-contacts .ui-grid-canvas{
    padding: 0;
}*/
.grid-contacts .ui-grid-cell select{
	width: 75% !important;
    padding-left: 0;
    border-radius: 0;
}

.grid-contacts .ui-grid-row .ng-scope div{
	padding-right: 14px;
    border: 1px solid transparent;
    position: relative;
   /* margin-top: -1px;
    pointer-events: none;*/
}
/*.grid-contacts .ui-grid-disable-selection.ng-scope{
	height: 74px !important;
}*/
.grid-contacts .grid-other-id{
	text-transform: uppercase;
}
.grid-contacts .hover-enable .ui-grid-contents-wrapper > .ui-grid-render-container .ui-grid-canvas div[ui-grid-row="row"] div:not(.grid-email):hover div:not(.invalid):first-child:before{
	content: '';
    position: absolute;
    border: 1px solid #0990e2;
    width: 89%;
    height: 66px;
    /*line-height: 38px;*/
}
.grid-contacts .inline-grid  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child,
.grid-contacts .inline-grid  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
    border-right:0 !important;
} 
.grid-contacts .inline-grid .ui-grid-render-container-body .ui-grid-viewport{
    overflow-y: auto !important; 
}
.grid-contacts .inline-grid .ui-grid-render-container-body .ui-grid-viewport .ui-grid-canvas{
    width: 100%;
}
.grid-contacts .ui-grid-column-menu-button .ui-grid-icon-angle-down{
    display: none;
}
.grid-contacts .ui-grid-pinned-container div[role="grid"]{
    margin-left: 1px !important;
} 
.grid-contacts .ui-grid-disable-selection{
    height: 70px;
}
.grid-contacts .ui-grid-disable-selection div{
    background: #fff;
}

.grid-contacts .ui-grid-cell-focus{
  	background: transparent;
   /* height: 38px;
    width: 78%;
    line-height: 38px;*/
}
.grid-contacts .ui-grid-focuser:focus {
  	box-shadow: none;
}
.grid-contacts .ui-grid-pinned-container .ui-grid-header .ui-grid-icon-ok:before{
	top: 10px;
    left: 13px;
}
.grid-contacts .ui-grid-icon-ok:before{
  	position: relative;
    background: url('../images/checkbox_unchecked.svg');
    width: 26px;
    height: 26px;
    left: 9px;
    top: 8px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    content: '';
    pointer-events: all;
}
.grid-contacts .ui-grid-all-selected.ui-grid-icon-ok:before, .grid-contacts .ui-grid-row-selected.ui-grid-icon-ok:before{
    background: url('../images/checkbox_checked_blue.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.grid-contacts .ui-grid-selection-row-header-buttons{
  	opacity: 1;
}
.grid-contacts  .ui-grid-row-dirty .ui-grid-cell{
	color: rgba(0,0,0,.87);
}
/*.grid-contacts	.select-box div:before{
	content: '';
    position: absolute;
    width: 120px;
    height: 40px;
    top: 15px;
    border: 1px solid #ccc;
}*/
/* select row bgcolor */
.grid-contacts .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
.grid-contacts .ui-grid-row.ui-grid-row-selected .ui-grid-disable-selection div,
.grid-contacts .ui-grid-row.ui-grid-row-selected{
  	background-color: #f8fcff !important;
}

/* validation & loaders */
.grid-contacts div.ui-grid-cell-contents.invalid{
	margin-right: 24px;
    height: 96%;
    width: 89%;
    border: 1px solid red;
}
.grid-contacts .grid-msg-overlay{
	top: 42px;
	background-color: rgb(249,249,249, 0.5);
}
.grid-contacts .grid-msg-overlay .msg{
	border: 0;
	background-color: transparent;
	top: 35.5%;
}
.grid-contacts .grid-msg-overlay img{
	width: 86px;
    height: 86px;
}
/*footer bg color */
.grid-contacts .container .container-rt .grid-footer{
 	height: 70px;
  	background: #eeeff1;
  	border-top: 0;
  	font-size: 14px;
    overflow: hidden;
    line-height: 70px;
}
.grid-contacts .container .container-rt .grid-footer .status span md-input-container{
    margin: 0 0 5px 0;
    padding: 0;
    line-height: normal;
    float: none;
    height: 30px;
}
.grid-contacts .container .container-rt .grid-footer .invite .btn-invite{
    padding: 16px;
    line-height: normal;
    margin-top: 8px;
}
.grid-contacts .container .container-rt .grid-footer .invite span.animated{
    position: absolute;
    left: -66px;
    width: 170px;
    text-align: right;
}
.grid-contacts .container .container-rt .grid-footer .pages{
    line-height: normal;
}
.grid-contacts .container .container-rt .grid-footer .pages .pagination{
    margin:18px 0 0 0;
}
.container .container-rt .form-control:focus{
	border-color: #cbcbcb;
	box-shadow: none;
}
.container .container-rt .separated-s{
	color: #c46968;
}
.container .container-rt .active-s{
	color: #0d8e68;
}
.container .container-rt .inactive-s{
	color: #888888;
}
.grid-contacts .ui-grid-row{
	border-bottom: 1px solid #e6e8e8 !important;
	overflow: hidden;
}
/*.ui-grid-cell{
	height: 0px;
}*/

/* upload-contacts in dashboard*/
/*.upload-contacts{
	background: #eeeff1;
}
.upload-contacts .container{
	padding-bottom: 100px;
}
.upload-contacts .head{
	padding: 15px 0;
	display: inline-block;
}
.upload-contacts .head span{
	font-size: 18px;
	font-weight: bold;
	margin-left: 13px;
	color: #636363;
	vertical-align: middle;
}
.upload-contacts .box{
	border: 1px solid #cdcdcd;
	box-shadow: 2px 1px 10px #cdcdcd;
}
.upload-contacts .box .box-content{
	min-height:800px;
	background: #fff;
	padding: 55px 0;
}
.upload-contacts .box .box-content .heading h3{
	margin: 0;
}
.upload-contacts .box .box-content .heading p{
	margin: 16px 0;
}
.upload-contacts .box .box-content .heading p > span{
	color:#999999;
	vertical-align: middle;
}
.upload-contacts .box .box-content .file-uploading{
	width: 60%;
	margin: 0 auto;
	padding: 10px 56px;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4{
	width: 160px;
	height: 160px;
	margin: 20px;
	padding: 0;
	margin-bottom: 35px;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4 .upload-bucket{
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4 .upload-bucket div img[alt='upload']{
	width: 25px;
	height: 25px;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4 .upload-bucket div p{
	margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4 .upload-bucket p.own{
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #808080;
}
.upload-contacts .box .box-content .file-uploading .row > div.col-sm-4 .upload-bucket + p{
	color: #818181;
	font-size: 12px;
	margin-top: 14px;
	outline: none;
}
.upload-contacts .box .box-footer{
	background: #f2f2f2;
	padding: 15px 20px;
	overflow: hidden;
}
.upload-contacts .box .box-footer .btn-add{
	background: #1d8e70;
	color: #fff;
	padding: 12px 33px;
	display: inline-block;
	border: 2px solid #1c8368;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.upload-contacts .box .box-footer .btn-cancel{
    color: #959595;
    padding: 12px 22px;
    display: inline-block;
    cursor: pointer;
    margin-right: 12px;
    font-size: 17px;
}
.upload-contacts .box .box-footer .btn-add img[alt='dot']{
	position: absolute;
    right: -8px;
    top: 3px;
}*/


/* qq uploader*/
/*.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader{
	height: 100%;
	margin-bottom: 0;
	padding-top: 0;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-upload-fail{
	position: absolute;
    font-size: 13px;
    color: #983a3a;
    white-space: nowrap;
    bottom: -18px;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-button{
	background: transparent;
	height: 100%;
	width: 100%;
	text-shadow: none;
	font-weight: normal;
	text-transform: uppercase;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-list{
	z-index: 1;
	top: 65%;
}
.qq-upload-success span:nth-child(n+1),.qq-upload-success a{
	display: none !important;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title{
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title p{
	width: 80%;
    margin: 10px auto 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name{
    width: 100%;
    height: 100%;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name p.name{
    position: absolute;
    width: 90%;
    bottom: 17px;
    font-size: 15px;
    left: 6%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name .overlay{
    display: none;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.1;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name i.fa{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover .overlay,
.upload-contacts .box .box-content .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover i.fa{
	display: block;
}*/






/*modal styles*/
/*.bucket-modal md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border-color: rgba(0,0,0,0.12);
    border-color: #999;
}
.bucket-modal .modal-header{
	padding: 10px 0;
}
.bucket-modal .modal-header h3.modal-title{
	color: #fff;
}
.bucket-modal .modal-body{
	padding: 40px;
}
.bucket-modal .modal-body .browse{
	border: 1px solid;
	padding: 12px 50px;
	cursor: pointer;
}
.bucket-modal .modal-body .browse input[type='file']{
	display: none;
}
.bucket-modal .modal-footer{
	padding: 10px 20px 10px 0;
}
.bucket-modal .modal-footer .btn-upload{
	border: 1px solid;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
}
.bucket-modal .modal-footer .btn-cancel{
	padding: 10px 20px;
	color: #959595;
	outline: none;
}*/



/* new mock */
/* modal styles*/
.bucket-modal .modal,
.contact-modal .modal{
    /*top: calc(50% - 335px);*/
    left: calc(50% - 495px);
    overflow-y: auto; 
}
.bucket-modal .modal-dialog,
.contact-modal .modal-dialog{
	width: 990px;
	height: 670px;
	overflow-y:	auto;
    /*margin: 0; */
    margin: 5% 0;
}
.bucket-modal .modal-dialog .modal-content,
.contact-modal .modal-dialog .modal-content{
	border-radius: 0;
	width: 100%;
	height: 100%; 
}
.bucket-modal .modal-dialog .modal-footer,
.contact-modal .modal-dialog .modal-footer{
    background: #eeeeee;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.bucket-modal .modal-footer .mm-btn,
.contact-modal .modal-footer .mm-btn{
   padding: 14px 24px;
}
.bucket-modal .modal-body img[alt='close'],
.bucket-modal .modal-body img[alt='back'],
.contact-modal .modal-body img[alt='close'],
.contact-modal .modal-body img[alt='back']{
    width: 25px;
    height: 25px;
    outline: none;
}
.bucket-modal .modal-body .heading p{
    margin:14px 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.bucket-modal .modal-body .download{
    margin: 33px 0 14px;
    font-size: 16px;
    color: #0f8265;
}
.bucket-modal .modal-body .contacts-group .download span{
    outline: none;
}


/* contacts group modal */
.bucket-modal .modal-dialog .modal-content form[name='buckets_form']{
    width: 100%;
    height: 90%;
}
.bucket-modal .modal-body .contacts-group{
    overflow-y: auto; 
    height: 100%;
    width: 100%;
}
.bucket-modal .modal-body .contacts-group .close{
	opacity: 0.6;
	outline: none;
}
.bucket-modal .modal-body .contacts-group .close:hover,
.bucket-modal .modal-body .contacts-group .close:focus{
	opacity: 1;
}


    /* bucket styles (qq-uploader) */
.bucket-modal .modal-body .contacts-group .file-uploading{
	width: 64%;
	margin: 0 auto;
}
.bucket-modal .modal-body .contacts-group .file-uploading .row{
	margin: 0;
	margin-left: 45px;
}
.bucket-modal .modal-body .contacts-group .file-uploading .row > div.col-sm-4{
	width: 160px;
	height: 160px;
	margin: 20px;
	padding: 0;
	margin-left: 0;
	margin-bottom: 0;
}
.bucket-modal .modal-body .contacts-group .file-uploading .row > div.col-sm-4 .upload-bucket{
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
.bucket-modal .modal-body .contacts-group .file-uploading .row > div.col-sm-4 .upload-bucket.new-bucket{
	width: 100%;
	height: 100%;
	border: 2px dashed #ccc;
	background: #f3f7fa;
    outline: none;
}
.bucket-modal .modal-body .contacts-group .file-uploading .row > div.col-sm-4 .upload-bucket.new-bucket p.own{
	font-size: 18px;
    position: absolute;
    top: 40%;
    color: #808080;
    /*left: 16%;*/
    padding: 0 5px;
}

/* shiva */
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button{
    background: transparent;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button input[type="file"]{
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title{
    position: absolute;
    top: 35%;
    width: 100%;
    left: 0;
    font-size: 18px;
    text-transform: capitalize;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title p{
    width: 80%;
    margin: 10px auto 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title p + span{
    text-transform: initial;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-upload-fail{
    position: absolute;
    font-size: 13px;
    color: #983a3a;
    white-space: nowrap;
    bottom: -18px;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name{
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name p.name{
    position: absolute;
    width: 90%;
    bottom: 17px;
    font-size: 15px;
    left: 6%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    margin: 0;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name .overlay{
    display: none;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.1;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name i.fa{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover .overlay,
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover i.fa{
    display: block;
}
.bucket-modal .modal-body .qq-uploader .drag_img{display: none;}

/*.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader{
	height: 100%;
	margin-bottom: 0;
	padding-top: 0;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-upload-fail{
	position: absolute;
    font-size: 13px;
    color: #983a3a;
    white-space: nowrap;
    bottom: -18px;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button{
	background: transparent;
	height: 100%;
	width: 100%;
	text-shadow: none;
	font-weight: normal;
	text-transform: uppercase;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-list{
	z-index: -1;
	top: 0;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title{
	position: absolute;
	top: 35%;
	width: 100%;
	left: 0;
	font-size: 18px;
    text-transform: capitalize;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-button span.align-title p{
	width: 80%;
    margin: 10px auto 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name{
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name p.name{
    position: absolute;
    width: 90%;
    bottom: 17px;
    font-size: 15px;
    left: 6%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name .overlay{
    display: none;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.1;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name i.fa{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover .overlay,
.bucket-modal .modal-body .contacts-group .file-uploading .upload-bucket .qq-uploader .qq-upload-drop-area .file-name:hover i.fa{
	display: block;
}
*/


/* new bucket modal */
.bucket-modal .modal-body .new-bucket .content{
    width: 27%;
    margin: 0 auto;
    margin-top: 60px;
}

    /* new bucket qq-uploader */
.bucket-modal .modal-body #new-bucket{
    height: 50px;
}
.bucket-modal .modal-body #new-bucket .qq-uploader{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-button{
    background: #888;
}
.bucket-modal .modal-body #new-bucket .qq-upload-fail{
    font-size: 13px;
    color: #983a3a;
    white-space: nowrap;
}
/*.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-button{
    height: 100%;
    width: 100%;
    text-shadow: none;
    font-weight: normal;
    border: 2px solid #cccccc;
    color: #a0a0a0;
    background: #f8f8f8;
}*/
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-button input[type="file"]{
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body .qq-uploader .qq-upload-button input[type="file"]{
    width: 100%;
    height: 100%;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-button span.name{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    font-size: 20px;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-drop-area{
    background: transparent;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-drop-area .file-name{
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 15px 0;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-drop-area .file-name img[alt='file']{
    width: 25px;
    height: 25px;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-drop-area .file-name p.name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 80%;
    padding-left: 5px;
}
.bucket-modal .modal-body #new-bucket .qq-uploader .qq-upload-drop-area .file-name img[alt='cancel']{
    cursor: pointer;
    position: absolute;
}



/* new contact modal*/
.contact-modal .md-select-menu-container{
    z-index: 1100;
}
.contact-modal .modal-body .new-contact .content{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
.contact-modal .modal-body .new-contact .content .pull-left,
.contact-modal .modal-body .new-contact .content .pull-right{
    width: 45%;
}

    /* angular material css */
.contact-modal .modal-body .new-contact .content md-input-container{
    margin: 25px 0 0;
}
.contact-modal .modal-body .new-contact .content md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder{
    color: #666;
}
.contact-modal .modal-body .new-contact .content md-input-container label,
.contact-modal .modal-body .new-contact .content md-select .md-select-value.md-select-placeholder{
    font-size: 18px;
}
.contact-modal .modal-body .new-contact .content md-input-container:not(.md-input-invalid).md-input-focused label,
.contact-modal .modal-body .new-contact .content md-input-container.md-input-has-value label:not(.md-no-float){
    color: #656565;
}