.qq-uploader .qq-upload-drop-area {
  width: 100%;
  height: 100%; }
  .qq-uploader .qq-upload-drop-area .drag_img {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
    .qq-uploader .qq-upload-drop-area .drag_img .img-thumbnail {
      width: 100%;
      height: 100%; }
    .qq-uploader .qq-upload-drop-area .drag_img .img-circle {
      width: 100%;
      height: 100%; }
    .qq-uploader .qq-upload-drop-area .drag_img .icon-trash {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 3px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 4px;
      display: none;
      cursor: pointer; }
    .qq-uploader .qq-upload-drop-area .drag_img .overlay {
      display: none;
      background: #000000;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.1; }
    .qq-uploader .qq-upload-drop-area .drag_img:hover .overlay, .qq-uploader .qq-upload-drop-area .drag_img:hover .icon-trash {
      display: block; }
    .qq-uploader .qq-upload-drop-area .drag_img .spinner {
      margin-top: 40%; }
      .qq-uploader .qq-upload-drop-area .drag_img .spinner.small {
        width: 25px;
        height: 25px; }
.qq-uploader .qq-upload-button {
  box-shadow: none;
  width: 100%;
  height: 100%;
  text-shadow: none;
  font-weight: normal; }
.qq-uploader .qq-upload-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1; }
  .qq-uploader .qq-upload-list li:not(.qq-upload-success) {
    background: rgba(0, 0, 0, 0.5);
    height: 100%; }
    .qq-uploader .qq-upload-list li:not(.qq-upload-success) .progress-text {
      text-align: center;
      margin-bottom: 5px; }

.edit-company .edit-box .company-logo .qq-uploader, .edit-company .edit-box .image-group .qq-uploader {
  width: 125px;
  height: 125px;
  margin: 0;
  padding: 0; }
  .edit-company .edit-box .company-logo .qq-uploader .qq-upload-drop-area, .edit-company .edit-box .image-group .qq-uploader .qq-upload-drop-area {
    background: transparent; }
  .edit-company .edit-box .company-logo .qq-uploader .qq-upload-button, .edit-company .edit-box .image-group .qq-uploader .qq-upload-button {
    background: url("../images/icon.png"); }
    .edit-company .edit-box .company-logo .qq-uploader .qq-upload-button input[type='file'], .edit-company .edit-box .image-group .qq-uploader .qq-upload-button input[type='file'] {
      width: 100%;
      height: 100%; }
.edit-company .edit-box .referral-bonus .qq-uploader {
  width: 280px;
  height: 60px;
  padding: 0px;
  margin: 0; }
  .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area {
    background: transparent; }
    .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img a {
      display: inline-block; }
      .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img a.view {
        line-height: 50px;
        color: #333;
        width: 78%; }
        .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img a.view img {
          width: 25px;
          height: 25px; }
        .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img a.view p {
          padding: 0px 5px;
          display: inline-block;
          margin: 0;
          max-width: 87%;
          vertical-align: middle;
          font-size: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
      .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img a img {
        width: 30px;
        height: 30px; }
    .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-drop-area .drag_img img {
      cursor: pointer; }
  .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-button {
    background: #e6e6e6;
    border: 1px solid #ccc;
    color: #000;
    line-height: 45px;
    font-size: 18px; }
    .edit-company .edit-box .referral-bonus .qq-uploader .qq-upload-button input[type='file'] {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=edit-company.css.map */
