/* qq uploader */
/* IE Cross icon disable */
input::-ms-clear {
  display: none; }

/* IE Placeholder Color */
input::-ms-input-placeholder {
  color: #a9a9a9 !important; }

/* Safarai, Chrome */
input::-webkit-input-placeholder {
  color: #a9a9a9 !important; }

/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material-icons/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/material-icons/MaterialIcons-Regular.woff) format("woff"), url(../fonts/material-icons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* components(search box) templates */
.search-box-wrap {
  position: relative; }
  .search-box-wrap.inactive .search-box {
    border-color: #cbd1d0; }
  .search-box-wrap .search-box {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #c8d1d0;
    outline: none;
    padding: 5px 25px;
    width: 100%;
    border-color: #01b893;
    font-size: 16px; }
  .search-box-wrap .search-box-icon {
    position: absolute;
    top: 5px;
    opacity: 0.5;
    outline: none; }
    .search-box-wrap .search-box-icon.icon-spin {
      right: 8px;
      top: 10px; }
    .search-box-wrap .search-box-icon.search-icon {
      left: 0; }
    .search-box-wrap .search-box-icon.close-icon {
      right: 8px;
      cursor: pointer; }

/* email jobs and campaigns list view*/
.list {
  color: #939393;
  min-height: 400px; 
  max-height: 610px;
  overflow:auto;}
  .list .row {
    border: 1px solid #ebebeb;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    position: relative; }
    .list .row a.details, .list .row a.detail {
      color: inherit; }
      .list .row a.details:focus, .list .row a.details:hover, .list .row a.detail:focus, .list .row a.detail:hover {
        color: inherit;
        text-decoration: none; }
    .list .row p {
      font-size: 17px;
      color: initial;
      color: #323232;
      margin-bottom: 4px;
      /*font-weight: 600;*/
      transition: 0.5s all linear; }
      .list .row .fields {
        font-size: 13px;
        line-height: 22px;
      }
    .list .row .fields .labels {
      color: inherit;
      padding: 0; }
    .list .row .fields .value {
      color: #323232; }
    .list .row .buttons {
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 30px; }
      .list .row .buttons a {
        font-size: 14px;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        padding: 6px 14px;
        display: inline-block;
        border: 1px solid;
        text-align: right; }
      .list .row .buttons .apply {
        background: #238260;
        color: #fff;
        border-color: #238260; }
      .list .row .buttons .refer, .list .row .buttons .campaign {
        color: #238260;
        border-color: #238260; }

/* sharing directive */
social-sharing {
  display: block;
  overflow: hidden; }
  social-sharing .social-sharing div {
    float: left;
    display: inline; }
    social-sharing .social-sharing div span {
      width: 42px;
      height: 42px;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      margin-right: 4px; }
      social-sharing .social-sharing div span i {
        font-size: 24px;
        margin-top: 10px;
        color: #fff; }
      social-sharing .social-sharing div span.facebook {
        background: #3b5998; }
      social-sharing .social-sharing div span.twitter {
        background: #1da1f2; }
      social-sharing .social-sharing div span.googlePlus {
        background: #dc4e41; }
      social-sharing .social-sharing div span.linkedin {
        background: #0077b5; }

/* copy url */
copy-url .link {
  overflow: hidden;
  margin-top: 20px; }
  copy-url .link .field {
    width: 70%;
    float: left; }
    copy-url .link .field input {
      border-color: #ddd;
      box-shadow: none;
      border-radius: 2px;
      height: 40px;
      color: #323232;
      font-size: 13px;
    }
  copy-url .link .btns {
    background: #198fcc;
    position: relative;
    width: 30%;
    float: left;
    text-align: center;
    color: #fff;
    padding: 0 8px;
    margin-left: -2px;
    cursor: pointer;
    outline: none;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
copy-url .copied::after {
  position: absolute;
  top: 16%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 4px 5px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease; }
@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  70% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0; } }
md-divider {
  border-color: #ddd; }

/* loader */
.email-parser-loader {
  text-align: center;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 36px);
  top: calc(50% - 36px); }
  .email-parser-loader img {
    width: 72px;
    height: 72px; }

/*chrome scrollbar */
*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  padding-top: 40px; }

*::-webkit-scrollbar-track {
  border-radius: 4px; }

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  height: 30px;
  width: 6px;
  background-color: #c1c1c1; }

*::selection {
  background: #0ba082;
  color: #fff; }

/*# sourceMappingURL=email-parser-common.css.map */
