body.email-parser .modal .modal-header {
  text-align: center; }
  body.email-parser .modal .modal-header .modal-title {
    color: #fc1600; }
body.email-parser .modal .modal-body {
  font-size: 16px;
  color: #5b5b5b; }
  body.email-parser .modal .modal-body p {
    margin: 0 0 20px; }

.drop-box .container section {
  width: 620px;
  min-height: 470px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 120px; }
  .drop-box .container section .logo {
    text-align: center;
    margin: 0 auto;
    padding: 34px 0; }
    .drop-box .container section .logo img {
      width: 160px; }
    .drop-box .container section .logo .company-name {
      font-size: 30px;
      color: #478e76;
      text-transform: uppercase; }
  .drop-box .container section .title-underline {
    border-bottom: 1px solid #e8e8e8;
    width: 304px;
    margin: 0 auto; }
  .drop-box .container section .row {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px; }
    .drop-box .container section .row .title {
      padding: 24px 14px;
      clear: both;
      margin: 0; }
    .drop-box .container section .row .title.candidate {
      border-top: 1px solid #e8e8e8;
      clear: both; }
    .drop-box .container section .row .form-style .form-group, .drop-box .container section .row .form-style .file {
      margin-bottom: 35px; }
      .drop-box .container section .row .form-style .form-group label, .drop-box .container section .row .form-style .file label {
        color: #5b5b5b;
        font-weight: initial;
        margin-bottom: 7px; }
        .drop-box .container section .row .form-style .form-group label sup, .drop-box .container section .row .form-style .file label sup {
          top: 1px;
          font-size: 18px;
          left: 3px; }
      .drop-box .container section .row .form-style .form-group input, .drop-box .container section .row .form-style .form-group select, .drop-box .container section .row .form-style .file input, .drop-box .container section .row .form-style .file select {
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 16px;
        border-color: #b9b9b9; }
      .drop-box .container section .row .form-style .form-group select::-ms-expand, .drop-box .container section .row .form-style .file select::-ms-expand {
        display: none; }
      .drop-box .container section .row .form-style .form-group select, .drop-box .container section .row .form-style .file select {
        -webkit-appearance: none;
        appearance: none;
        line-height: 26px; }
      .drop-box .container section .row .form-style .form-group i, .drop-box .container section .row .form-style .file i {
        position: absolute;
        right: 16px;
        font-size: 40px;
        padding: 3px 12px;
        display: block;
        pointer-events: none; }
      .drop-box .container section .row .form-style .form-group .intl-tel-input, .drop-box .container section .row .form-style .file .intl-tel-input {
        width: 100%; }
        .drop-box .container section .row .form-style .form-group .intl-tel-input .selected-flag, .drop-box .container section .row .form-style .file .intl-tel-input .selected-flag {
          outline: none;
          border-right: 1px solid #b9b9b9;
          background: #f3f3f3; }
          .drop-box .container section .row .form-style .form-group .intl-tel-input .selected-flag .iti-arrow, .drop-box .container section .row .form-style .file .intl-tel-input .selected-flag .iti-arrow {
            right: 3px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #888888; }
        .drop-box .container section .row .form-style .form-group .intl-tel-input .country-list, .drop-box .container section .row .form-style .file .intl-tel-input .country-list {
          overflow-x: hidden;
          max-width: 295px;
          max-height: 195px; }
    .drop-box .container section .row .form-style .form-group.gap {
      margin-bottom: 35px; }
    .drop-box .container section .row .form-style .file {
      position: relative; }
      .drop-box .container section .row .form-style .file label + span {
        position: absolute;
        top: 40px;
        left: 18px;
        max-width: 140px;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden; }
      .drop-box .container section .row .form-style .file #upload-resume {
        height: 50px; }
        .drop-box .container section .row .form-style .file #upload-resume .qq-uploader {
          margin: 0;
          padding: 0;
          height: 100%; }
          .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-button {
            border-right: 1px solid #b9b9b9;
            position: absolute;
            right: 0;
            top: 2px;
            width: 46%;
            height: 43px;
            padding: 0;
            line-height: 43px;
            cursor: pointer;
            color: #248261;
            box-shadow: none;
            border-left: 1px solid #b9b9b9;
            border-radius: 0;
            text-shadow: none;
            background-color: #F9F9F9;
            background-image: -webkit-linear-gradient(#F9F9F9, #cfcfcf);
            background-image: -o-linear-gradient(#F9F9F9, #cfcfcf);
            background-image: linear-gradient(#F9F9F9, #cfcfcf);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F9F9F9, endColorstr=#cfcfcf); }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-button input {
              height: 100%; }
          .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list {
            position: absolute;
            top: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            z-index: -1; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list .qq-upload-fail {
              position: absolute;
              top: 47px;
              background: transparent !important;
              color: red; }
              .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list .qq-upload-fail i {
                display: none; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list li:not(.qq-upload-success) {
              background: rgba(0, 0, 0, 0.5);
              height: 100%; }
              .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list li:not(.qq-upload-success) .progress-text {
                text-align: center;
                margin-bottom: 5px; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list .qq-upload-progress {
              background: gray !important; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-list li.qq-upload-success .upload-success {
              background: none !important; }
          .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-drop-area .drag_img {
            width: 100%;
            height: 100%;
            background: #f3f3f3 !important; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-drop-area .drag_img a.view {
              line-height: 50px;
              color: #333;
              width: 78%; }
              .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-drop-area .drag_img a.view img {
                width: 25px;
                height: 25px; }
              .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-drop-area .drag_img a.view p {
                padding: 0px 5px;
                display: inline-block;
                margin: 0;
                max-width: 75%;
                vertical-align: middle;
                font-size: 16px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden; }
            .drop-box .container section .row .form-style .file #upload-resume .qq-uploader .qq-upload-drop-area .drag_img img {
              cursor: pointer; }
        .drop-box .container section .row .form-style .file #upload-resume .qq-upload-fail i {
          display: none; }
        .drop-box .container section .row .form-style .file #upload-resume .qq-upload-fail span {
          color: red; }
      .drop-box .container section .row .form-style .file label {
        position: relative; }
        .drop-box .container section .row .form-style .file label:after {
          content: '';
          position: absolute;
          border: 1px solid #b9b9b9;
          height: 45px;
          width: 295px;
          left: 1px;
          top: 28px; }
      .drop-box .container section .row .form-style .file .file-name {
        position: absolute;
        top: 40px;
        left: 18px;
        max-width: 140px; }
  .drop-box .container section .footer {
    padding-top: 22px;
    font-size: 18px; }
    .drop-box .container section .footer .pull-left .message {
      color: #e84949;
      font-size: 15px;
      text-transform: capitalize; }
      .drop-box .container section .footer .pull-left .message.success {
        color: #208d6e; }
    .drop-box .container section .footer .pull-right .cancel {
      color: #878787;
      line-height: 50px;
      text-transform: uppercase; }
      .drop-box .container section .footer .pull-right .cancel a {
        text-decoration: none;
        color: inherit; }
    .drop-box .container section .footer .pull-right .submit {
      color: #fff;
      background: #248261;
      float: right;
      padding: 12px 32px;
      color: #fff;
      margin-left: 20px; }
.drop-box *[ng-click] {
  cursor: pointer;
  outline: none; }

.error-spacer {
  float: right;
  min-height: 24px;
  min-width: 1px; }

.has-error-msg {
  color: red;
  float: left;
  min-height: 24px;
  min-width: 1px;
  white-space: nowrap;
  position: absolute;
  top: 74px;
  left: 16px;
  background: #fff;
  z-index: -1; }

/*# sourceMappingURL=email-parser.css.map */
