.all-jobs .container {
  width: 800px; }
  .all-jobs .container header {
    padding: 43px 0;
    text-align: center;
    border-bottom: 1px solid #dedede; }
    .all-jobs .container header img {
      width: 160px; }
      .all-jobs .container header img.loading {
        width: 20px;
        height: 20px; }
    .all-jobs .container header .company-name {
      font-size: 30px;
      color: #478e76;
      text-transform: uppercase; }
  .all-jobs .container section.job {
    min-height: 300px;
    position: relative; }
    .all-jobs .container section.job .header {
      padding: 15px 0; }
      .all-jobs .container section.job .header .count {
        padding: 6px 0;
        font-size: 16px; }
    .all-jobs .container section.job .overlay {
      position: absolute;
      top: 0;
      background: rgba(151, 197, 226, 0.07);
      text-align: center;
      height: 100%;
      width: 100%; }
      .all-jobs .container section.job .overlay.text {
        background: transparent;
        font-size: 25px;
        top: 80px; }
  .all-jobs .container section.job-details {
    margin-top: 30px;
    position: relative;
    min-height: 300px; }
    .all-jobs .container section.job-details .loader {
      position: absolute;
      left: 50%;
      top: 50%; }
    .all-jobs .container section.job-details .row {
      margin-right: 0px; }
      .all-jobs .container section.job-details .row .header {
        padding-top: 8px; }
        .all-jobs .container section.job-details .row .header p {
          margin: 0;
          color: #3871cd;
          font-size: 16px;
          text-transform: capitalize; }
        .all-jobs .container section.job-details .row .header h4 {
          color: #252525;
          margin-top: 5px; }
      .all-jobs .container section.job-details .row .rewards {
        text-align: center; }
        .all-jobs .container section.job-details .row .rewards:first-child {
          border-left: 1px solid #dedede;
          border-right: 1px solid #dedede; }
        .all-jobs .container section.job-details .row .rewards h4 {
          margin: 0;
          color: #ed871a; }
        .all-jobs .container section.job-details .row .rewards p {
          color: #939393; }
    .all-jobs .container section.job-details .job-params {
      padding: 10px 0; }
      .all-jobs .container section.job-details .job-params .row .labels {
        color: #939393; }
      .all-jobs .container section.job-details .job-params .row .value {
        color: #252525; }
    .all-jobs .container section.job-details .job-desc p {
      margin: 0;
      color: #939393; }
    .all-jobs .container section.job-details .job-desc pre {
      border: 0;
      background: transparent;
      font-size: 16px;
      padding: 0;
      margin: 0;
      font-family: 'Roboto';
      white-space: pre-line;
      color: #262626;
      padding: 5px 0 0 25px; }
    .all-jobs .container section.job-details .action {
      padding-top: 22px; }
      .all-jobs .container section.job-details .action a {
        outline: none;
        margin-right: 25px;
        cursor: pointer;
        text-decoration: none;
        padding: 6px 14px;
        display: inline-block;
        border-radius: 3px;
        background: #238260;
        border: 1px solid #238260;
        color: #fff; }
      .all-jobs .container section.job-details .action .refer {
        background: transparent;
        color: #238260;
        border-color: #238260; }
      .all-jobs .container section.job-details .action .all-jobs {
        margin: 0;
        float: right;
        background: transparent;
        color: #252525;
        border-color: #252525;
        padding: 6px 14px; }
  .all-jobs .container footer .social-media {
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    margin-top: 32px;
    border-right: 0;
    border-left: 0;
    background: #fff; }
  .all-jobs .container footer .drop-cv {
    text-align: center;
    padding: 26px;
    background: #fff;
    border-top: 1px solid #ebebeb; }
    .all-jobs .container footer .drop-cv span {
      font-size: 14px;
      color: #252525; }
      .all-jobs .container footer .drop-cv span a {
        outline: none;
        margin-right: 25px;
        cursor: pointer;
        text-decoration: none;
        padding: 6px 14px;
        display: inline-block;
        border-radius: 3px;
        background: #238260;
        border: 1px solid #238260;
        color: #fff; }

/* ALL CAMPAIGNS */
.all-campaigns {
  color: #939393; }
  .all-campaigns header.logo {
    padding: 43px 0;
    text-align: center; }
    .all-campaigns header.logo img {
      width: 160px; }
      .all-campaigns header.logo img.loading {
        width: 20px;
        height: 20px; }
    .all-campaigns header.logo .company-name {
      font-size: 30px;
      color: #478e76;
      text-transform: uppercase; }
  .all-campaigns .content {
    background: -webkit-linear-gradient(bottom, #f2f1ef, white 20%);
    background: -o-linear-gradient(bottom, #f2f1ef, white 20%);
    background: -moz-linear-gradient(bottom, #f2f1ef, white 20%);
    background: linear-gradient(to bottom, #f2f1ef, white 20%);
    min-height: calc(100vh - 150px); }
    .all-campaigns .content .campaign-details {
      width: 60%;
      margin: 0 auto; }
      .all-campaigns .content .campaign-details .details {
        background: url("../images/email-parser/campaign-bg.jpg");
        background-size: 100% 100%;
        padding: 35px 15px; }
        .all-campaigns .content .campaign-details .details .header p {
          color: #3b6fd0;
          margin-bottom: 3px; }
        .all-campaigns .content .campaign-details .details .header span {
          font-size: 22px;
          color: initial; }
        .all-campaigns .content .campaign-details .details .header h4 {
          margin: 6px 0;
          color: #999; }
        .all-campaigns .content .campaign-details .details .row {
          margin-top: 25px; }
          .all-campaigns .content .campaign-details .details .row .col-sm-6.time .article {
            color: #e79f06;
            font-size: 17px;
            text-align: center; }
            .all-campaigns .content .campaign-details .details .row .col-sm-6.time .article big {
              display: block;
              font-size: 30px; }
            .all-campaigns .content .campaign-details .details .row .col-sm-6.time .article .pull-left {
              width: 45%; }
          .all-campaigns .content .campaign-details .details .row .col-sm-6.location .article {
            color: initial; }
          .all-campaigns .content .campaign-details .details .row .col-sm-6 .title {
            border-bottom: 1px solid #ececec;
            padding-bottom: 8px;
            margin-bottom: 15px;
            font-size: 21.7px; }
            .all-campaigns .content .campaign-details .details .row .col-sm-6 .title img {
              width: 30px;
              height: 30px; }
      .all-campaigns .content .campaign-details .footer .social-share {
        padding: 25px 0;
        border-top: 1px solid #ebebeb;
        margin-top: 32px; }

/*# sourceMappingURL=email-parser-jobs.css.map */
