*{
    box-sizing: border-box;
}

input[type=text]::-ms-clear{
    display: none;
}
select::-ms-expand {
    display: none;
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    src:url('../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-Italic';
    font-style: normal;
    src: url('../fonts/Roboto-Italic.ttf');
}
body{
    font-family: 'Roboto';
    font-style: 16px;
}
hr{
    border-color: #ccc;
    width: 100px;
    margin-top: 12px;
    margin-bottom: 30px;
}
.preloader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loader/preloader.gif') 50% 50% no-repeat rgb(255,255,255);
}

/*Background Image*/
.bg-image{
    background: url('../images/bg-img.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    height: 100%;
    overflow: auto;
}
.bg-image footer,.forgot-password footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bg-image footer .row{
    margin: 0
}
.bg-image footer div.container{
    border-top: 1px solid #ccc;
    padding: 10px 0 0 0;
    color: white;
}
.bg-image footer ul,.forgot-password footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.bg-image footer ul > li,.forgot-password footer ul > li{
    display: inline-block;
    margin-left: 20px;
}
.bg-image footer a,.bg-image footer a:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.bg-image footer a:hover{
    color: #219070;
    text-decoration: none;
    cursor: pointer;
}

/*Angular Material Styles*/
.has-error-msg{
    color: red;
    float: left;
    min-height: 24px;
    min-width: 1px;
    white-space: nowrap;
}
md-input-container .md-input.ng-invalid.ng-dirty{
    border-width: 0 0 1px;
}
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value, md-select.ng-invalid.ng-touched .md-select-value{
    color: #666 !important;
    border-bottom-color: rgba(0,0,0,0.12) !important;
}
.has-error-border{
    border-color: red !important;
    border-bottom: 1px solid red !important;
}
.md-select-value .md-select-icon:after{
    content: url('../images/arrow-dropdown.svg') !important;
    display: inline !important;
}
md-input-container {
    position: relative;
}
md-input-container .md-errors-spacer + div{
    position: absolute;
    bottom: 0;
}
md-input-container label{
    color: #666;
    font-weight: normal;
}
md-input-container.md-input-has-value label:not(.md-no-float){
    -webkit-transform: translate3d(0,6px,0) scale(.85);
    transform: translate3d(0,6px,0) scale(.85);
    color: #999;
    display: block !important; 
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border-color: rgba(0,0,0,0.12);
    border-color: #01B893;
}
md-input-container:not(.md-input-invalid).md-input-focused label{
    color: rgba(0,0,0,0.56);
    -webkit-transform: translate3d(0,6px,0) scale(.85);
    transform: translate3d(0,6px,0) scale(.85);
    color: #999;
}
md-select .md-select-value.md-select-placeholder{
    color: #666;
    font-weight: normal;
}
md-select:not([disabled]):focus .md-select-value{
    border-bottom-color: rgba(0,0,0,0.12);
    border-color: #01B893;
}
md-select-menu{
    max-height: 260px;
    border: 1px solid #ccc;
}
input{
    font-size: 18px;
}
.md-select-value > span > div.md-text{
    font-size: 18px;
}



/*RESPONSIVE STYLES*/
@media (max-height: 672px){
    .verify-page + footer{
        position: static !important;
    }
}
@media (max-height: 756px){
    .signin-signup + footer{
        position: static !important; 
    }
    .company-profile{
        height: auto !important;
    }
}
@media (max-height: 550px){
    .forgot-password footer{
        position: static !important;
    }
}
@media(max-width: 767px){
    .signin-signup .col-xs-9{
        float: none;
        margin: 0 auto;
    }
    .bg-image footer{
        position: static !important;
    }
}
@media(max-width: 540px){
    .signin-signup .col-xs-9{
        width: 100%;
    }
}
@media(max-width: 480px){
    .bg-image .col-xs-7{
        width: 90%;
    }
}



/*Signin and Signup Styles*/
.signin-signup{
    padding: 80px 0;
}
.signin-signup button.btn-loader{
    position: relative;
}
.signin-signup button.btn-loader img[alt=loader]{
    position: absolute;
    right: 16px;
}
.signin-signup .m_left{
    width: 84%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #666;
}
.signin-signup .m_right{
    width: 84%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #666
}
.signin-signup .logo{
    margin-bottom: 30px;
    padding: 12px 0 0 0;
}
.briefcase,.chart{
    padding: 40px 0 30px 0;
    border-bottom: 2px solid #5C5F66;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}
.signin-signup .briefcase img,.signin-signup .chart img{
    margin-bottom: 20px;
}
.signin-signup .sign-up-box,.signin-signup .sign-in-box,.signin-signup .verification-box,.signin-signup .forgot-password-box{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
}
.signin-signup .sign-in-box,.signin-signup .verification-box,.signin-signup .forgot-password-box{
    margin-top: 100px;
}
.signin-signup .verification-box{
    padding: 40px 20px;
}
.signin-signup .sign-up-box .dublicate-email{
    margin-top: -5px;
}
.signin-signup .sign-in-box .dublicate-email{
    margin-bottom: 35px;
    margin-top: -5px;
}
.signin-signup .sign-up-box .dublicate-email span,.signin-signup .sign-in-box .dublicate-email span{
    /*background: #a6bbbb;*/
    color: #e40c0c;
    /*border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 7px;*/
}
.signin-signup .verification-box .verification-box-content img[alt="tick"]{
    margin-bottom: 20px;
    width: 75px;
}
.signin-signup .verification-box .verification-box-content span.thanks{
    display: block;
    font-size: 24px;
}
.signin-signup .verification-box .verification-box-content p.text{
    font-size: 17px;
    margin-bottom: 20px;
}
.signin-signup .verification-box .verification-box-content button.btn-style{
    padding: 6px 30px;
}
.signin-signup .sign-up-box-content{
    margin-top: 30px;
}
.signin-signup .title{
    font-size: 22px;
    display: block;
    color: #01B893;
    margin-bottom: 10px;
}
.signin-signup .sign-up-box-footer{
    margin-top: 20px;
    color: #797979;
}

/*Forgot Password*/
.signin-signup .sign-in-box a.forgot-link{
    display: block;
    margin: 0px 0px 18px;
    text-align: right;
    color: #219070;
}
.signin-signup .forgot-password-box{
    padding: 50px 15px 0px;
}
.signin-signup .forgot-password-box .forgot-password-header{
    margin-bottom: 40px;
}
.signin-signup .forgot-password-box .forgot-password-header p{
    font-size: 19px;
    text-align: center;
    padding: 0px 0px 20px;
}
.signin-signup .forgot-password-box .back-to-home{
    text-align: center;
    padding: 20px 0 35px;
    font-size: 19px
}
.signin-signup .forgot-password-box .back-to-home span{
    cursor: pointer;
}

/*Retype password*/
.forgot-password .error-spacer{
    float: right;
    min-height: 24px;
    min-width: 1px;
}
.forgot-password header img.logo{
    margin-bottom: 30px;
    padding: 12px 0 0 0;
}
.forgot-password{
    height: 100%;
    background: #f2f2f2;
}
.forgot-password section .back-to-home{
    font-size: 20px;
    padding: 10px;
}
.forgot-password footer div.container{
    border-top : 1px solid #ccc;
    padding: 10px 0 0 0;
}
.forgot-password button.btn-loader{
    position: relative;
    padding: 10px 40px !important;
}
.forgot-password button.btn-loader img[alt=loader]{
    position: absolute;
    right: 6px;
}
/*modal*/
.reset-pwd .modal{
    top:calc(50% - 123px);
    left:calc(50% - 182px);
}
.reset-pwd .modal-dialog{
    width: 364px;
    margin:0;
} 
.reset-pwd .modal-dialog .modal-content{
    padding: 26px;
    border-radius: 0px;
} 


/*Verify Styles*/
.verify-page{
    margin: 100px 0 160px 0;
}
.verify-page header .logo{
    margin: 20px 0;
    /*padding: 12px 0 0 0;*/
}
.verify-page .email-verify .box{
    float: none;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}
.verify-page .email-verify .box img[alt="tick-mark"]{
    margin-right: 15px;
}
.verify-page .email-verify .box p{
    margin: 0;
    padding-bottom: 20px;
}
.verify-page .email-verify .box h3{
    margin: 0;
    padding: 20px 0 10px 0;
}
.verify-page .email-verify .box .btn-style{
    padding: 10px 30px;
}
.verify-page .email-verify .box button.btn-style > img{
    margin-top: -4px;
    padding-left:9px
}



/*Company Profile Styles*/
.img-upload{
    position: relative;
}
.img-upload input{
    width: 123px;
    height: 124px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
}
.company-profile .error-spacer{
    float: right;
    min-height: 24px;
    min-width: 1px;
}
.company-profile{
    background: #f2f2f2;
    height: 100%;
    /*overflow: hidden;*/
}
.company-profile button.btn-loader{
    position: relative;
    padding: 10px 40px !important;
}
.company-profile button.btn-loader img[alt=loader]{
    position: absolute;
    right: 6px;
}
.company-profile .btn-default{
    background: #fafafa;
}
.company-profile .btn-default:hover{
    background: #e6e6e6;
    border-color: #ccc;
}
.company-profile .btn-default:focus{
    outline: none;
    border-color: #ccc;
    background: #e6e6e6;
}
.company-profile header .logo{
    width: 150px;
    margin: 20px 0;
}
.company{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 20px #ccc;
    background: #fff;
}
.company-header{
    padding: 20px;
    padding-left: 20px;
    font-size: 16px;
    background: #e6f5e9;
    border-bottom: 1px solid #ccc;
}
.company-header p{
    margin: 0
}
.company-header img{
    width: 30px;
    margin-top: -2px;
}
.company-content{
    padding: 30px 26px 0px;
    /*border-top: 1px solid #ccc;*/
}
.company-content span.url_exmp{
    float: right;
    color: #666;
}
.company-content span#pdf_name{
    padding: 10px;
    font-size: 15px;
    color: #219070;
}
.company-content input#pdf{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.company-content input#pdf + label{
    border: 1px solid #808080 ;
    background-color: #CCC;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    color: #000 ;
    margin: 0;
    padding: 5px;
    line-height: 32px;
    font-size: 16px;
}
.company-content input#pdf + label span{
    width: 160px;
    background: #fff;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    padding: 0px 10px;
}
.company-content h3{
    margin-top: 0;
    margin-bottom: 45px;
    color: #BDBDBD;
}
.go_2 .company-content h3{
    margin: 0 0 30px 0;
    color: #BDBDBD;
}
.company-content .description{
    padding: 25px 0 40px 0;
    border-bottom: 1px solid #ccc;
}
.company-content .description label{
    color: rgba(0,0,0,0.56);
    color: #666;
    font-weight: normal;
}
.company-content .description textarea.form-control{
    resize: none;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
}
.company-content .description textarea.form-control:focus{
    border-color: #01B893;
}
.company-content .description p{
    margin: 15px 0;
    font-size: 14px;
}
.company-content .description textarea + span{
    text-align: right;
    display: block;
    padding: 5px 0 0;
    font-size: 14px;
    color: #666;
}
.company-footer{
    border-top: 1px solid #ccc;
    padding: 10px 26px;
    background: #f5f5f5;
}
.company-footer ul.indicators{
    display: inline-block;
    line-height: 44px;
    margin: 3px 0 0 0;
    list-style: none;
    padding: 0;
}
.company-footer ul.indicators li{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 20px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #01B893;
    outline: none;
}
.company-footer ul.indicators li.active{
    background: #01B893;
}
.company-footer button.btn-style,.company-footer span.btn-style,.company-footer input[type='submit'].btn-style{
    padding: 10px 30px;
    /*font-size: 16px*/
}
.go_0 .company-content{
    padding: 45px 26px 0;
}
.go_0 .company-footer{
    margin-top: 70px;
}
.go_1 md-input-container{
    margin: 0;
}
.company-content .feedback{
    position: absolute;
    right: 10px;
    top: 13px;
    width: 13px;
    outline: none;
}
/*.add-img{
    margin-bottom: 30px;
}*/
.upload span,.add-img span{
    display: block;
    padding: 20px 0;
}
.upload img,.add-img img{
    /*border: 1px solid #ccc;*/
    width: 125px;
    height: 125px;
    border-radius: 5px;
    /*background: #f5f5f5;*/
}
.upload div.hover-img{
    position: absolute;
    bottom: 20px;
    right: 50%;
}
.upload div.hover-img img{
    width: 30px;
    height: 30px;
}
/*.upload .img,.add-img .img{
    width: 90%;
    margin: 0 auto;
}*/
.add-img .col-md-3{
    width: 20%;
    padding-right: 0;
}
.cmp-size ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.cmp-size ul > li{
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #ccc;
    margin: 10px 0 !important;
    /*padding: 15px 0;*/
    margin-right: -1px !important;
    background: #f5f5f5;
    font-weight: bold;
}
.cmp-size .col-sm-2, .cmp-size .col-xs-3{
    padding: 0;
}
.cmp-size ul li > label{
    padding: 15px 0;
    display: inline-block;
    margin: 0;
    width: 100%;
}
.go_2 .company-content{
    min-height: 613px;
}
.cmp-size span{
    display: block;
    margin-bottom: 10px;
}
.has-color{
    color: #EA7B19;
}
/*.has-checked{
    position: relative;
    top: -5px;
}*/
.cmp-size input[type=radio]{
    opacity: 0;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    cursor: pointer;
}
.cmp-size input[type='radio'] + div{
    margin: 0;
    clear: none;
    display: inline-block;
    padding: 20px 10px 10px 20px;
    cursor: pointer;
    background: url('../images/radio-button-unchecked.svg') no-repeat;
}
.cmp-size input[type='radio']:checked + div{
    background: url('../images/radio-button-checked.svg') no-repeat;
}
.final_state{
    margin: 45px 0;
}
.final_state img:not(button img){
    width: 60px;
    padding: 20px 0;
}
.final_state .btn-style{
    padding: 10px 30px;
}
.hr-style{
    float: none;
    margin: 40px auto;
    border-bottom: 1px solid #ccc;
}
.dotted-border{
    margin: 40px auto;
    border: 2px dashed #ccc;
    background: #fafafa;
    padding: 20px;
    color: #adadad;
}
.dotted-border input[type=text]{
    border: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #e6731c;
    padding-bottom: 10px;
    background: transparent;
    margin-bottom: 10px;
    font-size: 20px;
}
.dotted-border a{
    color: #4973cc;
    text-decoration: underline;
}




.btn-style{
    background: #219070;
    /*background: linear-gradient(#2abb92, #219070);*/
    border: 1px solid #ccc;
    color: white !important;
    /*margin: 10px 0;*/
    outline: 0 !important;
    font-size: 18px;
}
.btn-style:active{
    outline: 0;
    background: #219070;
    background: linear-gradient(#2abb92, #219070);
}
.btn-lg{
    padding: 10px 16px;
    font-size: 20px;
    min-height: 52px;
}
a{
    color: #219070;
}
a:focus{
    outline: none;
}
a:hover{
    color: #219070;
    text-decoration: none;
    cursor: pointer;
}


/*ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
ul > li{
    display: inline-block;
    margin-left: 20px;
}*/






/*Email Verified*/




/* ngAnimate*/

/*.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: absolute;
} 
 
.animate.ng-enter {
    left: 100%;
}
.animate.ng-enter.animate.ng-enter-active {
    left: 0;
}
 
.animate.ng-leave {
    left: 0;
}
.animate.ng-leave.animate.ng-leave-active{
    left: -100%;
}*/



/*.company.ng-hide-add {
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;   
}
.company.ng-hide-remove {  
    -webkit-animation:slideInLeft 0.5s both ease-in;
    -moz-animation:slideInLeft 0.5s both ease-in;
    animation:slideInLeft 0.5s both ease-in;    
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
*/

/*CARAOUSEL*/
/*.carousel{
    overflow: hidden;
    width:100%;
}
.panes{
    position: relative;
    width:500%;
    overflow:hidden;
}
.panes.animation{
    -moz-animation:carousel 0.5s both ease-in;
    -webkit-animation:carousel 0.5s both ease-in;
    animation:carousel 2.5s both ease-in;
}
.panes > .same{
    position:relative;
    float:left;
    width:20%;
    display: block;
}*/
/*@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}*/



/*.form-group{
    padding-bottom: 7px;
    margin: 20px 0 0 0;
    position: relative;
}
.form-group.label-floating label.control-label{
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143;
    will-change: left,top,contents;
    position: absolute;
    pointer-events: none;
    -webkit-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition: 0.3s ease all;
}
.form-group label.control-label{
    font-size: 12px;
    line-height: 1.07142857;
    color: #bdbdbd;
    font-weight: 400;
    margin: 16px 0 0 0;
}
.form-group .form-control{
    margin-bottom: 7px;
}
.form-control, .form-group .form-control{
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.form-control{
    height: 38px;
    padding: 7px 0;
    font-size: 16px;
    line-height: 1.42857143;
}
.form-group.is-focused .form-control{
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px,100% 1px; 
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration: 0.3s;
}
.form-group.label-floating.is-focused label.control-label,.form-group.label-floating:not(.is-empty) label.control-label{
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857;
}*/


/* qq-uploader */
.qq-uploader .qq-upload-list {
    position: absolute;
    top: 40%;
    right: 0;
    width: 100%;
    height: 10px;
}
.qq-upload-drop-area{
    width: 100%;
    height: 100%;
}
.qq-upload-drop-area .drag_img{
    width: 100%;
    height: 100%;
}
.qq-upload-drop-area .drag_img .icon-trash{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}
.qq-upload-drop-area .drag_img .overlay{
    display: none;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.1;
}
.qq-upload-drop-area .drag_img:hover .overlay,.qq-upload-drop-area .drag_img:hover .icon-trash{
    display: block;
}
.qq-upload-drop-area .drag_img img{
    width: 100%;
    height: 100%;
}
.qq-upload-drop-area .drag_img img[alt='download']{
    width: 25px;
    height: 25px;
}
.qq-upload-button:active{
    top: 0;
}
.qq-upload-button{
    box-shadow: none;
}
.company-profile #referral-bonus .qq-uploader{
    width: 215px;
    height: 60px;
    padding: 13px 0px;
    margin: 0;
}
.company-profile #referral-bonus .qq-upload-button{
    background: #e6e6e6;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #000;
    padding: 15px 50px;
    text-shadow: none;
    font-weight: normal;
    width: 100%;
    margin-top: -10px;  
}
.company-profile #referral-bonus .qq-uploader .qq-upload-list{
    top: 0;
    width: 100%;
}
.company-profile #referral-bonus .qq-uploader .qq-upload-drop-area{
    background: transparent;
    text-align: left;
}
.company-profile #referral-bonus .qq-uploader .qq-upload-fail{
    font-size: 13px;
    color: #983a3a;
}
.company-profile #referral-bonus .qq-uploader .drag_img a{
    line-height: 50px;
    color: #333;
}
.company-profile #referral-bonus .qq-uploader .drag_img a p{
    padding: 0px 5px;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 160px;
    white-space: nowrap;
    vertical-align: middle;
}
.company-profile #referral-bonus .qq-upload-fail{
    font-size: 13px;
    color: #983a3a;
}


/* 404 page not found */
.error-page .error{
    text-align: center;
    position: relative;
    top: calc(50vh - 252px);
}
.error-page .error .error-background{
    background: url('../images/404.png') no-repeat 50%;
    width: 100%;
    height: 210px;
}
.error-page .error .error-text h1{
    color: #777;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 6px;
    margin: 38px 4px 25px;
}
.error-page .error .error-text p{
    color: #828282;
    letter-spacing: 3.5px;
    font-weight: bolder;
}
.error-page .error .error-action{
    width: 235px;
    margin: 56px auto;
}
.error-page .error .error-action a{
    width: 100%;
    height: 50px;
    display: inline-block;
    background: #1d7f67;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    border-radius: 4px;
}
.error-page .error .error-action a:hover,
.error-page .error .error-action a:focus{
    box-shadow:rgba(200,230,241,0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(200,230,241,0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(200,230,241,0.3) 0 16px 16px 0;
}