.grid_center{
  float: none;
  margin: auto;
}
.mrZpdZ
{
  margin: 0px;
  padding: 0px;
}
/*----IMPORT CONTACT lIST-----*/
.import-contacts{
  background: #eeeff1;
  min-height: 100vh;
}
.import-contacts .container{
  padding-bottom: 0 !important;
}
.import-contacts .container .header .col-sm-3{
  width: 20%;
  padding: 0;
}
.import-contacts .container .header .col-sm-3 a{
  color: #808080;
  margin-top: 12px;
  display: inline-block;
  font-size: 19px;
}
.import-contacts .container .header .col-sm-3 img{
  vertical-align: bottom;
  margin-top: 1px;
}
.import-contacts .container .header .col-sm-9{
  width: 80%;
}
.import-contacts .container-lt{
  padding-top: 0 !important;
}
.import-contacts .hover-enable .ui-grid-contents-wrapper > .ui-grid-render-container .ui-grid-canvas div[ui-grid-row="row"] div:not(.grid-email):hover div:not(.invalid):first-child:before{
  border-color: transparent !important; 
}
.import-contacts .container-lt .dropdown, .import-contacts .container-rt md-input-container, .import-contacts .grid-footer .status span{
  display: none !important;
}
.import-contacts .container-lt .bkt-container > span{
  margin-top: 0 !important;
}
.import-contacts .container .container-lt .bkt-container{
  height: calc(100vh - 136px) !important;
}
.import-contacts .container-rt .grid{
  height: calc(100vh - 266px) !important; 
}
.import-contacts .container-rt{
  border-top: 1px solid #ccc !important;
}
.import-contacts .container-rt .pages{
  text-align: left;
}
.import-contacts .container-rt .grid-footer .invite span{
  left: -114px !important;
}
.import-contacts .im-c-head h3 a{
  color: #808080;
}
.import-contacts .pagination li.active a, .pagination li.active a:hover{
  border-color: #888;
  background: #888;
}
.import-contacts .pagination li a:hover,.pagination li a{
  color:#888;
}
.import-contacts .skip a{
  padding: 16px;
  display: inline;
  line-height: initial;
  background: red;
  border-radius: 4px;
  margin: 11px 0 0 15px;
  cursor: pointer;
  outline: 0;
  background-color: #1d8e70;
  color: #fff;
}

.import_c_box{
  background: #fff;
  overflow: hidden;
  border:1px solid #c0c0c0;
  margin-bottom: 60px;
}
.import_c_box ul li{
  margin-left:0px !important;
}
.import_c_box ul li:not(:last-child){
  border-right: 1px solid #c0c0c0;
}
.import_c_box ul li a{
  color: #808080;   
  padding: 17px 55px;
  margin:0;
  font-size: 16px;
}
.import_c_box ul li a:hover{
  background: #fff !important;
}
.import_c_box p{
  color: #a6a6a6;
  line-height: 18px;
  font-size: 13px;
  text-align: left;
}
.import_c_box div div img:first-child{
	cursor: pointer;
    outline: 0;
    vertical-align: -4px;
    width: 40px;
    height: 40px;
}
/*.skip{
	float: right;
 
}*/
.skip img{
  vertical-align: 0px !important; 
}
.tit_head{
	border:1px solid silver;
	border-bottom:0;
	background: #fff;
}
.import_logo{
	padding: 12px 0px 8px;
	cursor: pointer;
  width: 160px;
}
.left{
	margin-left: 1px !important;
}
.grid-ic .ui-grid{
  border:0 !important;
}
.import-con-grid .ui-grid-header-cell-label{
  font-size: 18px;
  color:#808080;
}
.import_verify .modal-footer button,.im_c_foot button,.emailbtn{
  background: #219070;
  border: 1px solid #ccc;
  color: white !important;
  outline: 0;
  border-radius: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 32px;
}
.import_verify .modal-body .input_subj input[type=text]{
  border: 0;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  margin: 0px 0px 10px 0;
  background: transparent;
  outline: none;
}
.import_verify .modal-body{
  background: #fff;
}
.import_verify .modal-body .text_area textarea{
  font-size: 16px;
  width: 100%;
  resize: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: 0;
}
.im_c_foot{
  padding: 16px;
  border-top: 1px solid silver;
  clear: both;
  overflow: hidden;
  background: #fff;
}
.im_c_foot button{
  padding: 14px 20px !important;
  font-size: 16px;
}
.im_c_foot button:first-child{
  background:#fff;
  color:#000 !important;
  opacity:0.7;
  margin-left:20px;
}
.im_c_foot button img{
	margin-left: 8px;
  margin-bottom: 3px;
}
.import_verify button:active{
  background: #219070;
}
.import_c_box .active a{
  color: #000 !important;
}
.im-c-head{
  position: relative;
  text-align: center;
  margin-left: 15px;
}
.im-c-head h3{
  position: absolute;
  top:45px;
}
.im-c-head h3 img{
  padding-right: 8px;
  margin-bottom: 3px;
  width: 31px;
  outline: 0;
  height: 26px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background: none;
}
.grid.import-con-grid{
  width: 100%;
  height: calc(100vh - 328px);
 /* height: 100vh;
    margin-top: -25vw;
    padding-top: 25vw;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  vertical-align: middle;*/
}



/*----IMPORT CONTACT-----*/
.services_type{
	border: 1px solid silver !important;
	padding: 0px !important;
	border-bottom: 0px;
	clear: both;
	font-weight: 900;
	margin-top: 8%;
}
.services_type img{
	padding-top: 3px;
	float:right !important;
}
.services_type a{
	border-bottom: 1px solid silver;
    padding: 21px 17px 18px 70px;
    display: block;
    color: #000;
}
.services_type a:last-child{
	border:0;
}
.services_type a:nth-child(1){
	background: url("../images/service_provider.png") no-repeat 13px 12px;
    background-size: 54px 252px;
}
.services_type a:nth-child(2){
	background: url("../images/service_provider.png") no-repeat 11px -81px;
	background-size: 54px 252px;
}

.upload-btn div{
  margin-bottom: 24px;
}
.upload-btn div button{
  width: 210px;
  height: 48px;
  text-align: left;
  line-height: 33px;
  border: 0;
  padding: 4px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
}
.upload-btn div img{
  padding-left: 10px;
  border-left: 1px solid #fff;
  width: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  float: right;
}
.upload-btn div h6 a{
  font-size: 12px;
  font-weight: bolder;
  text-decoration: underline;
  color:silver;
}
.foot_next{
  padding-top: 17px;
  border-top: 1px solid #ccc;
  margin-top: 12%;
}
.foot_next button{
  font-size: 16px;
  float: right;
  border-radius: 3px;
  outline: 0;
}
.hrLine{
  width: 100%; 
  height: 20px; 
  border-bottom: 1px solid black;
  text-align: center;
  line-height:40px
}
.hrLine span{
  font-size: 16px;
  background-color: #FFF;
  padding: 16px;
}
.foot_next button img{
  padding-left: 7px;
  position: relative;
  top: -1px;
}
.import_verify .modal-footer img:last-child,.foot_im_c img:last-child{
  padding-left: 10px;
  vertical-align: 0px;
}
.upload-con{
	clear: both;
  padding-top: 3.5%;
  text-align: center;
  overflow: hidden
}
.info-upload{
	padding: 3% 0px 7% 0px;
  overflow: hidden;
}
.info-upload div:first-child{
	width: 0px;
	float: left;
}
.info-upload div:last-child{
	width: 93%;
	float: right;
}
.chos-service{
	margin-bottom: 25px;
}
.chos-service h4{
	margin-top: 32px;
	text-align: center;	
}


.invited-contact .modal-footer button{
	display: block;
	margin:0 auto;
}
img.cross_close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
}
.import_verify .cross_close{
  position: absolute;
  right: 5px;
  top: 3px;
  width: 30px;
  z-index: 200;
  cursor: pointer;
  outline: 0;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.import_verify .modal {
  top: calc(50% - 217px);
  text-align: center;
  padding: 0!important;
}
/*.import_verify .modal-content{
  width : 532px;
  margin : 0 auto;
  border-radius: 0;
}*/

/*.import_verify .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}*/

.import_verify .modal-dialog {
  width : 532px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.import_verify .modal-dialog .modal-content{
  border-radius: 0;
}
.import_verify .modal-header img{
    display:block;
    margin:10px auto 8px;
    padding-top:45px;
}
.mail_verify button,.btn_up_next{
    display:block;
    margin:0 auto;
    background: #219070;
    border: 1px solid #ccc;
    color: white !important;
    outline: 0;
    padding: 12px 40px;
    border-radius: 0;
    font-weight: bold;

}
.mail_verify button img{
    padding-left: 10px;
    vertical-align: -1px;
}

/* modal for zero record select */

.import-zero .modal{
  top:calc(50% - 90px);
  left:calc(50% - 168px);
}
.import-zero .modal .modal-dialog{
  width: 336px !important;
  margin:0;  
}

/* modal for requested posted success */
.posted-success .modal{
  left:calc(50% - 198px);
  top:calc(50% - 131.5px);
}
.posted-success .modal-dialog{
  width: 386px;
  margin: 0;
}
.posted-success .modal .modal-content{
  border-radius: 0;
}
.modal-backdrop{
  opacity:0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity:.7;
}

.div-btn div{
  margin-bottom: 4%;
}
.div-btn div div{
  width:100%;
  padding:50px 6px;
  border-radius:5px;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}
i.file-name{
  position: absolute;
  left: 32px;
  overflow: hidden;
  max-width: 95px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-alignment-bucketName{
  text-overflow : ellipsis;
  display: block;
  max-width: 118px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
.div-btn div h4{
  text-align: center;
  padding-top: 1%;

}
.div-btn div h6 a{
  color: #808080;
  display: inline-block;
  padding-top: 2%;
}
.div-btn div img{
  display: block;
  margin: 0 auto;
  padding-bottom: 13px;
}


/* Scroll Bar Visibile in all browsers*/
.import-con-grid::-webkit-scrollbar {
  -webkit-appearance: none;
}
.import-con-grid::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* spinners */
.grid-msg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(240, 244, 247, 0.5);
  z-index: 500;
}
 
.grid-msg-overlay .msg {
  opacity: 1;
  position: absolute;
  top: 32.5%;
  left: 32.5%;
  width: 35%;
  height: 30%;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  display: table;

}

.grid-msg-overlay .msg span {
  display: table-cell;
  vertical-align: middle;
}
.loader{
  position:relative;
  min-height:370px;
  background: rgba(0, 0, 0, 0.2);
}


.ui-grid-viewport{
  overflow-x:hidden !important;
}
body.import_verify,body.bucket,body.posted-success,body.referral-status,body.reset-pwd{
  overflow: hidden;
}
