	/*--------job---------*/
.job-search.container{
    min-height: calc(100vh - 100px);
}
.job-search .header{
	clear: both;
	padding-top: 15px;
}
.job-search .header .total-count{
	font-size: 18px;
    color: #555;
    padding: 15px;
}
.job-search .header .action-create-job{
	width: initial;
}
.job-search .header .action-create-job a{
    padding: 12px 16px;
    font-size: 16px;
}
.job-search .header .action-create-job a:hover{
	color: #fff;
}
.job-search .header .filter-search img[alt='search'],
.job-search .header .filter-search img[alt='loader']{
	position: absolute;
    left: 0;
    top: 7px;
}
.job-search .header .filter-search img[alt='close']{
	position: absolute;
    right: 0;
    top: 11px;
    outline: none;
}
.job-search .header .filter-search input{
	padding-left: 25px;
}
.job-search .header .filter-search md-input-container{
	margin: 29px 0 18px 0;
}
.job-search .header .filter-select .labels{
	float: left;
    margin: 10px 15px 0 0;
    font-size: 15px;
}
.job-search .header .filter-select md-input-container{
	width: 60%;
    margin-top: 27px;
}
.job-search .row:not(.header){
	border: 1px solid silver;
	margin:0 0 3% 0;
	
}
.job-search .row .trans{
	-webkit-transition: all .3s;
    transition: all .3s;
}
.job-search .row .trans:hover{  
    box-shadow: 0 8px 8px rgba(0,33,52,0.1),0 0 8px rgba(0,33,52,0.1),0 6px 18px rgba(0,33,52,0.1);
}
.job-type{
	padding: 1.5%;
	border-bottom: 1px solid silver;
	background-color: #f9f9f9;
}
.job-type::after{
	content: '';
	display: block;
	clear: both;
}
.job-type .external{
	display: inline-block;
	border-radius: 2px;
	padding: 1px 3px;
	margin: 2px 0 0 10px;
	border: 1px solid #fa8116;
	color: #fa8116;
}
.job-type .internal{
    border: 1px solid #26a182;
    color: #26a182;	
}
.job-type img{
	width: 24px;
    height: 25px;
    margin-top: -7px;
    margin-right: 6px;
}
.job-type .status{
	margin-right: 10px;
    background: rgb(34, 154, 119);
    width: 92px;
    text-align: center;
}  
.job-type h3{
	display: inline-block;
   	margin: 0;
}
.job-type h3 img{
	width: 10px;
    height: 20px;
    margin-left: 1px;
    margin-top: 1px;
}
.job-type h3 span{
	color: #219070;
	overflow: hidden;
	font-size: 21px;
    white-space: nowrap;
    max-width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.job-type h3:focus{
	outline: 0;
	border: 0;
}
.job-type h3 + span{
	float:right;
	padding: 2px 0;
}
.job-type .job-rewards{
	float: right;
    margin-top: 2px;
}
.job-type span span{
	margin: 0 2px;
}
.job-search .post_err_msg{
	text-align: center;
   	font-size: 25px;
   	color: #666;
   	padding: 80px 0;
}
.job-type span span:not(.date-stamp){
	margin: 0 5px;
   	padding: 0 12px;
   	height: 26px;
   	border-radius: 4px;
   	display: inline-block;
   	background: #488C27 ;
   	color: white;
   	line-height: 27px;
}
.job-type .pop-name{
	float: right;
    margin-top: 7px;
    position: relative;
}
.job-type .pop-name div[uib-popover-popup]{
	top: -31px !important;
	white-space: nowrap;
}
.job-type .pop-name div[uib-popover-popup] .popover-inner h3{
	display: block;
}
.pad-mar-zero{
	padding:0 !important;
	margin:0 !important;
}
.job_free{
	padding: 0 27px !important;
	background: #2e89bd !important;
}
.job-type span i{
    font-size: 18px !important;
    color: orange !important;
}
.job-info .jump a{
	color: inherit;
	width: 100%;
    height: 100%;
    display: inline-block;
}

/*Overriding from dashboard*/
@media (min-width: 768px){
	.job-info .col-sm-2 {
	    width: 13.3333339%;
	}
}
.job-info_d{
	margin: 12.5px 0;
    border-right: 1px solid silver;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}
.job-info_d div .location.ellipsis{	
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}
.job-info_d div:nth-child(even){
	margin:3% 0;
}
.job-info_d div span:first-child{
	color: silver;
}
.job-info_d ~ div{
	padding: 0 0.5%;
	text-align: center;
}
.job-info_d ~ div img{
    margin-top: -6px;
    margin-right: 4px;
}
.job-info_d ~ div span{
	display: inline-block;
    padding-bottom: 25px;
    font-weight: 700;
}
.job-info  .job-info_d ~ div{
	position: relative;
}
.job-info  .job-info_d~div:before{
	position: absolute;
    content: '';
    left: 23px;
    right: 23px;
    bottom: -1px;
}
.job-info  .invited{
	color: #47BABD;
}
.job-info  .referral{
	color: #229A77;
}
.job-info  .accepted{
	color: #16A4FA;
}
.job-info  .hired{
	color: #559E33;
}
.job-info  .pending{
	color: #FA8116;
}
.job-info  .invited:before{
	border-bottom: 2px solid #47BABD;
}
.job-info  .referral:before{
	border-bottom: 2px solid #229A77;
}
.job-info  .accepted:before{
	border-bottom: 2px solid #16A4FA;
}
.job-info  .hired:before{
	border-bottom: 2px solid #559E33;
}
.job-info  .pending:before{
	border-bottom: 2px solid #FA8116;
}

.job-info h1{
	color: #000;
	margin-bottom: 16px;
}
.job-info i{
	font-size: 17px;
    margin-right: 5px;
}
@media (max-width: 992px) {
 .job-info_d ~ div span{
    font-size: 11px;
  }
  .job-info_d{
  	border: 0;
  	text-align: left;
  }
  .job-info_d ~ div img{
  	margin-right: 3px;
  }
}
@media (max-width: 522px){
	.job-type h3 + span{
		float:none;
		display: block;
		padding:3%;
		margin:0 auto;
		text-align: center;
	}
	.job-type{
		text-align: center;
	}
}
@media (min-width: 320px) and (max-width: 786px) {
	.job-search .row{
		margin:2%;
		margin-bottom: 10%;
	}
	.job-info_d{
		font-size: 14px;
		margin-top: 3%;
		text-align: center;
	}
	.search-job div span {
	    float: none;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.sort_g{
		display: inline !important;
	}
	.ct-search{
		margin-left: 35.5%;
	}
	.search-job .left-inner-addon input{
		margin-bottom: 3%;
	}
}
input.search{
	border:0;
}
input+.bar{
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after     {
 	content:'';
 	height:2px; 
 	width:0;
 	bottom:1px; 
 	position:absolute;
 	background:#01b893; 
 	transition:0.2s ease all; 
 	-moz-transition:0.2s ease all; 
 	-webkit-transition:0.2s ease all;
}
.bar:before {
 	left:50%;
}
.bar:after {
 	right:50%; 
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
 	width:50%;
}


/*Job details*/
.new-job-details .info-box{
	padding: 34px 0 10px 0;
	border-bottom: 1px solid #ccc;
}
.new-job-details .info-box .lt,
.new-job-details .info-box .rt,
.new-job-details .info-box .lt .col-sm-7{
	padding: 0;
}
.new-job-details .info-box .lt{
	border-right: 1px solid #ccc;
	margin-bottom: 35px;
}
.new-job-details .info-box .lt .row{
	padding-bottom: 20px;
	width: 100%;
}
.new-job-details .info-box .lt .col-sm-5{
	color: #666666;
}
.new-job-details .info-box .rt .currency{
	padding: 2px 0 34px 17px;
}
.new-job-details .info-box .rt .currency .box-rewards{
	min-height: 70px;
	margin-bottom: 30px;
}
.new-job-details .info-box .rt .currency h4{
	margin:0;
}
.new-job-details .info-box .rt .currency span{
	display: inline-block;
    padding-top: 14px;
    text-transform: capitalize;
    color: #666666;
}
.new-job-details .info-box .rt .currency .discovery-rewards h4{
	color: #3e7b1c;
}
.new-job-details .info-box .rt .currency .referral-rewards h4{
	color: #2174a6;
}
.new-job-details .info-box .rt .currency div:last-child h4:first-child{
	color: #777777;
	font-weight: 700;
}
.new-job-details .info-box .rt .currency div:last-child h4:last-child{
	color: #333333;
}
.close-job{
    width: 10%;
    padding: 8px;
    text-decoration: none;
    position: absolute;
    right: -15px;
    top: 9%;
    color: #fff;
    background: #c2433d;
    text-align: center;
    border-radius: 4px;
    z-index: 999;
    cursor: pointer;
    outline: none;
}
.job_des_bo{
	padding:2% 0;
	border-bottom: 1px solid silver;
}
.job_des_bo pre{
	border: 0;
    background: transparent;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    white-space: pre-line;
}
.job_des_info{
	width: 100%;
	text-align: left;
}
.job_des_info div{
	padding: 5px 0;
	overflow: hidden;
}
.job_des_info div span:first-child{
	width: 20%;
	display: inline-block;
	float: left;
	color: #666;
}
.job_des_info div span:last-child{
	width: 80%;
	float: right;
	color: #000;
}
.job_des_info div:first-child{
	color:gray;
}
 .job-des-text p.heading{
	padding-bottom: 7px;
	display: block;
	color: gray;
	font-weight: 700;
} 
.confirm-message .modal{
	top: calc(50% - 128px);
}

