button::-moz-focus-inner {
  border: 0;
}


.post-request{
	font-size: 16px;
}
.post-request .has-error-msg{
    margin-left: 33px;
}
.post-request h2{
	margin: 0;
	color: #555555;
}
.post-request input[type=radio],.post-request input[type=checkbox]{
	opacity: 0;
}



.post-request .title{
	padding: 30px 0;
	border-bottom: 1px solid #e9edec;
}
.post-request .title .container img{
	padding: 6px 32px 4px 4px;
}


.post-request .job-info{
	border-bottom: 1px solid #e9edec;
}
.post-request .job-info .container{
	padding: 34px 76px;	
}
.post-request .job-info .container .company-name{
    color: #287EB9;
    font-size: 30px;
}
.post-request .job-info .container .row .lt{
	border-right: 1px solid #e5e5e5;
}
.post-request .job-info .container .row .lt .row div,
.post-request .job-info .container .row .rt  div div{
	padding-top: 5px;
}
.post-request .job-info .container .row .lt .row div .pull-left,
.post-request .job-info .container .row .rt  div div:first-child{
	color: #9a9a9a;
} 
.post-request .job-info .container .row .lt .row div .pull-right,
.post-request .job-info .container .row .rt  div div:last-child{
	color: #212121;
    word-wrap: break-word;
}
.post-request .job-info .container .row .rt{
	padding:0 0 0 32px;
} 
.post-request .job-info .container .row .rt  div div:last-child pre{
   border: 0;
   background: transparent;
   font-size: 16px;
   padding: 0;
   margin: 0;
   height: 125px;
   font-family: 'Roboto';
   white-space: pre-line;
}


.post-request .select-rewards{
	
}
.post-request .select-rewards .container{
	padding: 54px 130px;
}
.post-request .select-rewards .container h2{
	margin-bottom: 44px;
}
.post-request .select-rewards .container .row .col-sm-6{
	padding: 0;
    color:#777777 !important;
}
.post-request .select-rewards .container .row .lt .rewards-box{
	margin-right: 20px;
}
.post-request .select-rewards .container .row .rt .rewards-box{
	margin-left: 20px;
} 
.post-request .select-rewards .container .row div .rewards-box{
	border: 2px solid #dbdfe0;
	border-radius: 6px;
	padding: 14px 26px;
	transition: border 0.15s linear;
    -webkit-transition: border 0.15s  linear;
}
.post-request .select-rewards .container .row div .rewards-box .chk input + label{
	position: relative;
    margin: 3px 0 0 10px;
    font-size: 20px;
    font-weight: 100;
}
.post-request .select-rewards .container .row div .rewards-box .chk img{
    padding: 0 0 2px 10px;
    vertical-align: text-bottom;
    cursor: pointer;
}
.post-request .select-rewards .container .row div .rewards-box .chk img + div{
    left: 255px !important;
    top: 4px !important;
}
.post-request .select-rewards .container .row div .rewards-box .chk input[type=checkbox] + label:before{
	content: '';
    width: 24px;
    height: 24px;
    left: -34px;
    top: 2px;
    position: absolute;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}
.post-request .select-rewards .container .row div .rewards-box .chk input[type=checkbox]:checked + label:before{
    background-color: #198263;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.post-request .select-rewards .container .row div .rewards-box .chk input[type=checkbox]:checked + label:after{
    content: "";
    position: absolute;
    color: #fff;
    font-size: 22px;
    top: 4px;
    left: -26px;
    width: 9px;
    height: 16px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
}
.post-request .select-rewards .container .row div .rewards-box .radio{
	padding: 20px 28px;
}
.post-request .select-rewards .container .row div .rewards-box .radio div input + label{
	position: relative;
	margin-left: 12px;
}
.post-request .select-rewards .container .row div .rewards-box .radio div{
	position: relative;
}
.post-request .chkin,.post-request .chkout{
    position: absolute !important;
    top: 13px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}
.post-request .chkout{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    background-color: #cbcbcb;
}
.post-request .chkin{
    border:1px solid #cbcbcb;
}

.post-request .select-rewards .container .row div .rewards-box .radio div input[type=radio]:checked + label .chkout{
	background-color: #e87a19;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.post-request .select-rewards .container .row div .rewards-box .radio div input[type=radio]:checked + label .chkin{
	border:1px solid #e87a19 !important;
	transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}


.post-request .select-rewards .container .row div .rewards-box .radio .currency{
	margin:26px 0;
}
.post-request .select-rewards .container .row div .rewards-box .radio .currency .md-text{
    display: block;
    margin-left: 12px;
    font-size: 20px;
}
.post-request .select-rewards .container .row div .rewards-box .radio div label .field{
    border: 1px solid #bbbbbb;
    width: 236px;
    border-radius: 4px;
    display: inline-block;
    height: 48px;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
}
.post-request .select-rewards .container .row div .rewards-box .radio div span input{
    background-color: #fff !important;
    width: 58%;
    height: 98%;
    border-radius: 4px 0 0 4px;
    border:0;
    border-right:1px solid #bbbbbb;
    outline: none;
    box-shadow: none;
    padding: 0 10px;
}
.post-request .select-rewards .container .row div .rewards-box .radio div label .field md-input-container{
    margin:0;
}
.post-request .select-rewards .container .row div .rewards-box .radio div label .field md-input-container md-select-value{
    min-width: 80px;
    min-height: 40px;
    top: -5px;
    padding: 2px 2px 1px !important;
    border-color: transparent;
}
.post-request .select-rewards .container .row div .rewards-box .radio div label .field md-select[disabled] .md-select-value{
    background-repeat: no-repeat;
}
.post-request .select-rewards .container .row div .rewards-box .radio .points{
    display: inline;
    margin-left: 17px;
}

.post-request .buckets-container{
	border-top: 1px solid #e9edec;
	border-bottom: 1px solid #e9edec;

}
.post-request .buckets-container .container{
	padding-top: 68px;	
}
.post-request .buckets-container .bucket-container{
    padding:50px 0 0 78px;
} 
.post-request .buckets-container .bucket-container h5{
    display: none;
}
.post-request .buckets-container .container .bucket{
    position: relative;
    padding-bottom: 66px;
}
.post-request .buckets-container .container .buckets .loading{
    position: relative;
    min-height: 400px;
}
.post-request .buckets-container .container .buckets .loading img{
    position: absolute;
    width: 250px;
    left: 39%;
    top: 28.5%;
}
.post-request .buckets-container .container .bucket h4{
    font-size: 20px;
    padding-top: 84px;
}
.post-request .buckets-container .container .bucket-each{
    width: 20.9%;
    margin: 0 25px 25px 0;
    height: auto;
}
.post-request .buckets-container .container .bucket-each img{
    width: 22px;
}
.post-request .buckets-container .container .bucket-each span{
    padding-bottom: 18px;
    font-size: 18px;
    margin-top: 7px;
}
.post-request .buckets-container .container div[uib-popover-popup]{
    position: absolute;
    left: 44px !important;
    top: -27px !important;
}
.post-request .footer .container{
	padding: 26px 84px 80px;
}
.post-request .footer .container .message{
    color: green;
}
.post-request .footer .container h4{
    color: #ff0000;
    margin-top:27px;
}
.post-request .footer .container h4 + span{
    padding:16px 0;
    display: inline-block;
}
.post-request .footer .container .md-button{
    display: inline;
}
.post-request .footer .container div button,
.post-request .footer .container div a{
	font-size: 18px;
    color: #9a9a9a;
    text-align: center;
    padding: 0 36px;
    line-height: 60px;
}
.post-request .footer .container div a{
    padding:19px 32px;
}
.post-request .footer .container div .btn-post button{
    background: #1d8e70;
    color: #fff;
}
