.questions {
  min-height: calc(100vh - 160px);
  font-size: 16px;
  background: #eeeff1;
  position: relative; }
  .questions.test {
    background: #fff; }
  .questions .title {
    margin: 15px 0; }
  .questions img.info {
    margin-top: -4px;
    width: 15px;
    height: 15px; }
  .questions img.loader {
    position: absolute;
    background: rgba(14, 45, 63, 0.51);
    width: 154px;
    height: 44px;
    z-index: 9;
    top: 0;
    left: 0; }
  .questions .header {
    height: 62px;
    color: #4a4a4a;
    background: #f8fafb;
    border-bottom: 1px solid #eaebeb;
    padding: 0 15px !important; }
    .questions .header .back {
      padding: 21px 20px 0 0; }
    .questions .header .title {
      margin: 0;
      line-height: 62px;
      color: #4a4a4a; }
    .questions .header .container {
      height: inherit; }
      .questions .header .container div[layout="row"] {
        height: inherit; }
    .questions .header .link {
      line-height: 42px;
      padding-right: 10px; }
  .questions .action {
    background: #0fb89b !important;
    color: #fff;
    transition: all .5s ease; }
    .questions .action:hover {
      background: #359383 !important; }
    .questions .action.add-add-new, .questions .action.delete-all {
      background: #7791a5 !important; }
      .questions .action.add-add-new:hover, .questions .action.delete-all:hover {
        background: #4b6477 !important; }
      .questions .action.add-add-new img.loader, .questions .action.delete-all img.loader {
        width: 180px; }
    .questions .action.delete-all {
      margin-right: 10px !important;
      width: 100px !important; }
  .questions md-input-container {
    margin: 0; }
    .questions md-input-container md-select-value {
      border: 1px solid rgba(0, 0, 0, 0.12) !important;
      padding: 6px 6px 10px 10px !important;
      height: 28px !important;
      border-radius: 4px;
      color: #555; }
      .questions md-input-container md-select-value .md-select-icon {
        margin-top: -4px; }
    .questions md-input-container .md-select-value :first-child {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      font-size: medium; }
    .questions md-input-container .md-input {
      border: 1px solid rgba(0, 0, 0, 0.12) !important;
      height: 42px;
      padding: 6px 10px !important;
      font-size: medium;
      border-radius: 4px;
      color: #555; }
    .questions md-input-container.full-box:not(.md-input-focused):not(.md-input-has-value) label:not(.md-no-float):not(.md-container-ignore) {
      -webkit-transform: translate3d(10px, 42px, 0) scale(0.9);
      transform: translate3d(10px, 42px, 0) scale(0.9); }
    .questions md-input-container.md-input-focused input, .questions md-input-container.md-input-focused md-select-value, .questions md-input-container.md-input-focused textarea {
      height: 42px;
      outline: 0;
      transition: 0.2s all linear;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6); }
    .questions md-input-container.md-input-focused input.none {
      box-shadow: none !important; }
    .questions md-input-container input.none {
      border-radius: 0px; }
  .questions md-chips-wrap.md-focused {
    transition: 0.2s all linear;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(32, 141, 110, 0.6) !important; }
  .questions .hide-label label {
    display: none !important; }
  .questions .hide-label.md-input-focused label, .questions .hide-label.md-input-has-value label {
    display: none !important; }
  .questions .qst-label {
    color: #7b7d7c; }
  .questions .questions-list .header .add {
    margin: 12px;
    width: 132px !important; }
    .questions .questions-list .header .add .loader {
      width: 132px;
      margin-top: -2px; }
  .questions .questions-list .grid .action-view a {
    padding: 8px 16px 8px 0;
    margin: 0 4px; }
  .questions .questions-list .grid .action-view .add-qst {
    border: 1px solid #d4d4d4;
    color: #989898;
    position: relative;
    margin: 12px 8px 6px 0; }
    .questions .questions-list .grid .action-view .add-qst span {
      position: absolute;
      z-index: 33;
      left: 0;
      width: 100%;
      top: 0; }
  .questions .questions-list .grid .ui-grid-row:hover > [ui-grid-row] > div[ng-repeat].ui-grid-cell.ng-scope {
    background: none !important;
    cursor: text; }
  .questions .create-question {
    margin-bottom: 24px;
    background: #fff; }
    .questions .create-question .header {
      height: 95px;
      background: transparent;
      padding: 0 !important;
      line-height: 74px; }
      .questions .create-question .header h2 {
        text-align: center;
        width: 100%;
        line-height: 94px; }
    .questions .create-question .section .list {
      margin-top: 30px; }
      .questions .create-question .section .list.first {
        margin-top: 60px; }
      .questions .create-question .section .list .text-opts {
        position: absolute;
        left: 0;
        top: -24px;
        color: #7e7f7f; }
      .questions .create-question .section .list md-radio-group .left {
        border: 1px solid #e0e0e0;
        margin-right: -2px;
        height: 42px;
        line-height: 42px;
        margin-top: 2px;
        padding: 0 5px;
        border-right: 0;
        color: #868686;
        background: #f7f8f9; }
      .questions .create-question .section .list md-radio-group md-radio-button:not([disabled]) .md-on {
        background: #0fb89b; }
      .questions .create-question .section .list md-radio-group md-radio-button.md-checked .md-off {
        border-color: #0fb89b; }
      .questions .create-question .section .list md-radio-group md-radio-button .md-off {
        border-color: #cacaca; }
      .questions .create-question .section .list md-radio-group md-radio-button .md-ink-ripple {
        color: rgba(15, 184, 155, 0.28); }
      .questions .create-question .section .list md-radio-group md-radio-button[disabled] .md-on {
        background: #0fb89b; }
      .questions .create-question .section .list md-radio-group .animated {
        position: relative; }
      .questions .create-question .section .list md-radio-group .bin {
        position: absolute;
        left: -26px;
        top: 14px; }
      .questions .create-question .section .list .action-add-opts {
        margin: 0;
        color: #0fb89b; }
      .questions .create-question .section .list .question-desc {
        margin-top: 30px; }
        .questions .create-question .section .list .question-desc textarea {
          min-height: 90px;
          max-height: 90px;
          overflow: auto; }
      .questions .create-question .section .list .tags .md-chips {
        padding: 0 0 4px 3px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: none;
        border-radius: 4px; }
        .questions .create-question .section .list .tags .md-chips.md-focused:before {
          content: ''; }
        .questions .create-question .section .list .tags .md-chips .md-chip-input-container input {
          height: 42px;
          padding-left: 8px;
          font-size: medium; }
        .questions .create-question .section .list .tags .md-chips .md-chip-input-container {
          margin: 0;
          height: 38px; }
      .questions .create-question .section .list .tags md-progress-linear {
        display: none; }
      .questions .create-question .section .list .tags md-chip {
        background: #e8ebec;
        color: #6c7478;
        cursor: default;
        height: 32px;
        margin: 5px 3px 0px 8px;
        padding: 0 28px 0 12px;
        line-height: 30px;
        float: left;
        border: 1px solid #e0e0e0;
        position: relative; }
        .questions .create-question .section .list .tags md-chip .md-chip-content strong {
          font-weight: normal;
          color: #797979;
          font-size: 14px; }
        .questions .create-question .section .list .tags md-chip .md-chip-remove-container {
          position: absolute;
          top: -1px;
          right: 0; }
          .questions .create-question .section .list .tags md-chip .md-chip-remove-container button {
            border: 0;
            background: transparent; }
            .questions .create-question .section .list .tags md-chip .md-chip-remove-container button md-icon {
              color: #858585;
              width: 20px; }
    .questions .create-question .footer {
      margin: 60px 0; }
      .questions .create-question .footer .action {
        padding: 4px 20px; }
      .questions .create-question .footer .or {
        line-height: 56px;
        color: #777; }

/*# sourceMappingURL=questions.css.map */
