/* Settings Styles */
.settings{
	font-size: 14px;
    background: #eeeff1;
}
.settings .ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.settings .sub-header{
	background: #0e2d3f;
	height: 60px;
}
.settings .sub-header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.settings .sub-header ul li:first-child(){
    margin-left: 0;
}
.settings .sub-header ul li{
	display: inline-block;
    position: relative;
    padding: 30px 0px 12px 0px;
    margin: 0 15px;
}
.settings .sub-header ul li a{
    color: #6b8b9a;
    outline: none;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.5px;
}
.settings .sub-header ul li a:hover,
.settings .sub-header ul li a:focus,
.settings .sub-header ul li a.active{
	color: #fff;
}
.settings .sub-header ul li a.active:before,
.settings .sub-header ul li a:hover:before{
	position: absolute;
    color: #fff;
    content: '';
    top: 0px;
    bottom: 2px;
    left: 0px;
    right: 0px;
    border-bottom: 3px solid #14acff;
}
.settings .form-control:focus {
    border-color: #208d6e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(32, 141, 110, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(32, 141, 110, .6);
}

/* user profile */
.settings .user-profile{
    min-height: calc(100vh - 160px);
    font-size: 16px;
}
.settings .user-profile .users{
    padding-top: 15px;
}
.settings .user-profile .users .add-user{
    background: #1d8e70;
    border: 1px solid #1b8368;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    line-height: 48px;
    cursor: pointer;
    margin-bottom: 8px;
}
.settings .user-profile .users ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.settings .user-profile .users ul li{
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.settings .user-profile .users ul li:hover,
.settings .user-profile .users ul li.active{
    background: #dbdfe0;
    outline: none;
}
.settings .user-profile .users ul li img[alt="user_dp"]{
    width: 50px;
    height: 50px;
}
.settings .user-profile .users ul li span.name{
    padding-left: 7px;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #012032;
    vertical-align: middle;
    display: inline-block;
}

.settings .user-profile .user-data{
    border: 1px solid #dcdedd;
    min-height: 250px;
    background: #fff;
    border-top: 0;
}
.settings .user-profile .user-data .head{
    background: #eeeff1;
    padding: 10px;
}
.settings .user-profile .user-data .head img[alt="user_dp"]{
    width: 60px;
    height: 60px;
}
.settings .user-profile .user-data .head .pull-left{
    width: 70%;
}
.settings .user-profile .user-data .head .pull-left .image{
    float: left;
}
.settings .user-profile .user-data .head .pull-left .text{
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    width: 85%;
}
.settings .user-profile .user-data .head .pull-left .text p{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #767676;
}
.settings .user-profile .user-data .head .pull-right span{
    line-height: 65px;
    padding-right: 15px;
    font-size: 14px;
    color: #3f5a51;
}
.settings .user-profile .user-data .content{
    padding: 70px 38px;
    overflow: hidden;
}
.settings .user-profile .user-data .content .pull-left{
    width: 44.6%;
}
.settings .user-profile .user-data .content .user-management{
    color: #6f6f6f;
    padding-top: 28px;
    border-bottom: 1px solid #d8d8d8;
}
.settings .user-profile .user-data .content .user-management p{
    font-size: 18px;
    color: #4e4e4e;
}
.settings .user-profile .user-data .content .user-management .permissions,
.settings .user-profile .user-data .content .user-management .jobs,
.settings .user-profile .user-data .content .user-management .user{
    margin-bottom: 28px;
}
.settings .user-profile .user-data .content .user-management .form-group{
    padding: 18px 0;
    margin: 0;
}
.settings .user-profile .user-data .content .user-management .form-group select{
    width: 150px;
    height: 40px;
}
.settings .user-profile .user-data .content .user-management .form-group label{
    font-weight: normal;
    color: #6f6f6f;
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch{
    
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch label{
    margin: 0;
    margin-left: -4px;
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch span{
    width: 75px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch label input[type="radio"]{
    display: none;
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch label input[type="radio"]:checked + span{
    background: #2aa382;
    color: #fff;
    border-color: #2aa382
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch label:first-child span{
    border-radius: 5px 0 0 5px;
}
.settings .user-profile .user-data .content .user-management .form-group .radio-switch label:last-child span{
    border-radius: 0 5px 5px 0;
}
.settings .user-profile .user-data .content .footer{
    padding: 25px 0;
}
.settings .user-profile .user-data .content .footer .btn-update{
    width: 214px;
    height: 54px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    background: #1c8f6e;
    border: 1px solid #1c8368;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: inline-block;
}
.settings .user-profile .user-data .content .footer .btn-cancel{
    margin-right: 22px;
    font-size: 15px;
    color: #777777;
}

 /* angular material styles */
.settings md-input-container .md-input.ng-invalid.ng-dirty,
.settings md-input-container.md-input-focused .md-input{
    border-width: 0 0 1px
}
.settings md-input-container:not(.md-input-invalid).md-input-focused .md-input,
.settings md-select:not([disabled]):focus .md-select-value{
    border-color: #208d6e;
    border-bottom-width: 1px;
}
.settings md-input-container.md-input-has-value .md-select-value .md-select-icon::after {
    content: url("../images/arrow-dropdown-active.svg") !important;
    display: inline !important;
}
.settings .user-profile .users md-input-container{
    margin-bottom: -14px;
}
.settings .user-profile md-input-container label{
    margin-bottom: 0;
    color: #767877;
}
.settings .user-profile .content md-input-container .md-input{
    padding: 2px 2px 16px;
}
.settings .user-profile .content md-input-container{
    margin-bottom: 30px;
}
.settings .user-profile .content md-input-container .md-placeholder,
.settings .user-profile .content md-input-container label:not(.md-no-float):not(.md-container-ignore){
    -webkit-transform: translate3d(0,23px,0) scale(1);
    transform: translate3d(0,23px,0) scale(1);
}
.settings .user-profile .content md-input-container.md-input-has-value label:not(.md-no-float),
.settings .user-profile .content md-input-container:not(.md-input-invalid).md-input-focused label{
    -webkit-transform: translate3d(0,6px,0) scale(.85);
    transform: translate3d(0,-8px,0) scale(.85);
}
.settings .user-profile .content md-input-container.select-box.md-input-has-value label{
    -webkit-transform: translate3d(0,2px,0) scale(.85);
    transform: translate3d(0,2px,0) scale(.85);
}
.settings .user-profile .content md-select .md-select-value{
    padding-bottom: 10px;
}
.settings .user-profile .feedback{
    position: absolute;
    outline: none;
    right: 1px;
    top: 4px;
 }
.settings .user-profile .feedback + input{
    padding-right: 25px;
 }

 /* responsive */
 @media (min-width: 768px){
    .settings .user-profile .col-sm-9 {
        width: 76.6%;
        padding: 0;
    }
    .settings .user-profile .col-sm-3 {
        width: 23.4%;
    }
}


/* My Profile */
.settings .my-profile{
    min-height: calc(100vh - 160px);
    font-size: 16px;
}
.settings .my-profile .container .details{
    background: #fff;
    min-height: 1018px;
    text-align: center;
    padding-top: 104px;
    padding-bottom: 70px;
    border: 1px solid #cdcdcd;
    border-top: 0;
    box-shadow: 1px 1px 5px #cdcdcd; 
}
.settings .my-profile .container .details img[alt="display_pic"]{
    width: 120px;
    height: 120px;
    border: 5px solid #00a5ff;
}
.settings .my-profile .container .details p{
    color: #666666;
    margin: 10px 0 0;
}
.settings .my-profile .container .details .checkbox{
    color: #9a9a9a;
    font-size: 13px;
    margin-top: 2px;
    letter-spacing: 0.4px;
    position: relative;
}
.settings .my-profile .container .details .checkbox input[type="checkbox"]:before{
    content: '';
    border: 1px solid #999999;
    border-radius: 3px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    top: -4px;
    right: 0px;
    cursor: pointer;
}
.settings .my-profile .container .details .checkbox input[type="checkbox"]:checked:after{
    content: '\2713';
    position: absolute;
    top: -8px;
    right: -2px;
    font-size: 24px;
    cursor: pointer;
}
.settings .my-profile .container .details .content{
    width: 30%;
    margin: 0 auto;
    margin-top: 75px;
}
.settings .my-profile .container .details .content p{
    text-align: left;
    color: #1f8c6f;
    font-size: 18px;
    text-shadow: 1px 1px #1f8c6f;
    outline: none;
}
.settings .my-profile .container .details .content .btn-confirm{
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    background: #1c8f6e;
    border: 1px solid #1c8368;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: block;
}
.settings .my-profile .container .details .content .btn-cancel{
    font-size: 14px;
    margin-top: 26px;
    display: block;
    color: #9d9f9e;
    cursor: pointer;
    outline: none;
}

/* angular material */
.settings .my-profile .container .details .content md-input-container{
    margin-bottom: 45px;
}
.settings .my-profile .container .details .content md-input-container label{
    color: #676767;
}
.settings .my-profile .container .details .content md-input-container .md-input{
    padding-bottom: 15px;
}
.settings .my-profile .container .details .content md-input-container.md-input-has-value label:not(.md-no-float){
    -webkit-transform: translate3d(0,-2px,0) scale(.85);
    transform: translate3d(0,-2px,0) scale(.85);
}
.settings .my-profile .container .details .content md-input-container:not(.md-input-invalid).md-input-focused label{
    -webkit-transform: translate3d(0,-2px,0) scale(.85);
    transform: translate3d(0,-2px,0) scale(.85);
}



/* Company Profile */
.settings .company-profile{
    min-height: calc(100vh - 160px);
}