.settings .company-profile {
  min-height: calc(100vh - $width);
  font-size: 16px; }
  .settings .company-profile .container .details {
    background: #fff;
    padding: 46px 28px;
    border: 1px solid #cdcdcd;
    border-top: 0;
    box-shadow: 1px 1px 5px #cdcdcd; }
  .settings .company-profile .company-name span {
    font-size: 14px;
    color: #666; }
  .settings .company-profile .company-name h3 {
    text-transform: capitalize;
    margin: 10px 0;
    color: #333333; }
  .settings .company-profile .company-details {
    padding-top: 42px; }
    .settings .company-profile .company-details div.clearfix md-input-container {
      float: left;
      width: 45%;
      margin-bottom: 20px; }
      .settings .company-profile .company-details div.clearfix md-input-container:first-child {
        margin-right: 70px; }
      .settings .company-profile .company-details div.clearfix md-input-container:not(.select-box) {
        margin-top: 27px; }
      .settings .company-profile .company-details div.clearfix md-input-container label {
        color: #676767; }
      .settings .company-profile .company-details div.clearfix md-input-container .md-input {
        padding: 2px 2px 16px; }
      .settings .company-profile .company-details div.clearfix md-input-container md-select .md-select-value {
        padding-bottom: 10px; }
      .settings .company-profile .company-details div.clearfix md-input-container .md-placeholder, .settings .company-profile .company-details div.clearfix md-input-container label:not(.md-no-float):not(.md-container-ignore) {
        -webkit-transform: translate3d(0, 23px, 0) scale(1);
        transform: translate3d(0, 23px, 0) scale(1); }
      .settings .company-profile .company-details div.clearfix md-input-container.md-input-has-value label:not(.md-no-float) {
        -webkit-transform: translate3d(0, -8px, 0) scale(0.85);
        transform: translate3d(0, -8px, 0) scale(0.85); }
      .settings .company-profile .company-details div.clearfix md-input-container:not(.md-input-invalid).md-input-focused label {
        -webkit-transform: translate3d(0, -8px, 0) scale(0.85);
        transform: translate3d(0, -8px, 0) scale(0.85); }
      .settings .company-profile .company-details div.clearfix md-input-container.select-box.md-input-has-value label {
        -webkit-transform: translate3d(0, 2px, 0) scale(0.85);
        transform: translate3d(0, 2px, 0) scale(0.85); }
    .settings .company-profile .company-details div.form-group {
      margin-bottom: 40px; }
      .settings .company-profile .company-details div.form-group label {
        color: #676767;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: normal; }
      .settings .company-profile .company-details div.form-group textarea {
        resize: none;
        font-size: 18px;
        line-height: 25px; }
      .settings .company-profile .company-details div.form-group .max_length {
        float: right;
        color: #676767; }
    .settings .company-profile .company-details div.specialties {
      margin-bottom: 40px; }
      .settings .company-profile .company-details div.specialties span {
        color: #676767;
        margin-bottom: 12px;
        font-size: 14px; }
      .settings .company-profile .company-details div.specialties p {
        font-size: 18px;
        line-height: 25px;
        min-height: 160px;
        max-height: 160px; }
    .settings .company-profile .company-details div.referral-bonus-policy {
      margin-bottom: 40px; }
      .settings .company-profile .company-details div.referral-bonus-policy span {
        color: #676767;
        margin-bottom: 12px;
        font-size: 14px; }

/*# sourceMappingURL=style.css.map */
