<table style='min-width:650px' align="center" bgcolor="#EAEFF2">
	<tr align="center"><td><img src="http://localhost/mintmesh_enterprise/development/public/images/logo.png" alt="brand-logo" height="60px"></td></tr>
	<tr>
		<td style="padding:20px">
			<table bgcolor="#fff" width="100%">
				<tr>
					<td>
						<h2 style="text-align:center;color:#cc6c5a;margin:0;padding:30px 0">Thank you for joining MintMesh</h2>
					</td>
				</tr>
				<tr>
					<td style="padding:5px">
						<strong>Hello Vam</strong>
					</td>
				</tr>
				<tr>
					<td style="padding:5px">
						<p>You have successfully created MintMesh account for <span>vamshit.hodeti@gmail.com</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding:5px">
						<p>To complete the process, active your account using the bellow activation link.</p>
					</td>
				</tr>
				<tr>
					<td><button>Verify Account</button></td>
				</tr>
				<tr>
					<td style="padding:5px">
						Sincerely,<br>
						<span>MintMesh Team</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>