<body style="margin:0px; font-family: 'arial', sans-serif;font-weight:300;font-size:18px;">
    <table style='min-width:550px;width: 550px' align="center" bgcolor="#EAEFF2 ">
        <tr align="center"><td><img src="http://localhost/mintmesh_enterprise/development/public/images/logo.png" alt="brand-logo" height="60px"></td></tr>
        <tr>
            <td style="padding:20px">
                <table bgcolor="#fff" width="100%">
                    <tr>
                        <td>
                            <h2 style="text-align:center;color:#cc6c5a ;margin:0;padding:30px 0">Thank you for joining MintMesh</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;padding: 20px 0">
                            <img src="http://localhost/mintmesh_enterprise/development/public/images/email-template-icon.svg" alt="mail-icon">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px 15px">
                            <strong style="font-size: 20px;color: #403B3B ">Hello Vam</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px 15px">
                            <p style="color: #666666 ;line-height: 1.6em">You have successfully created MintMesh account for <span>vamshit.hodeti@gmail.com</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px 15px">
                            <p style="color: #666666 ;line-height: 1.6em">To complete the process, please verify your email account.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><button style="background: #219070 ;padding: 18px 40px;color: white;outline: none;border: 0;font-size: 18px;margin: 50px 0 100px;">VERIFY YOUR ACCOUNT &nbsp;<img src="http://localhost/mintmesh_enterprise/development/public/images/arrow-buttons.svg" style="margin-top: -2px;"></button></td>
                    </tr>
                    <tr>
                        <td style="padding-left:15px;line-height: 1.6em;font-size: 16px">
                            <span style="font-size: 18px">Sincerely,</span><br>
                            <span style="color: #666666 ">MintMesh Team</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;color: #666;font-size: 18px;line-height: 1.6em">
                <p>If you need assistance, please contact MintMest Support. (<a href="" style="text-decoration: none;color: black"><mark style="background: rgba(255, 255, 0, 0.5);">support@mintmesh.com</mark></a>)</p>
            </td>
        </tr>
    </table>
</body>