<div class="company-profile">

	<header class="text-center">
		<a href=""><img src="public/images/logo.png" class="logo"></a>
	</header>

	<section>

		<div class="container">
			<div class="row">

				<div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 20px;height: 680px;overflow: hidden;">
					<form role="form" name="company_form" novalidate  enctype="multipart/form-data" method="post">

						<div style="height: 658px;width: 1000px;position: relative;">
							<div class="company go_0 animate same" ng-if="compCtrl.go_0"  style="width: 750px">
								<div class="company-header">
									<p><img src="public/images/tickmark.svg">&nbsp;&nbsp;Thank you for verifying your email.</p>
								</div>
								<div class="company-content">
									<h3>Complete Your Company Profile</h3>
									<div style="width: 60%">
										<md-input-container class="md-block">
											<label>COMPANY*</label>
											<img src="public/images/cross.svg" class="feedback" ng-show="showValue">
			  								<input type="text" name="comp_name" ng-model="compCtrl.comp_name" ng-focus="showValue=true" ng-blur="showValue=false"  ng-class="{'has-error-border':company_form.comp_name.$invalid && compCtrl.comp1_show_error}" required>
			  								<div ng-if="company_form.comp_name.$error.required && compCtrl.comp1_show_error"  class="has-error-msg">Please Enter Company Name</div>
										</md-input-container>
										<md-input-container class="md-block">
								            <label>INDUSTRY*</label>
								            <md-select ng-model="compCtrl.industry" required name="industry" ng-class="{'has-error-border':company_form.industry.$invalid && compCtrl.comp1_show_error}">
								              <md-option ng-repeat="industry in compCtrl.industry_list" ng-value="industry">
								                {{industry.industry_name}}
								              </md-option>
								            </md-select>
								            <div ng-if="company_form.industry.$error.required && compCtrl.comp1_show_error"  class="has-error-msg">Please Select Industry</div>
								        </md-input-container>
									</div>
									<div class="description">
										<label for="desc">DESCRIPTION</label>
										<textarea rows="4" class="form-control" id="desc" spellcheck="false" ng-model="compCtrl.desc"></textarea>
									</div>
								</div>
								<div class="company-footer text-center clearfix">
									<ul class="indicators">
										<li class="active"></li>
										<li ng-click="compCtrl.jump(1,company_form.$valid)"></li>
										<li></li>
									</ul>
									<div class="pull-right">
										<input type="button" class="btn btn-style" ng-click="compCtrl.jump(1,company_form.$valid);compCtrl.step1()" value="NEXT"><!-- 	&nbsp;&nbsp;<img src="public/images/arrow-buttons.svg" style="margin-top: -2px;"> -->
									</div>
								</div>
							</div>

							<div class="company go_2 animate same" ng-if="compCtrl.go_1"  style="width: 750px">
								<div class="company-content">
									<h3>Number of Employees in your Company</h3>
									<div class="cmp-size">
										<ul class="row text-center">
											<li class="col-sm-2 col-xs-3" ng-repeat="group in compCtrl.group_size">
												<label>
													<span ng-class="{'has-color':group == $parent.value }">{{group}}</span>
													<input type="radio" name="r1" ng-model="$parent.value" ng-value="group" ng-click="compCtrl.radio($parent.value)"><label></label>
												</label>
											</li>
										</ul>
									</div>
									<div style="padding: 40px 0;">
										<h3 style="margin-bottom: 20px">Referral Bonus Policy</h3>
										<!-- <label for="pdf">
											<span class="btn btn-default" style="padding: 10px 50px;">UPLOAD FILE</span>
										</label>
										<div id="doc-name"></div> -->
										<!-- <input type="file" id="pdf" accept=".pdf,.doc,.docx" value="UPLOAD FILE"> -->
										<input type="file" name="file_pdf" id="pdf" accept=".pdf,.doc,.docx" onchange="pdf_fun()">
										<label for="pdf">
											<span id="pdf_value"></span>
											<strong style="padding: 0.625rem 1.25rem;color: #666">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
													<path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
												</svg>
												Choose a file…
											</strong>
										</label>
										<p style="visibility: hidden;" id="errorPdf">Please Select File Less Than 10 MB</p>
										<p style="color: #BDBDBD;margin: 10px 0">Supported file format: .Pdf, .doc, .docx. Max file size (10MB)</p>
									</div>
								</div>
								<div class="company-footer text-center clearfix">
									<div class="pull-left">
										<img src="public/images/arrow-back.svg" ng-click="compCtrl.prev(0,1)" style="margin-top: 10px;">
									</div>
									<ul class="indicators">
										<li ng-click="compCtrl.prev(0,1)"></li>
										<li class="active"></li>
										<li ng-click="compCtrl.jump(2,company_form.$valid)"></li>
									</ul>
									<div class="pull-right">
										<input type="button" class="btn btn-style" value="NEXT" ng-click="compCtrl.jump(2,company_form.$valid)"><!-- 	&nbsp;&nbsp;<img src="public/images/arrow-buttons.svg" style="margin-top: -2px;"> -->
									</div>
								</div>
							</div>

							<div class="company go_1 animate same" ng-if="compCtrl.go_2" style="color: #666;width: 750px">

								<div ng-repeat="(key,val) in compCtrl.form_data">
									<input type="hidden" name="{{key}}" value="{{val}}">
								</div>

								<div class="company-content">
									<h3>Complete your company profile:</h3>
									<div style="width: 60%">
										<md-input-container class="md-block">
											<label>WEBSITE<span style="color: #999">(URL)*</span></label>
			  								<input  type="text" name="website" ng-model="compCtrl.website" required ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|www\.|https:\/\/|http:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" ng-class="{'has-error-border':company_form.website.$invalid && compCtrl.comp2_show_error}">
			  								<div ng-if="company_form.website.$error.required && compCtrl.comp2_show_error"  class="has-error-msg">Please Enter URL</div>
			  								<div ng-if="company_form.website.$error.pattern && compCtrl.comp2_show_error"  class="has-error-msg">Please Enter Valid URL</div>
										</md-input-container>
									</div>
									<div class="upload">
										<span>LOGO <small style="color: #999">(Add your company logo)</small></span>
										<div class="row">
											<div class="col-sm-3">
												<label for="upload-image">
													<img src="public/images/upload-image.svg" id="dp" class="img-thumbnail">
												</label>
												<input id="upload-image" type="file" name="logo" style="display: none" onchange="previewFile()" accept=".jpeg,.jpg,.gif,.ico">
											</div>
										</div>
									</div>
									<div class="add-img">
										<span>COMPANY IMAGES <small style="color: #999">(Add or Drag & Drop single or multiple images to upload)</small></span>
										<div class="row">
											<!-- <div ng-repeat='x in [1,2,3,4]'>
												<div class="col-sm-4 col-xs-6 col-md-3">
													<label for="add-image-{{$index}}">
														<img src="public/images/add-image.svg">
													</label>
													<input id="add-image-{{$index}}" type="file" name="add-img" style="display: none;">
												</div>
											</div> -->
											<div class="col-sm-4 col-xs-6 col-md-3">
												<label for="add-image-0">
													<img src="public/images/add-image.svg" id="dp-0" class="img-thumbnail">
												</label>
												<input id="add-image-0" type="file" name="add-img" style="display: none;" onchange="previewFiles('0')">
											</div>
											<div class="col-sm-4 col-xs-6 col-md-3">
												<label for="add-image-1">
													<img src="public/images/add-image.svg" id="dp-1" class="img-thumbnail">
												</label>
												<input id="add-image-1" type="file" name="add-img" style="display: none;" onchange="previewFiles('1')">
											</div>
											<div class="col-sm-4 col-xs-6 col-md-3">
												<label for="add-image-2">
													<img src="public/images/add-image.svg" id="dp-2" class="img-thumbnail">
												</label>
												<input id="add-image-2" type="file" name="add-img" style="display: none;" onchange="previewFiles('2')">
											</div>
											<div class="col-sm-4 col-xs-6 col-md-3">
												<label for="add-image-3">
													<img src="public/images/add-image.svg" id="dp-3" class="img-thumbnail">
												</label>
												<input id="add-image-3" type="file" name="add-img" style="display: none;" onchange="previewFiles('3')">
											</div>
										</div>
									</div>
								</div>
								<div class="company-footer text-center clearfix">
									<div class="pull-left">
										<img src="public/images/arrow-back.svg" ng-click="compCtrl.prev(1,2)"  style="margin-top: 10px;">
									</div>
									<ul class="indicators">
										<li ng-click="compCtrl.prev(0,1)"></li>
										<li ng-click="compCtrl.prev(1,2)"></li>
										<li class="active"></li>
									</ul>
									<div class="pull-right">
										<input  class="btn btn-style" ng-click="compCtrl.valid()" type="submit" value="CONTINUE"><!-- 	&nbsp;&nbsp;<img src="public/images/arrow-buttons.svg" style="margin-top: -2px;"> -->
									</div>
								</div>
							</div>
							
							<div class="company go_3 animate same" ng-if="compCtrl.go_3"  style="width: 750px">
								<div class="company-content">
									<div class="final_state row text-center">
										<img src="public/images/tickmark.svg">
										<h2>GREAT!</h2>
										<p>Company profile has been created. </p>
										<div class=" col-sm-7 hr-style" style="border-bottom: 1px solid #ccc">
											<div class="dotted-border">
												<p>Your MintMesh connect code is</p>
												<input type="text" readonly ng-model="compCtrl.company_code">
												<p>Share it with your contacts to get connected <a href="">WHY?</a></p>
											</div>
										</div>
										<button class="btn btn-style" ng-click="compCtrl.upload_contacts()">UPLOAD CONTACTS &nbsp;&nbsp;<img src="public/images/arrow-buttons.svg" style="margin-top: -2px;"></button>
									</div>
								</div>
							</div>

						</div>

					</form>
				</div>
				
			</div>
		</div>
	</section>
</div>


<script type="text/javascript">

	function pdf_fun(){
		var preview = document.querySelector('#pdf_value');
		var file = document.querySelector('#pdf').files[0];
		var errorMsg = document.querySelector('#errorPdf');
		var fileSize = file.size;
		if(fileSize <= (10 * 1024 * 1024)){
			preview.innerHTML = file.name;
		}
		else{
			errorMsg.style.visibility = 'visible'
		}
		console.log(file)

		/*var path = document.getElementById("pdf").value
		var fileName = path.match(/[^\/\\]+$/);
		document.getElementById("pdf_value").innerHTML=fileName[0];*/
	}
	function previewFile() {
		 var preview = document.querySelector('#dp');
		 var file    = document.querySelector('#upload-image').files[0];
		 var reader  = new FileReader();

		 reader.addEventListener("load", function () {
		   preview.src = reader.result;
		 }, false);

		 if (file) {
		   reader.readAsDataURL(file);
		 }
	}
	function previewFiles(id) {
		 var preview = document.querySelector('#dp-'+id);
		 var file    = document.querySelector('#add-image-'+id).files[0];
		 var reader  = new FileReader();

		 reader.addEventListener("load", function () {
		   preview.src = reader.result;
		 }, false);

		 if (file) {
		   reader.readAsDataURL(file);
		 }
	}

</script>