<section>

	<div class="container">
		<div class="main-title">
			<h2>Welcome Back! <span ng-bind="DashCtrl.username"></span></h2>
		</div>

		<div class="panel-group">
			<!-- <div class="text-center" style="padding: 20px 0 0 0;cursor: pointer;">
				<span style="padding-bottom: 10px;border-bottom: 1px solid #ccc">Month to Date&nbsp;<strong>&nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong></span>
			</div> -->
			<div class="row">
				<div class="panel panel-default">
					<strong style="color: #F98017">REFERRALS</strong>
					<span>4,256</span>
				</div>
				<div class="arrow">
					<img src="public/images/arrow-buttons-grey.svg">
				</div>
				<div class="panel panel-default">
					<strong style="color: #14A5F8">ACCEPTED</strong>
					<span>1,874</span>
				</div>
				<div class="arrow">
					<img src="public/images/arrow-buttons-grey.svg">
				</div>
				<div class="panel panel-default">
					<strong style="color: #539F32">HIRES</strong>
					<span>876</span>
				</div>
				<div class="arrow">
					<img src="public/images/arrow-buttons-grey.svg">
				</div>
				<div class="panel panel-default">
					<strong style="color: #48BBC0">REWARDS</strong>
					<span>&#36; 18,740</span>
				</div>
			</div>
		</div>
	</div>

	<div class="circle-stats">
		<div class="text-center" style="padding: 20px 0 0 0;cursor: pointer;">
			<span style="padding-bottom: 12px;border-bottom: 1px solid #ccc">Last&nbsp;<strong>7 Days <img src="public/images/arrow-dropdown-black.svg"></strong></span>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4" style="margin-bottom: 30px">
					<div class="text-center" style="font-weight: 500">
						CONTACTS ENGAGEMENT
					</div>
					<div class="circlestat" data-dimension="200" data-text="80%" data-width="10" data-fontsize="36" data-percent="80" data-fgcolor="#45BAC1" data-bgcolor="#eee" data-bordersize="20"><!-- <span class="circle-info-half">User Satisfaction</span> --></div>
					<div class="text-center" style="color: #222">
						<span class="arrow-up"></span>&nbsp;Engagement Increased by <span class="text-increase">10%</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4" style="margin-bottom: 30px">
					<div class="text-center" style="font-weight: 500">
						JOBS REACH
					</div>
					<div class="circlestat" data-dimension="200" data-text="62%" data-width="10" data-fontsize="36" data-percent="62" data-fgcolor="#16A4FA" data-bgcolor="#eee" data-bordersize="20"><!-- <span class="circle-info-half">User Satisfaction</span> --></div>
					<div class="text-center" style="color: #222">
						<span class="arrow-down"></span>&nbsp;Reach Decreased by <span class="text-decrease">3%</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4" style="margin-bottom: 30px">
					<div class="text-center">
						REWARDS CLAIMED
					</div>
					<div class="circlestat" data-dimension="200" data-text="40%" data-width="10" data-fontsize="36" data-percent="40" data-fgcolor="#FA8214" data-bgcolor="#eee" data-bordersize="20"><!-- <span class="circle-info-half">User Satisfaction</span> --></div>
					<div class="text-center" style="color: #222">
						<span class="arrow-up"></span>&nbsp;Claim Increased by <span class="text-increase">6%</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="referrals-hires">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" style="margin-bottom: 30px;">
					<div style="padding: 15px 0">
						<span>Referrals in the last <strong style="cursor: pointer;">7 Days &nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong></span>
						<span class="pull-right">Referrals Increased &nbsp;<span class="arrow-up"></span></span>
					</div>
					<ul class="referrals">
						<li class="clearfix">
							<!-- <div class="pull-left"> -->
								<div class="pull-left" style="position: relative;padding-right: 10px">
									<img src="public/images/Ui_Faces/John Butler.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #E9832E">
									<img src="public/images/Ui_Faces/Steve Chris.jpg" class="img-responsive img-circle sub-img">
								</div>
								<div class="content">
									<span><strong>John Butler</strong> got referred for <strong>UI/UX Designer</strong></span><br>
									<span>by Steve Chris</span>
									<span><span class="vr"></span>&nbsp;<i class="fa fa-clock-o"></i> 12 mins ago<span class="pull-right text-pending">Pending</span></span>
								</div>
							<!-- </div> -->
							<!-- <span class="pull-right text-pending status">Pending</span> -->
						</li>
						<hr>
						<li class="clearfix">
							<!-- <div class="pull-left"> -->
								<div class="pull-left" style="position: relative;padding-right: 10px">
									<img src="public/images/Ui_Faces/Daniel.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #0F8EDB">
									<img src="public/images/Ui_Faces/Julia Lawson.jpg" class="img-responsive img-circle sub-img">
								</div>
								<div class="content">
									<span><strong>Daniel</strong> got referred for <strong>Salesforce Architect</strong></span><br>
									<span>by Julia Lawson</span>
									<span><span class="vr"></span>&nbsp;<i class="fa fa-clock-o"></i> 25 mins ago<span class="pull-right text-accepted">Accepted</span></span>
								</div>
							<!-- </div> -->
							
						</li>
						<hr>
						<li class="clearfix">
							<!-- <div class="pull-left"> -->
								<div class="pull-left" style="position: relative;padding-right: 10px">
									<img src="public/images/Ui_Faces/Christopher.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #0F8EDB">
									<img src="public/images/Ui_Faces/Kristene Scot.jpg" class="img-responsive img-circle sub-img">
								</div>
								<div class="content">
									<span><strong>Christopher</strong> got referred for <strong>iOS Developer</strong></span><br>
									<span>by Kristene Scot</span>
									<span><span class="vr"></span>&nbsp;<i class="fa fa-clock-o"></i> 1 day ago<span class="pull-right text-accepted">Accepted</span></span>
								</div>
							<!-- </div> -->
							<!-- <span class="pull-right text-accepted" style="padding: 30px 0 0 0;line-height: 2em">
							Accepted</span> -->
						</li>
						<hr>
						<li class="clearfix">
							<!-- <div class="pull-left"> -->
								<div class="pull-left" style="position: relative;padding-right: 10px">
									<img src="public/images/Ui_Faces/Johnson.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #FD4243">
									<img src="public/images/Ui_Faces/Mary L.jpg" class="img-responsive img-circle sub-img">
								</div>
								<div class="content">
									<span><strong>Johnson</strong> got referred for <strong>UI/UX Designer</strong></span><br>
									<span>by Mary L</span>
									<span><span class="vr"></span>&nbsp;<i class="fa fa-clock-o"></i> 1 day ago<span class="pull-right text-declined">Declined</span></span><!-- <span class="vr"></span>&nbsp;
									<span class="paid">Paid $5</span> -->
								</div>
							<!-- </div> -->
							<!-- <span class="pull-right text-declined" style="padding: 30px 0 0 0;line-height: 2em">Declined</span> -->
						</li>
					</ul>
				</div>
				<div class="col-lg-6" style="margin-bottom: 30px">
					<div style="padding: 15px 0">
						<span>Hires in the last <strong style="cursor: pointer;">7 Days &nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong></span>
						<span class="pull-right">Hires Decreased &nbsp;<span class="arrow-down"></span></span>
					</div>
					<ul class="hires">
						<li class="clearfix">
							<div class="pull-left" style="padding: 5px 0;line-height: 2em">
								<strong>Salesforce Architect</strong><br>
								<span class="paid">Paid $5</span>
							</div>
							<!-- <div class="pull-right"> -->
								<div class="pull-right" style="position: relative;">
									<img src="public/images/Ui_Faces/Daniel.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #468A25">
									<img src="public/images/Ui_Faces/Julia Lawson.jpg" class="img-responsive img-circle sub-img">
								
									<div class="content">
										<span><strong>Daniel</strong> got referred by</span><br>
										<span>Julia Lawson</span><span class="vr"></span>
										<span>&nbsp;<i class="fa fa-clock-o"></i> 1 day ago</span>
									</div>
								</div>
							<!-- </div> -->
						</li>
						<hr>
						<li class="clearfix">
							<div class="pull-left" style="padding: 5px 0;line-height: 2em">
								<strong>iOS Developer</strong><br>
								<span class="paid">Paid $10</span>
							</div>
							<!-- <div class="pull-right"> -->
								<div class="pull-right" style="position: relative;">
									<img src="public/images/Ui_Faces/Christopher.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #468A25">
									<img src="public/images/Ui_Faces/Kristene Scot.jpg" class="img-responsive img-circle sub-img">
									<div class="content">
										<span><strong>Christopher</strong> got referred by</span><br>
										<span>Kristene Scot</span><span class="vr"></span>
										<span>&nbsp;<i class="fa fa-clock-o"></i> 3 day ago</span>
									</div>
								</div>
							<!-- </div> -->
						</li>
						<hr>
						<li class="clearfix" style="min-height: 107px;">
							<!-- <div class="pull-left" style="padding: 5px 0;line-height: 2em">
								<strong>Java Developer</strong><br>
								<span class="paid">Paid $6</span>
							</div>
							<div class="pull-right">
								<img src="public/images/Ui_Faces/Daniel.jpg" class="pull-left img-responsive img-circle dp" style="border: 3px solid #468A25">
								<div class="content">
									<span><strong>Daniel</strong> got referred by</span><br>
									<span>Willmark </span><span class="vr"></span>
									<span>&nbsp;<i class="fa fa-clock-o"></i> 4 day ago</span>
								</div>
							</div> -->
						</li>
						<hr>
						<li class="clearfix" style="min-height: 107px;"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="top-contacts">
		<div class="container">

			<div class="first">

				<div style="padding: 15px 0">Top Referrers in your <strong style="cursor: pointer;">Connections &nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong></div>

				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="conn in DashCtrl.dashboard_JSON[0].Connections">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img ng-src="public/images/Ui_Faces/{{conn.name}}.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">{{conn.name}}</strong>
									<p>{{conn.designation}}</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">{{conn.referral_made}}</big>
								</div>
								<!-- <div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">568</big>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="second">

				<div style="padding: 15px 0">Top Contacts by <strong>Department &nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong> &nbsp;and <strong>Location &nbsp;<img src="public/images/arrow-dropdown-black.svg"></strong></div>

				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">Johnson</strong>
									<p>UI/UX Designer</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">40</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">460</big>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">John Butler</strong>
									<p>UI/UX Designer</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">36</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">456</big>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">Willmark</strong>
									<p>iOS Developer</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">36</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">435</big>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">Christopher</strong>
									<p>UI Manager</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">62</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">492</big>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">Steve Chris</strong>
									<p>Resource Manager</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">56</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">480</big>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="box clearfix">
							<div class="clearfix">
								<div class="pull-left">
									<img src="public/images/dp.jpg" class="img-responsive img-circle dp">
								</div>
								<div class="pull-left" style="line-height: 1.5em;padding: 8px 0 0 8px;">
									<strong class="name">Daniel</strong>
									<p>Sr. Software Engineer</p>
								</div>
							</div>
							<hr>
							<div class="row" style="font-size: 14px;">
								<div class="col-lg-6">
									<span>REFERRALS MADE</span><br>
									<big class="count">50</big>
								</div>
								<div class="col-lg-6">
									<span>TOTAL CONTACTS</span><br>
									<big class="count">479</big>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>